
@{
    ViewBag.Title = "Website's Rules - book.vinadaytravel.com ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://book.vinadaytravel.com ">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Website's Rules
        </span>
    </div>
    <article class="main-content">
        <h1>QUY CHẾ HOẠT ĐỘNG CỦA SÀN GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ goreise.com</h1>
        <p class="text-center">(Cập nhật ngày 30.06.2014)</p>
        <br>
        <p>
            goreise.com được thành lập năm 2010, với hơn 4 năm kinh nghiệm trong lĩnh vực cung cấp phòng khách sạn, tour du lịch cho khách hàng trong và ngoài nước và là đại lý của nhiều hãng du lịch lớn trên thế giới.. Hàng năm, goreise.com thực hiện hàng ngàn chuyến du lịch cho hàng ngàn du khách. <br>
            Website  goreise.com là chuyên bán dịch vụ du lịch và khuyến mại trực tuyến liên quan đến du lịch phục vụ cho nhà cung cấp dịch vụ du lịch như phòng nghỉ, tua du lịch, thuê xe và người mua - khách du lịch.<br>
            Ngoài ra, khi là thành viên trên website goreise.com, quý vị được tham gia vào chương trình điểm thưởng được quy đổi ra đêm nghỉ miễn phí hoặc các khấu trừ du lịch khác.
        </p>
        <h2>I. Nguyên tắc chung</h2>
        <p>Website khuyến mại trực tuyến goreise.com do Công Ty TNHH Lý Ngô Việt Nam (Công ty) thực hiện sở hữu và vận hành. Thành viên trên website khuyến mại trực tuyến  goreise.com là các thương nhân, tổ chức, cá nhân có hoạt động thương mại hợp pháp được Công ty chấp nhận.</p>
        <h2>II. Quy định chung</h2>
        <h3>1 - Định nghĩa</h3>
        <p>
            Nhà cung cấp (NCC): Là thương nhân, tổ chức, cá nhân cung cấp khuyến mại cho dịch vụ khách sạn và du lịch thông qua hình thức phiếu mua hàng (Voucher).<br>
            Thành viên (Khách hàng - KH): Là khách hàng có nhu cầu mua phiếu hoặc nhận thông tin về khuyến mại của NCC tiến hành lập tài khoản tại Website  goreise.com
        </p>
        <h3>2 - Quy định chung</h3>
        <p>
            Thành viên tham gia giao dịch tại  website khuyến mại trực tuyến goreise.com  tự do lựa chọn những khuyến mại mà NCC đăng bán thông qua hình thức phiếu mua hàng (voucher), không trái với qui định của pháp luật.<br>
            Dịch vụ khách sạn và du lịch được NCC khuyến mại trên website khuyến mại trực tuyến  goreise.com phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật.<br>
            Hoạt động mua bán voucher thông qua  website khuyến mại trực tuyến goreise.com  phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của Thành viên.<br>
            Các thông tin mà khách hàng đăng ký là thành viên của website khuyến mại trực tuyến  goreise.com phải chính xác, đầy đủ theo quy định của Công ty.<br>
            Tất cả các nội dung trong Quy định này phải tuân thủ theo hệ thống pháp luật hiện hành của Việt Nam. Thành viên khi tham gia vào website khuyến mại trực tuyến  goreise.com phải tự tìm hiểu trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế của website khuyến mại trực tuyến  goreise.com .
        </p>
        <h2>III. Quy trình giao dịch</h2>
        <h3>1 - Quy trình mua hàng trên Website goreise.com</h3>
        <p>
            Khi có nhu cầu mua dịch vụ khuyến mại trên goreise.com thành viên nên thực hiện theo các bước sau đây:<br>
            Tìm kiếm, tham khảo thông tin dịch vụ và các nhà cung cấp dịch vụ mà thành viên đang quan tâm.<br>
            Tham khảo thông tin giá khi chưa thực hiện khuyến mại và giá đã thực hiện khuyến mại và chính sách, điều kiện thực hiện khuyến mại của NCC mà thành viên đang có nhu cầu mua.<br>
            Dựa trên thông tin tham khảo được từ bên NCC đăng tải tại Website  goreise.com , thành viên tiến hành theo các bước sau.<br>
            Mua voucher trực tiếp trên website  goreise.com , click vào nút “Đặt ngay”; Đăng nhập bằng tài khoản thành viên, facebook (Điền đầy đủ thông tin của khách hàng); Chọn hình thức thanh toán; Xác nhận lại đơn hàng; Gửi đơn đặt hàng.<br>
            Sau khi nhận được đơn đặt hàng ban quản trị website  goreise.com xác nhận lại đơn hàng với thành viên: Thực hiện việc giao phiếu mã voucher qua emai.<br>
            Thành viên nhận, sử dụng phiếu voucher, Thành viên thắc mắc, khiếu nại về chất lượng của sản phẩm, dịch vụ (nếu có)
        </p>
        <h3>2 - Quy trình dành cho người NCC</h3>
        <p><strong>Bước 1: </strong>đàm phán và ký hợp đồng với chủ website  goreise.com .</p>
        <p><strong>Bước 2: </strong>Chủ website goreise.com tạo tài khoản cho nhà cung cấp hoặc nhà cung cấp gửi các nội dung dịch vụ cho chủ website  goreise.com để tiến hành đăng tải trên goreise.com .</p>
        <p>
            <strong>Bước 3: </strong>Chủ website goreise.com chuyển các đơn hàng cho nhà cung cấp hoặc trực tiếp nhận đơn hàng và giao hàng.
        </p><h3>3 - Quy trình giải quyết tranh chấp, khiếu nại:</h3>
        <p>
            Website  goreise.com và NCC luôn có trách nhiệm tiếp nhận và xử lý khiếu nại của thành viên liên quan đến giao dịch tại website goreise.com .<br>
            KH có quyền gửi khiếu nại về việc chất lượng dịch vụ không đúng với mô tả, thông tin thanh toán bị tiết lộ gây thiệt hại cho mình đến Ban quản trị của website khuyến mại trực tuyến  goreise.com . Khi tiếp nhận những phản hồi này, Website  goreise.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, Website  goreise.com sẽ có những biện pháp xử lý kịp thời.
        </p>
        <h4>KH gửi khiếu nại tại địa chỉ :</h4>
        <p>
            Công ty: TNHH Lý Ngô Việt Nam <br>
        </p><address>
            Địa chỉ: 228 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM
        </address>
        Email: cs@vinaday.com<br>
        Điện thoại: 08-38388382<br>
        Hotline: 0937388382<br>
        <p></p>
        <h3>4 - Các bước giải quyết tranh chấp, khiếu nại</h3>
        <p>
            <strong>Bước 1: </strong>Bộ phận Chăm Sóc Khách Hàng của Công ty sẽ tiếp nhận các khiếu nại của Thành viên hoặc Bộ phận Kinh doanh sẽ tiếp nhận các khiếu nại của NCC. Các Bộ phận này chủ động giải quyết nhanh chóng và trả lời ngay kết quả giải quyết các khiếu nại trên cơ sở các Chính sách mà Công ty đã công bố. <br><strong>Bước 2: </strong>Trong trường hợp phức tạp hoặc không được quy định tại các chính sách mà Công ty đã công bố thì Bộ phận Chăm Sóc Khách Hàng/ Bộ phận Kinh doanh sẽ cam kết thời hạn phản hồi cho Thành viên/NCC không quá 7 ngày.<br>
            <strong>Bước 3: </strong>Chuyển kết quả giải quyết khiếu nại cho các bộ phận có liên quan để thực hiện (Bộ phận Kế toán &ndash; Tài chính…) và gọi điện xác nhận với Thành viên/NCC về kết quả khiếu nại đã được giải quyết.<br>
            Website  goreise.com tôn trọng và nghiêm tục thực hiện các quy định của pháp luật về bảo vệ quyền lợi của thành viên. Vì vậy, đề nghị các NCC trên  goreise.com cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến dịch vụ khách sạn và du lịch. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.<br>
            Chúng tôi công khai cơ chế giải quyết các tranh chấp phát sinh trong quá trình giao dịch trên website khuyến mại trực tuyến  goreise.com . Khi người tiêu dùng mua dịch vụ phát sinh mâu thuẫn với NCC hoặc bị tổn hại lợi ích hợp pháp,  goreise.com sẽ cung cấp cho thành viên thông tin đăng ký của NCC ngay sau khi nhận được yêu cầu của thành viên, tích cực hỗ trợ thành viên bảo vệ quyền và lợi ích hợp pháp của bản thân.<br>
            Website  goreise.com công khai cơ chế và quy trình giải quyết tranh chấp đối với các bên liên quan là: giải quyết tranh chấp theo cơ chế trao đổi thỏa thuận thống nhất, các bên liên quan sẽ thực hiện theo quy trình trao đổi gián tiếp qua điện thoại, xác nhận văn bằng email, nếu vẫn chưa thỏa thuận được thì sẽ giải quyết thông qua gặp trực tiếp để cụ thể hóa vấn đề, giải quyết triệt để vấn đề mâu thuẫn giữa các bên sao cho có lợi nhất.<br>
            Các bên bao gồm NCC, Thành viên và Website  goreise.com sẽ phải có vai trò trách nhiệm trong việc tích cực giải quyết vấn đề. Đối với NCC cần có trách nhiệm cung cấp văn bản giấy tờ chứng thực thông tin liên quan đến sự việc đang gây mâu thuẫn cho khách hàng. Đối với Website  goreise.com sẽ có trách nhiệm trọng tài tiến hành lắng nghe và tiếp nhận thông tin từ khách hàng (trong trường hợp cụ thể chúng tôi sẽ: yêu cầu khách hàng cần có trách nhiệm cung cấp chính xác các thông tin vô hình và hữu hình về vấn đề mâu thuẫn đang phát sinh cần giải quyết mà khách hàng đã tự thấy mình bị thiệt hại) và NCC, sau đó tiến hành xem xét và nêu rõ, phân tích lỗi thuộc về bên nào. Lấy ý kiến về sự thỏa thuận mức độ bồi hoàn của 2 bên và kết thúc giải quyết tranh chấp một cách thỏa đáng nhất.<br>
            Trong trường hợp chứng minh được lỗi thuộc về NCC: Website  goreise.com sẽ có biện pháp cảnh cáo, yêu cầu bồi hoàn lại toàn bộ chi phí mà thành viên đã phải bỏ ra để sở hữu voucher đó hoặc phải đổi lại dịch vụ đúng với chất lượng mà NCC thông báo tại Website  goreise.com . Nếu NCC tái phạm goreise.com sẽ chấm dứt và gỡ bỏ toàn bộ nhưng khuyến mại của NCC đó trên Website  goreise.com .<br>
            Nếu vì một lý do khách quan nào đó mà giao dịch phát sinh tranh chấp mâu thuẫn chưa thể giải quyết được, chưa thể kết luận được lỗi thuộc về bên nào cả, thì  goreise.com sẽ có trách nhiệm đứng ra bồi hoàn cho bên thiệt hại cho khách hàng. Sau đó,  goreise.com sẽ làm việc với bên gây ra thiệt hại nhằm đảm bảo thỏa đáng lợi ích của người bị hại. Và mọi thông tin trách nhiệm liên quan đến pháp lý về sau sẽ do Website  goreise.com tự giải quyết với tư cách là chủ sở hữu  website khuyến mại trực tuyến goreise.com  với cơ quan chức năng có thẩm quyền mà không hề can dự đến khách hàng.<br>
            Công Ty không chịu trách nhiệm đối với việc thu hồi hoặc hoàn tiền mà KH đã trả trực tiếp cho các NCC.<br>
            Nếu thông qua hình thức thỏa thuận mà vẫn không thể giải quyết được mâu thuẫn phát sinh từ giao dịch, thì  goreise.com sẽ nhờ đến cơ quan pháp luật có thẩm quyền can thiệp nhằm đảm bảo lợi ích hợp pháp của các bên nhất là cho khách hàng.
        </p>
        <h3>5 - Quy trình và chính sách hủy dịch vụ</h3>
        <p>
            Dịch vụ khách sạn và du lịch sẽ được đổi trả theo chính sách của từng NCC đưa ra. Khi KH mua dịch vụ khách sạn và du lịch thì NCC sẽ gửi thông tin, chính sách về việc hủy chỗ hủy tour đến KH. Đề nghị người mua tìm hiểu kỹ những thông tin về điều kiện, cách thức đổi trả này.<br>
            Trong trường hợp NCC có chính sách đổi trả nhưng không thực hiện đúng cam kết thành viên mua voucher có thể gửi khiếu nại đến ban quản lý website. Khi nhận được khiếu nại này ban quản trị sẽ liên hệ với bên NCC để giải quyết vấn đề mà thành viên gặp phải khi sử dụng voucher.
        </p>
        <h3>6 - Quy trình thanh toán</h3>
        <p><strong>Thành viên có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp:</strong></p>
        <h6><strong>Cách 1: Thanh toán trực tiếp tại nhà (nhân viên Công ty sẽ đến tận nhà để thu tiền):</strong></h6>
        <p>
            Bước 1: Thành viên đặt hàng.<br>
            Bước 2: Chọn hình thức thanh toán tại nhà;<br>
            Bước 3: Ban quản lý website xác nhận đơn hàng ;<br>
            Bước 4: Nhân viên Công Ty đến đại chỉ mà KH cung cấp nhận tiền thanh toá;<br>
            Bước 5: Giao voucher
        </p>
        <h6><strong>Cách 2: Thanh toán online thông qua cổng thanh toán bằng thẻ tín dụng. Internet banking</strong></h6>
        <p>
            Bước 1: Thành viên đặt hàng;<br>
            Bước 2: Chọn hình thức thanh toán thanh toán;<br>
            Bước 3: Ban quản lý website xác nhận đơn hàng (điện thoại, tin nhắn, email);<br>
            Bước 4: Giao phiếu cho Thành viên.
        </p>
        <h3>7 - Đảm bảo an toàn giao dịch</h3>
        <p>
            Website khuyến mại trực tuyến goreise.com xây dựng cơ chế bảo đảm an toàn giao dịch như sau:<br>
            Công Ty sử dụng việc thẩm định thông tin NCC và thông tin cá nhân của thành viên. Để bảo đảm rằng giao dịch được thực hiện thành công, và giảm thiểu rủi ro có thể phát sinh, Công ty tuân theo đúng các thủ tục sau đây:<br>
            - Bảo vệ thành viên: Hệ thống đặt hàng được thiết kế sao cho các thành viên của Công ty không thể đặt hàng cho đến khi thành viên được an toàn khi đặt hàng.<br>
            - Ngay khi thành viên nhấp chuột vào nút ‘Đặt ngay’ của trình duyệt thì việc đặt hàng sẽ ở chế độ an toàn. Mọi dữ liệu có liên quan đến các đơn hàng của thành viên, bao gồm tất cả các thông tin cá nhân, và chi tiết thanh toán, sẽ đi qua tất cả định dạng được mã hoá của Công ty Saver.<br>
            - Thành viên không nên cung cấp thông tin chi tiết về các khoản thanh toán cho bất kỳ ai qua thư điện tử hoặc các phương tiện khác. Công ty không chịu trách nhiệm đối với bất kỳ tổn thất nào mà thành viên có thể phải chịu do việc trao đổi thông tin có liên quan đến việc thanh toán bằng bất kỳ phương tiện nào.<br>
            - Thành viên không được sử dụng bất kỳ chương trình, công cụ, hoặc bất kỳ hình thức can thiệp nào khác vào hệ thống của Công ty hoặc thay đổi các cấu trúc dữ liệu. Tuyệt đối không được phân phát, phát tán, sử dụng bất kỳ hoạt động nào can thiệp vào gây thiệt hại, hoặc xâm phạm nền tảng của các hoạt động kinh doanh giao dịch trên trang web của Công ty. Mọi vi phạm sẽ bị xử lý theo các điều khoản của quy chế này và các quy định của pháp luật có liên quan.<br>
            - Tất cả các bên tham gia với Công ty phải bảo mật mọi thông tin về giao dịch, trừ trường hợp pháp luật yêu cầu cung cấp thông tin.
        </p>
        <h2>IV. Bảo vệ thông tin cá nhân khách hàng</h2>
        <h3>1 - Mục đích và phạm vi thu thập</h3>
        <p>
            Việc thu thập dữ liệu chủ yếu trên website khuyến mại trực tuyến  goreise.com bao gồm: email, điện thoại, tên đăng nhập, mật khẩu đăng nhập, địa chỉ khách hàng (thành viên). Đây là các thông tin mà Website  goreise.com yêu cầu thành viên cung cấp khi đăng ký sử dụng dịch vụ và để goreise.com liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho cho thành viên.<br>
            Trong quá trình giao dịch thanh toán tại website khuyến mại trực tuyến  goreise.com , chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của thành viên, các thông tin về số tài khoản ngân hàng của thành viên sẽ không được lưu giữ.<br>
            Chúng tôi cũng sẽ sử dụng cả thông tin nhận diện cá nhân của bạn và một số thông tin nhận diện phi cá nhân (như cookies, địa chỉ IP, loại trình duyệt, ngày tổng số, v.v.) để gia tăng khả năng đáp ứng của chúng tôi về phương diện các Trang và Dịch Vụ, cũng như về phát triển những chức năng, tính năng và các dịch vụ mới theo những xu hướng và sở thích đang diễn tiến.<br>
            Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste khuyến mại trực tuyến  goreise.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.<br>
        </p>
        <h3>2 - Phạm vi sử dụng thông tin</h3>
        <p>
            Công ty sử dụng thông tin thành viên cung cấp để:<br>
            Cung cấp các dịch vụ đến thành viên;<br>
            Gửi các thông báo về các hoạt động trao đổi thông tin giữa thành viên và  website khuyến mại trực tuyến goreise.com  ;<br>
            Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của thành viên hoặc các hoạt động giả mạo thành viên;<br>
            Liên lạc và giải quyết với thành viên trong những trường hợp đặc biệt.<br>
            Không sử dụng thông tin cá nhân của thành viên ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại  goreise.com .
        </p>
        <p><span class="bold underline">Trong trường hợp có yêu cầu của pháp luật:</span>Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên. </p>
        <h3>3 - Thời gian lưu trữ thông tin</h3>
        <p>
            Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của  goreise.com .<br>
            Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân <strong>
        	Công ty: VINADAY goREISE - Lý Ngô Việt Nam Co.,Ltd <br>
                Địa chỉ: 228 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
                Email: cs@vinaday.com<br>
                Điện thoại: 08-38388382<br>
                Hotline: 0937388382
            </strong>
        </p>
        <h3>4 - Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</h3>
        <p>
            Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu Website  goreise.com thực hiện việc này.<br>
            Thành viên có quyền gửi khiếu nại về người bán đến Ban quản trị của website khuyến mại trực tuyến  goreise.com . Khi tiếp nhận những phản hồi này,  goreise.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ,  goreise.com sẽ có những biện pháp xử lý kịp thời.
        </p>
        <p>
            <strong>
                Công ty: TNHH Lý Ngô Việt Nam <br>
                Địa chỉ: 228 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
                Email: cs@vinaday.com<br>
                Điện thoại: 08-38388382<br>
                Hotline: 0937388382
            </strong>
        </p>
        <h3>5 - Cam kết bảo mật thông tin cá nhân khách hàng</h3>
        <p>
            Thông tin cá nhân của thành viên trên  goreise.com được goreise.com cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Website  goreise.com . Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.<br>
            - Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên. Trong một vài trường hợp chúng tôi sẽ cung cấp 1 số thông tin cá nhân của thành viên mua cho NCC để giúp NCC xác nhận người mua.<br>
            - Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, goreise.com sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.<br>
            - Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Website  goreise.com .<br>
            - Ban quản lý Website  goreise.com yêu cầu các cá nhân khi đăng ký/mua hàng là Thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý  goreise.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
        </p>
        <h3>6 - Quản lý thông tin về khuyến mại</h3>
        <p>
            Website khuyến mại trực tuyến goreise.com có trách nhiệm kiểm duyệt những thông tin về sản phẩm, dịch vụ mà NCC gửi cho bên quản trị website để đăng bán voucher. Website  goreise.com sẽ từ chối đăng bán những voucher khi thông tin mà NCC đưa cho bên Công ty xét duyệt là không chính xác với loại hình dịch vụ khách sạn và du lịch<br>
            Thông tin về khuyến mại hiện thị rõ ràng các điều kiện, số lượng, thời gian mà NCC đưa ra cho mỗi voucher được bán trên Website  goreise.com .<br>
            Tuy theo từng thời điểm khuyến mại của NCC thì Website  goreise.com sẽ điều chỉnh mức khuyến mại cho phù hợp. Đối với KH mua voucher ở thời điểm trước khi điều chỉnh và còn hiệu lực thì KH đó vẫn được hưởng ưu đãi ở thời điểm mua.
        </p>
        <h3>7 - Trách nhiệm trong trường hợp phát sinh lỗi kỹ thuật</h3>
        <p>
            Website khuyến mại trực tuyến goreise.com cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Tuy nhiên, trong trường hợp xảy ra sự cố do lỗi của goreise.com , Website  goreise.com sẽ ngay lập tức áp dụng các biện pháp để đảm bảo quyền lợi cho thành viên.<br>
            Khi thực hiện các giao dịch trên Website  goreise.com , bắt buộc các thành viên phải thực hiện đúng theo các quy trình hướng dẫn.<br>
            Ban quản lý website khuyến mại trực tuyến  goreise.com cam kết cung cấp chất lượng dịch vụ tốt nhất cho các thành viên tham gia giao dịch. Trường hợp phát sinh lỗi kỹ thuật, lỗi phần mềm hoặc các lỗi khách quan khác dẫn đến thành viên không thể tham gia giao dịch được thì các thành viên thông báo cho Ban quản lý website khuyến mại trực tuyến tại địa chỉ email: cs@vinaday.com chúng tôi sẽ khắc phục lỗi trong thời gian sớm nhất, tạo điều kiện cho các thành viên tham gia giao dịch tại Website  goreise.com .<br>
            Tuy nhiên, Ban quản lý  website khuyến mại trực tuyến goreise.com  sẽ không chịu trách nhiệm giải quyết trong trường hợp thông báo của các thành viên không đến được Ban quản lý, phát sinh từ lỗi kỹ thuật, lỗi đường truyền, phần mềm hoặc các lỗi khác không do Ban quản lý gây ra.<br>
            Quyền và nghĩa vụ của Ban quản lý website khuyến mại trực tuyến  goreise.com Quyền của Ban quản lý  website khuyến mại trực tuyến goreise.com <br>
            Website khuyến mại trực tuyến goreise.com sẽ tiến hành cung cấp các dịch vụ cho những thành viên tham gia sau khi đã hoàn thành các thủ tục và các điều kiện bắt buộc mà  website khuyến mại trực tuyến goreise.com  nêu ra.<br>
            Trong trường hợp có cơ sở để chứng minh thành viên cung cấp thông tin cho website khuyến mại trực tuyến  goreise.com không chính xác, sai lệch, không đầy đủ hoặc vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì  goreise.com có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của thành viên.<br>
            website khuyến mại trực tuyến goreise.com  có thể chấm dứt quyền thành viên và quyền sử dụng một hoặc tất cả các dịch vụ của thành viên và sẽ thông báo cho thành viên trong thời hạn ít nhất là một (01) tháng trong trường hợp thành viên vi phạm các Quy chế này của website khuyến mại trực tuyến goreise.com hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên website khuyến mại trực tuyến  goreise.com .<br>
            Website khuyến mại trực tuyến  goreise.com sẽ xem xét việc chấm dứt quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu thành viên không tham gia hoạt động giao dịch và trao đổi thông tin trên website khuyến mại trực tuyến  goreise.com liên tục trong ba (03) tháng. Nếu muốn tiếp tục trở thành thành viên và được cấp lại quyền sử dụng dịch vụ thì phải đăng ký lại từ đầu theo mẫu và thủ tục của Website khuyến mại trực tuyến  goreise.com .<br>
            Website khuyến mại trực tuyến  goreise.com có thể chấm dứt ngay quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu  website khuyến mại trực tuyến goreise.com  phát hiện thành viên đã phá sản, bị kết án hoặc đang trong thời gian thụ án, trong trường hợp thành viên tiếp tục hoạt động có thể gây cho  website khuyến mại trực tuyến goreise.com  trách nhiệm pháp lý, có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các thành viên khác của  website khuyến mại trực tuyến goreise.com  , hoạt động vi phạm pháp luật hiện hành của Việt Nam. Trong trường hợp chấm dứt quyền thành viên và quyền sử dụng dịch vụ thì tất cả các chứng nhận, các quyền của thành viên được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.<br>
            Website khuyến mại trực tuyến goreise.com  giữ bản quyền sử dụng dịch vụ và các nội dung trên  website khuyến mại trực tuyến goreise.com  theo các quy dịnh pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. Tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của  website khuyến mại trực tuyến goreise.com  . Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.
        </p>
        <h3>8 - Nghĩa vụ và trách nhiệm của Ban quản lý  website khuyến mại trực tuyến goreise.com</h3>
        <p>
            website khuyến mại trực tuyến goreise.com  có trách nhiệm xây dựng, thực hiện cơ chế kiểm tra, giám sát để đảm bảo việc cung cấp thông tin của sản phẩm, dịch vụ và thông tin về NCC trên  website khuyến mại trực tuyến goreise.com  được thực hiện chính xác đầy đủ.<br>
            website khuyến mại trực tuyến goreise.com  chịu trách nhiệm xây dựng website bao gồm một số công việc chính như: nghiên cứu, thiết kế, mua sắm các thiết bị phần cứng và phần mềm, kết nối Internet, xây dựng chính sách phục vụ cho hoạt động  website khuyến mại trực tuyến goreise.com  trong điều kiện và phạm vi cho phép. <br>
            website khuyến mại trực tuyến goreise.com  chịu trách nhiệm xây dựng, bổ sung hệ thống các kiến thức, thông tin về: nghiệp vụ ngoại thương, thương mại điện tử, hệ thống văn bản pháp luật thương mại trong nước và quốc tế, thị trường nước ngoài, cũng như các tin tức có liên quan đến hoạt động của  website khuyến mại trực tuyến goreise.com  .<br>
            website khuyến mại trực tuyến goreise.com  sẽ tiến hành các hoạt động xúc tiến, quảng bá  website khuyến mại trực tuyến goreise.com  ra thị trường nước ngoài trong phạm vi và điều kiện cho phép, góp phần mở rộng, kết nối đáp ứng các nhu cầu tìm kiếm bạn hàng và phát triển thị trường nước ngoài của các NCC tham gia  website khuyến mại trực tuyến goreise.com  .<br>
            website khuyến mại trực tuyến goreise.com  sẽ cố gắng đến mức cao nhất trong phạm vi và điều kiện có thể để duy trì hoạt động bình thường của  website khuyến mại trực tuyến goreise.com  và khắc phục các sự cố như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Tuy nhiên nếu những sự cố trên xẩy ra nằm ngoài khả năng kiểm soát, là những trường hợp bất khả kháng mà gây thiệt hại cho thành viên thì  website khuyến mại trực tuyến goreise.com  không phải chịu trách nhiệm liên đới.<br>
            Website  goreise.com có trách nhiệm tiếp nhận phản ánh, khiếu nại của khách hàng khi sử dụng dịch vụ mà NCC bán tại Website  goreise.com .<br>
            Website  goreise.com phối hợp với NCC để giải quyết tranh chấp sảy ra giữa KH và NCC trong quá trình KH sử dụng dịch vụ do NCC đó khuyến mại bán tại Website  goreise.com .
        </p>
        <h2>V. Quyền và trách nhiện của NCC</h2>
        <h3>1 - Quyền của NCC</h3>
        <ul>
            <li>Sau khi ký hợp đồng NCC sẽ được tạo một tài khoản để NCC công bố thông tin giới thiệu về NCC và dịch vụ khách sạn và du lịch được khuyến mại.</li>
            <li>NCC được hỗ trợ đào tạo những kỹ năng cần thiết để quản lý tài khoản và các đơn hàng trên website Website  goreise.com.</li>
            <li>NCC được hưởng các chính sách ưu đãi do ban quản lý website Website  goreise.com đề ra trong quá trình hoạt động</li>
        </ul>
        <h3>2 - Trách nhiệm NCC</h3>
        <ul>
            <li>Cung cấp đầy đủ thông tin về dịch vụ khách sạn và du lịch khuyến mại cho ban quản lý  website khuyến mại trực tuyến goreise.com  .</li>
            <li>NCC có trách nhiệm cung cấp cho  website khuyến mại trực tuyến goreise.com  bản sao giấy đăng ký kinh doanh. Trong trường hợp NCC là chủ sở hữu một thương hiệu dịch vụ hoặc đại lý ủy quyền của một nhãn hàng thì NCC có trách nhiệm cung cấp một (01) bản photo có công chứng giấy đăng ký thương hiệu hoặc giấy Ủy quyền phân phối của nhãn hàng đó.</li>
            <li>NCC có trách nhiệm niêm yết chính xác về chất lương, số lượng, giá, các thông tin khác liên quan đến dịch vụ.</li>
            <li>Phối hợp với  website khuyến mại trực tuyến goreise.com  giải quyết những vấn đề tranh chấp giữa thành viên với NCC về chất lượng dịch vụ. NCC có nghĩa vụ phải bồi thường những thiết hại của thành viên khi lỗi được xác định thuộc về NCC.</li>
        </ul>
        <h2>VI. Quyền và trách nhiệm thành viên tham gia Sàn giao dịch Website  goreise.com</h2>
        <h3>1 - Quyền của Thành viên Sàn giao dịch TMĐT Website  goreise.com </h3>
        <ul>
            <li>Quý Khách phải từ 18 tuổi trở lên mới được phép tham gia đặt phòng trên trang web.</li>
            <li>Khi đăng ký trở thành thành viên của goreise.com và được Website  goreise.com đồng ý, thành viên sẽ được cấp một tên đăng ký và mật khẩu riêng để được vào sử dụng các dịch vụ, các giao dịch của mình trên  website khuyến mại trực tuyến goreise.com  .</li>
            <li>Thành viên sẽ được nhân viên của  website khuyến mại trực tuyến goreise.com  hướng dẫn sử dụng được các công cụ, các tính năng phục vụ cho việc giao dịch và sử dụng các dịch vụ tiện ích trên  website khuyến mại trực tuyến goreise.com  .</li>
            <li>Thành viên có quyền đóng góp ý kiến cho  website khuyến mại trực tuyến goreise.com  trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho  website khuyến mại trực tuyến goreise.com  .</li>
        </ul>
        <h3>2 - Nghĩa vụ của Thành viên Sàn giao dịch TMĐT Website  goreise.com </h3>
        <ul>
            <li>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.</li>
            <li>Thành viên có trách nhiệm thông báo kịp thời cho  website khuyến mại trực tuyến goreise.com  về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của mình để hai bên cùng hợp tác xử lý.</li>
            <li>Thành viên cam kết những thông tin cung cấp cho Website  goreise.com và những thông tin cá nhân (tên, địa chi, số điện thoại, email…) dùng để đăng ký tài khoản trên  website khuyến mại trực tuyến goreise.com  là chính xác.</li>
            <li>Thành viên cam kết, đồng ý không sử dụng dịch vụ của  website khuyến mại trực tuyến goreise.com  vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm rò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của  website khuyến mại trực tuyến goreise.com  hay sử dụng dịch vụ của mình vào mục đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị trường. Trong trường hợp vi phạm thì thành viên phải chịu trách nhiệm về các hành vi của mình trước pháp luật.</li>
            <li>Thành viên cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do  website khuyến mại trực tuyến goreise.com  cung cấp cho một bên thứ ba nếu không được sự đồng ý của  website khuyến mại trực tuyến goreise.com  trong Quy chế này.</li>
            <li>Thành viên không được hành động gây mất uy tín của  website khuyến mại trực tuyến goreise.com  dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của  website khuyến mại trực tuyến goreise.com  .</li>
        </ul>
        <h2>VII. Điều khoản áp dụng</h2>
        <ul>
            <li>Quy chế của  website khuyến mại trực tuyến goreise.com  chính thức có hiệu lực thi hành kể từ ngày ký Quyết định ban hành kèm theo Quy chế này.  website khuyến mại trực tuyến goreise.com  có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên  website khuyến mại trực tuyến goreise.com  cho các NCC và thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc thành viên đã chấp nhận Quy chế sửa đổi này.</li>
            <li>Quy chế hoạt động sẽ được  website khuyến mại trực tuyến goreise.com  cập nhật bổ sung liên tục mà không cần thông báo trước. Thành viên tham gia  website khuyến mại trực tuyến goreise.com  có trách nhiệm tuân theo quy chế hiện hành khi giao dịch trên website.</li>
        </ul>
        <h2>VIII. Điều khoản cam kết</h2>
        <p>
            Mọi thành viên và NCC khi sử dụng  website khuyến mại trực tuyến <a href="https://goreise.com">goreise.com</a> làm giao dịch mua bán trực tuyến thì đồng nghĩa việc các bên có liên quan đã chấp thuận tuân theo quy chế này.<br>
            Mọi thắc mắc của khách hàng xin vui lòng liên hệ với  website khuyến mại trực tuyến goreise.com  theo thông tin dưới đây để được giải đáp:
        </p>
        <p>
            <strong>Hỗ trợ khách hàng</strong><br>
            website khuyến mại trực tuyến goreise.com <br>
            Công ty: TNHH Lý Ngô Việt Nam <br>
            Địa chỉ: 228 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
            Email: <a href="mailto://cs@vinaday.com">cs@vinaday.com</a><br>
            Điện thoại: <strong>08-38388382</strong><br>
            Hotline: <strong>0937388382</strong><br>
        </p>
    </article>
</div>

