@{
    ViewBag.Title = "Affiliate Partners - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container subpage subpage2" style="max-width: 970px; min-height: 600px">
    <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Affiliate Partners
        </span>
    </article>
    <article class="main-content">
        <ul class="nav nav-tabs" id="myTab">
            <li class=""><a data-toggle="tab" href="#english">English</a></li>
            <li class="active"><a data-toggle="tab" href="#vietnamese">Vietnam</a></li>
        </ul>
        <div class="tab-content">
            <div id="english" class="tab-pane">
                <h2 class="text-center">Coming soon</h2>
            </div>
            <div id="vietnamese" class="tab-pane active">
                <h2 class="text-center">Kiếm tiền cùng goreise.com</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/Content/images/tours/make-money-online.jpg" alt="make-money-online" />
                    </div>
                    <div class="col-sm-6">
                        <p> Nếu bạn muốn kiếm tiền khi đang ở nhà hoặc ngay cả bạn đang là nhân viên công sở. Hãy tham gia đôi ngũ bán hàng năng động của chúng tôi ngay hôm nay. </p>
                        <h4>Cách thức tham gia rất đơn giản:</h4>
                        <div>
                            - Gởi email đến <a title="email cs@vinaday.com" href="mailto://cs@vinaday.com">cs@vinaday.com</a> với đầy đủ thông tin cá nhân, số tài khoản nhận thanh toán.<br>
                            - Sau khi nhân viên kiểm duyệt thông tin, nhân viên chúng tôi sẽ gởi cho bạn tài khoản để đăng nhập vào hệ thống cộng tác viên<br>
                            - Cuối cùng là kiếm tiền.<br>
                            <h4>Cách thức đặt phòng?</h4>
                            - Đặt trong hệ thống của <a title="vinaday" href="https://goreise.com">goreise.com</a> dành cho Cộng tác viên. Các bạn sẽ thấy ngay hoa hồng của mình cho mỗi lần đặt phòng.<br>
                            - Hoặc liên lạc với nhân viên goreise.com để yêu cầu trợ giúp.<br>
                            <h4>Thanh toán như thế nào?</h4>
                            - Không cần số hoa hồng  tối thiểu<br>
                            - Sau khi trừ thuế thu nhập cá nhân theo luật, chúng tôi sẽ chuyển khoản phần hoa hồng vào ngày 5 hàng tháng.
                        </div>
                        <h4 style="margin-bottom: 5px;"> Thông tin liên lạc:</h4>
                        <div>
                            Công ty TNHH Lý Ngô Việt Nam
                            <address class="italic">
                                228 Đề Thám, P. Phạm Ngũ Lão, Quận 1, tp HCM, Việt Nam
                            </address>
                            MST: <strong>0310071681</strong><br>
                            Phone: <strong>+84 916388382</strong><br>
                            Email: <a title="email cs@vinaday.com" href="mailto://cs@vinaday.com">cs@vinaday.com</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</section>

