
@{
    ViewBag.Title = "Careers - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container subpage" style="max-width: 970px; min-height: 600px">
    <div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            careers
        </span>
    </div>
    <section class="main-content">
        <h1 class="center">Tuyển dụng</h1>
        <h2 style="color: #555;">Vị trí 1: Nhân viên tư vấn bán hàng ( Sales Consultant)</h2>
        <p>Số lượng : 5</p>

        <h4>Mô tả công việc</h4>
        <p>- Khai thác danh sách khách hàng tiềm năng và phát triển danh sách khách hàng mới.</p>
        <p>- Gọi điện thoại và tư vấn về sản phẩm công ty tour du lịch, dịch vụ đặt phòng khách sạn giá tốt toàn quốc.</p>
        <p>- Giới thiệu và khơi gợi nhu cầu, diễn tả hình ảnh lưu loát qua lời nói, chốt cuộc gọi bán hàng.</p>
        <p>- Chi tiết sẽ trao đổi thêm trong cuộc phỏng vấn, ưu tiên cho những ứng viên có sẵn danh sách khách hàng cho tất cả các ngành nghề</p>

        <h4>QUYỀN LỢI HẤP DẪN ĐƯỢC HƯỞNG:</h4>

        <p>- Môi trường làm việc năng động, hòa đồng.</p>
        <p>- Được đào tạo kiến thức và kĩ năng bán hàng, kiến thức khách sạn và tour du lịch. </p>
        <p>- Được ký hợp đồng hàng năm, sau thời gian thử việc tối thiểu 3 tháng, BHYT, BHXH, BHTN, Khám sức khoẻ định kỳ hàng năm.</p>
        <p>- Chế độ Lương+thưởng hấp dẫn.</p>
        <h4>Yêu cầu:</h4>
        <p>- Tiếng Anh cơ bản</p>
        <p>- Có kiến thức về du lịch và nhà hàng, khách sạn</p>
        <p>- Nhiệt tình, ham học hỏi, tiếp thu kiến thức nhanh.</p>
        <p>- Có khả năng quảng bá hình ảnh bằng lời nói thật lưu loát và tự tin qua điện thoại.</p>
        <p>- Kiên trì, nhanh nhẹn và có tinh thần trách nhiệm cao.</p>
        <p>- Cam kết làm việc lâu dài, chịu được áp lực về doanh số.</p>
        <p>- Ưu tiên ứng viên có kinh nghiệm tư vấn qua điện thoại hoặc kinh nghiệm trong ngành bán hàng.</p>

        <h4>THÔNG TIN CHUNG:</h4>
        <p><strong>Loại hình làm việc: </strong>toàn thời gian theo giờ hành chính.</p>
        <p><strong>Nơi làm việc: </strong>228 Đề Thám, Phường Phạm Ngũ Lão, Quận 1, Thành Phố Hồ Chí Minh</p>
        <p><strong>Mức lương: </strong>lương căn bản + Hoa hồng thưởng theo chỉ tiêu doanh số công ty.</p>

        <h4>YÊU CẦU VỀ HỒ SƠ</h4>

        <p>Hồ sơ phải có thư ứng tuyển, kinh nghiệm làm việc cũng như năng lực và sự hiểu biết về công việc.</p>

        <p>Ghi rõ hồ sơ ứng tuyển cho văn phòng Hồ Chí Minh theo địa chỉ email <a href="mailto://hr@vinaday.com">hr@vinaday.com</a> </p>


        <p class="text-center" style="border-bottom: 2px dashed rgba(64, 64, 64, 0.7); padding-top: 20px; margin-bottom: 30px"></p>
        <h2 style="color: #555;">Vị trí 2: Biên dịch tiếng Anh. </h2>
        <h4>Mô tả công việc:</h4>
        <p>- Hiệu đính, chính sửa các chương trình tour, nội dung trên website.</p>
        <p>- Quản lí nội dung trên blog của website goreise.com/</p>
        <h4>Yêu cầu: </h4>
        <p>- Sinh viên ngành ngoại ngữ các trường đại học</p>
        <p>- Đam mê du lịch và có kiến thức du lịch cơ bản</p>
        <p>- Kiên trì, cẩn thận và tinh thần trách nhiệm cao. </p>
        <h4>Thông tin chung:</h4>
        <p>- Làm việc tại công ty hoặc làm qua mạng</p>
        <p>- Mức lương: thỏa thuận</p>
        <h4>Yêu cầu hồ sơ: </h4>
        <p>Hồ sơ phải có thư ứng tuyển, kinh nghiệm làm việc cũng như năng lực và sự hiểu biết về công việc.</p>
        <p>Ghi rõ hồ sơ ứng tuyển cho văn phòng Hồ Chí Minh theo địa chỉ email <a href="mailto://hr@vinaday.com">hr@vinaday.com</a> </p>
    </section>
</div>



