@{
    ViewBag.Title = "Read Carefully Before You Go - Tips from Vinaday Travel";
}
<div class="container" style="max-width: 970px; min-height: 600px">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#" style="margin-top: 70px">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Help FAQs
        </span>
    </div>
    <article class="main-content" style="border-top: 1px solid #ddd; margin-top: 10px;">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Important notes</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>• Please advise us of your passport details for visa processing at least 7 working days in advance).</p>


                        <p>• The tour price does not include personal insurance, it is a requirement for travelers to have comprehensive personal travel insurance before your departure to Vietnam covering also the cost of medical evacuation by air if needed.</p>

                        <p>• Vinaday Travel does everything to provide accurate quotes for all our travel products. However, fares and rates for airline tickets, hotels and other travel service providers fluctuate regularly. We recommend immediate payment to guarantee quotes. Rates will be rechecked at time of payment and any increase (fares, rates, taxes, etc.) is due and payable regardless of earlier quotations.</p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Documents</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">You will need a passport valid for six months and appropriate visas to enter our countries. Vinaday Travel cannot accept responsibility if you are refused entry to a country because you lack the correct visa documentation.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Payment</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        If booked, 50% payment is required immediately. The remaining must be paid prior to 21days arrival in Vietnam
                        Payments are to be made according to our invoices only and should be executed by cash, credit card or bank transfer. Any bank charges levied by the sending bank relating to transfers to Vinaday Travel must be paid by the Client/Agent.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Can i Cancel my Booking</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Any cancellations should be made in writing. Cancellation fees (in addition to the 10% administrative fee) will not be charged for any bookings as less than 60 days or more prior to the arrival of clients unless any charges or prepayments are due according to the policies of hotels airlines, cruises' and other contractor’s of Vinaday.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Cancellation Policy</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        More than 45 days before departure:  administrative fee of 10% of the total cost
                        •	Between 45 and 30 days before departure: cancellation fee of 30 % of the total cost
                        •	Between 29 and 15 days before departure:  cancellation fee of 50 % of the total cost

                        •	Between 14 days and 8 days before departure: cancellation fee 75 % of the total cost

                        •	Less than 7 days before departure: cancellation fee of 90 % of the total cost

                        •	No- show:  No refund
                    </div>
                </div>
            </div>

        </div>

    </article>
</div>
