
@{
    ViewBag.Title = "Help FAQs - goreise.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container subpage subpage2" style="max-width: 970px; min-height: 600px">
    <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Help FAQs
        </span>
    </article>
    <article class="main-content" style="border-top: 1px solid #ddd;margin-top: 10px;">
        <h2 class="text-center">Coming soon</h2>
    </article>
</section>

