
@{
    ViewBag.Title = "Links";
    Layout = "";
}

<div style="background: #f0edf0;">
    <center style="padding: 10px; width: 640px; margin: 0px auto;">
        <div style="float: left;"> <img alt="" src="http://tours.goreise.com/Content/images/email-template/left_bg.png"> </div>
        <!--end img-left-->
        <div style="float: right;"> <img alt="" src="http://tours.goreise.com/Content/images/email-template/right_bg.png"> </div>
        <!--end img-left-->
        <table width="600" cellspacing="0" cellpadding="0" border="0" id="ecxtemplateContainer" style="border-collapse:collapse;border:0; background: #FFF; padding: 0px 18px 18px 18px;">
            <thead>
                <tr>
                    <td style="padding-top:9px;">
                        <a href="https://goreise.com">
                            <img style="margin-left: 18px;" alt="vinaday" src="http://tours.goreise.com/Content/images/email-template/logo-vinaday.png">
                              </a>
                    </td>
                    <td valign="top" style="padding-top:18px;padding-right:18px;padding-bottom:9px;padding-left:0;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:right;"> 22/122/1239 </td>
                </tr>
            </thead>
            <tbody style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 15px; line-height: 150%;">
                <tr>
                    <td colspan="2" style="padding:9px 18px 9px 18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%; text-align:center;"><h1 style="padding:0;display:block;font-family:Helvetica;font-size:20px;text-transform: uppercase;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;color:#606060 !important;">Booking Request</h1></td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Xin chao:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;"><span>Trong Nguyen</span></td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px"></td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">
                        Thank you for choosing goreise.com travel services for your trip.
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px"></td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">
                        Your travel consultant will get back to you within next 5 minutes from 8:00 AM to 22:30 PM everyday.
                    </td>
                </tr>
                
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px"></td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;text-transform: uppercase"><b>Your booking details</b></td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px"> PNR:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">DFG23SWE</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Services:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;"><a href="#" style="color: rgb(96, 96, 96); text-decoration: none;">Big Group Tour - Cu Chi tunnels half day</a></td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Participants:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">2 persons</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Departure time:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">8:00 AM - 228 De Tham St.</td>
                </tr>
             
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Price:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">US$3.76  (per person)</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Total:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">US$334.76</td>
                </tr>
                
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Cancellation Policy:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">All package tours, day trips, transportation are cancelled or changed before 24 hours departure time, the cancellation fee is equivalent to 20% of amount of bill value. No-change/no cancellation of all services within 24 hours is based on compulsion. All cases such as amendment, reroute, cancellation are not applicable to the National holidays, New Year and high season.</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px">Payment:</td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;">Pay Later</td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right; padding: 3px  10px 3px 18px"></td>
                    <td style="width: 431px; padding: 3px 18px 3px 3px;"><b>Wish you have a gorgeous time in your life!</b></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="border-top: 1px solid #e5e5e5;">
                    <td colspan="2" valign="top" style="padding:9px 18px 18px 18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left;">
                        <p style="margin-bottom: 0px;"><em>Copyright &copy; 2014 goreise.com, All rights reserved.</em></p>
                        <strong>Sales Office in Vietnam: </strong> <br>
                        <p style="margin: 0px;">
                            228 De tham, Dist 1, HCM city, VietNam <br>
                            <strong>(+84) 916388382</strong> &ndash;
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div style="clear: both;"> <img alt="" src="http://tours.goreise.com/Content/images/email-template/bottom_bg.jpg" style="width: 600px"> </div>
        <!--end img-left-->
        <p style="font-size:11px; color:#010101; font-family:Arial, Helvetica, sans-serif;">
            You're receiving this email as part of your <a href="https://goreise.com">goreise.com</a> account.<br>
            If you no longer wish to receive emails from goreise.com, you can <span class="Ca" idlink tabindex="0">unsubscribe</span>
        </p>
    </center>
</div>
