
@{
    ViewBag.Title = "Partners - goreise.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container subpage" style="max-width: 970px; min-height: 600px">
    <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Partners
        </span>
    </article>
    <article class="main-content">
        <h1 class="center">Hotel Partners</h1>
        <div class="row">
            <div class="col-sm-6">
                <img alt="partners-ket_noi_cong_dong" src="/Content/images/tours/Hotel-Partners.jpg">
            </div>
            <div class="col-sm-6 info_partner">
                <p>Bạn đang là nhân viên quản lí khách sạn, quản lí bán hàng của khách sạn?</p>
                <p>Bạn muốn bán phòng trên goreise.com?</p>
                <p>Hãy liên lạc với chúng tôi qua địa chỉ email <a href="mailto:partner@vinaday.com">partner@vinaday.com.</a></p>
                <p>Chúng tôi sẽ liên lạc với các bạn trong vòng 24 tiếng.</p>
                <p class="italic">- Một kết nối đến hàng triệu khách hàng trên thế giới -</p>
            </div>
        </div>
    </article>
</section>

