@{
    ViewBag.Title = "Payment - goreise.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container subpage subpage2" style="max-width: 970px; min-height: 600px">
    <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Payment Information
        </span>
    </article>
    <div class="main-content">
        <div id="english" class="tab-pane active">
            <h2 class="text-center">Payment method</h2>
            <p>After you agree with the booking information, cancellation policy and fill all your information on our website. You can choose one of the payment methods as below:</p>
            <h3>- BY INTERNATIONAL CARD: VISA,  MASTER, AMEX, DINERS CLUB ...</h3>
            <p><span style="font-weight: bold; text-transform: uppercase;">PAY NOW:</span> Please clicking the button "PAY NOW",  the system will send you to the payment website Onepay - a solid partner of MasterCard - Australia. You input your card number, exp. date, name ... following the its instructions. After the transaction proceed successfully, we will send you a confirmation within  next working 30 minutes. </p>
            <p><span style="font-weight: bold; text-transform: uppercase;">PAY LATER:</span> Please clicking the button " PAY LATER", and input your your card number, exp. number, name on card .... following the its instructions. All procession is secured by 256bit SSL layer Godaddy. And we will deduct bill amount automatically on your card on the future payment date ( the future payment date is when you can not cancel, shorten .. your booking following the booking condition)</p>
            <h3>SETTLEMENT BY PAYMENT LINK</h3>
            <p>Our travel consultant will send you a payment link via email. And you click the payment link, then input your card number,  exp. date, name ... following the its instructions. After the transaction will proceed successfully, we will send you a confirmation within  next working 30 minutes.</p>
            <h3>- WESTERN UNION, MONEY GRAM,... </h3>
            <p>If you wish to use this service, please feel free to contact your travel consultant to get more details and instructions. </p>
            <h3>- TRANSFER VIA BANK</h3>
            <p>You can go to any bank in Vietnam to pay the bill following the information as below</p>
            <p>+ In Vietcombank system, we will receive money within 1  hours. </p>
            <p>+ From other banks, we will receive money within 24-72 hours. </p>
            <p>
                Bank name: Vietcombank - Ben Thanh Branch<br>
                Account name: VINADAY GOREISE VIETNAM CO., LTD<br>
                Account number: 033 - 100 - 393 - 2502<br>
                Content: payment for PNR #
            </p>
            <p>Please, scan and send the deposit slip to our email cs@vinaday.com to proceed your booking complete. </p>
            <h3>BY CASH</h3>
            <h4>- At goreise.com head office.</h4>
            <p>
                Our office opens 7 days a week from 7:00 AM till 22:00 PM, you can come to our office to visit and pay your bill directly. <br>
                228 De Tham St., Dist. 1, Ho Chi Minh city - Saigon, Vietnam<br>
                Tel: (+84) 916388382 &ndash; 
            </p>
            <h4>- At your home, company .... </h4>
            <p>Please, inform us before 2 hours and we can collect money at your place for free within selected place of district 1, 3, 5, 10. Others will be charged the extra fee on case by case. </p>
        </div>
    </div>
</section>

