@{
    ViewBag.Title = "Rewards - goreise.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container subpage subpage2" style="max-width: 970px; min-height: 600px">
    <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Rewards
        </span>
    </article>
    <article class="main-content" style="border-top: 1px solid #ddd;margin-top: 10px;text-align: center">
        
        <img alt="tripadvisor vinaday reward" style="width: 30%;height: 30%" src="~/Content/Images/tours/tripadvisor-vinaday-reward.jpg" />
    </article>
</section>



