@{
    ViewBag.Title = "Home Page";
    var hotelList1 = (List<Vinaday.Data.Models.DealHotelTours>)ViewBag.Items1;
    var hotelList2 = (List<Vinaday.Data.Models.DealHotelTours>)ViewBag.Items2;
    Layout = "~/Views/Shared/_LayoutLuxury.cshtml";
}
<main class="sc-Rmtcm fvYCYo" role="main">
    <button class="sc-csuQGl kgRHTi sc-bZQynM hKtDDZ sc-bwzfXH ffjAev" type="button"><svg height="24" width="16" class="sc-gzVnrw hDxGrB sc-EHOje fZVEKh" fill="currentColor" viewBox="0 0 266.89 266.89"><title>facebook-logo</title><path d="M252.16 0H14.73A14.73 14.73 0 0 0 0 14.73v237.43a14.73 14.73 0 0 0 14.73 14.73h127.83V163.54h-34.78v-40.28h34.78V93.55c0-34.47 21.05-53.24 51.81-53.24a285.37 285.37 0 0 1 31.08 1.59v36h-21.33c-16.72 0-20 7.95-20 19.61v25.72H224l-5.19 40.28h-34.66v103.38h68a14.73 14.73 0 0 0 14.73-14.73V14.73A14.73 14.73 0 0 0 252.16 0z"></path></svg></button><div class="sc-htoDjs GStYN">
        <div class="PaneBody sc-eHgmQL jjLFsp" sizes="lg">
            <div class="container sc-fBuWsC gPRYTY">
                <div class="sc-cgHJcJ knLQRZ sc-kpOJdX cAgrBX">
                    <div class="sc-hizQCF SMDIl" style="background-color: transparent">
                        <div class="sc-bwCtUz faPukQ">
                            <h1 class="sc-fjdhpX cFrMFu">Terms &amp; Conditions</h1>
                        </div>
                        <div id="booking-terms-and-conditions">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Booking Terms and Conditions</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>
                                        By using the website <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/" title="null">luxuryescapes.com</a> (or <a target="_blank" rel="noopener noreferrer" href="https://escapesclub.in/" title="null">escapesclub.in</a> in India) (collectively "the Site" or “the Website”) you agree to the terms and conditions set out herein.
                                    </p>
                                    <p>This agreement is between you and Luxury Escapes Travel Pty Ltd (ACN 150 650 927), IATA License No. 0236419-1 (if you purchase through the Australia Country Site) or with Luxury Escapes (Singapore) Pte Ltd (Reg 201616956C) (if you purchase through any Country Site other than Australia) (collectively “Luxury Escapes”).</p>
                                    <p>On the Website and in these booking conditions Luxury Escapes and entities that are related to or affiliated with it in the provision of the services it agrees to provide (where the context admits, together with its and their employees and agents) are included in the expressions the "Company", "Luxury Escapes", "we", "our" or "us" and a person taking advantage of the services offered by Luxury Escapes, all other persons (if any) included with that person in the booking are included in the expression "you", "your", a "client" or "passenger".</p>
                                    <p>Luxury Escapes sells bookings, ticketing and other ancillary services of and for travel, accommodation and other leisure activities (“Arrangements”). Luxury Escapes is neither a common carrier nor a private carrier and does not provide any of the travel, accommodation or other activities described on this website (“Travel Products”). Luxury Escapes acts as your agent in making the Arrangements with third party suppliers who provide Travel Products as principals (“Suppliers”). Luxury Escapes is not the agent of any such principal. You will also be subject to the terms and conditions of any third party suppliers in addition to these terms and conditions.</p>
                                </div>
                            </div>
                        </div>
                        <div id="user-agreement">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">User Agreement</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>This agreement is between you and Luxury Escapes. By visiting and/or using the Website you agree to be bound by the terms of this agreement ("agreement"). We may modify our terms and conditions without notice at any time where such amendment does not substantially effect your rights and obligations. If such changes of our terms and conditions substantially effect your rights and obligations we will notify you by email with these changes as they occur. By using our site to search for and/or book the products and/or services offered, you are indicating:</p>
                                    <ul>
                                        <li>that you have read this User Agreement; and</li>
                                        <li>your acceptance of this User Agreement.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="registration">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Registration</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>In order to purchase any item (and access certain ‘members only’ areas of the Website), you need to be a registered member of the Website. When registering to become a member, you must provide Personal Information (as this term is defined in the Privacy Act 1988 (Cth)) including your first and last name, and a valid email address.</p>
                                    <ul>
                                        <li>You agree to provide accurate and complete information and to keep this information current. You information is stored securely, and will only be used and disclosed in accordance with our <a target="_blank" rel="noopener noreferrer" href="/privacy-policy" title="null">Privacy Policy</a>.</li>
                                        <li>You are solely responsible for the activity that occurs on your account, and you must keep your account password secure.</li>
                                    </ul>
                                    <p>
                                        If you suspect or become aware of any unauthorised use of your account or that your password is no longer secure, you should notify us immediately (<a target="_blank" rel="noopener noreferrer" href="mailto:support@luxuryescapes.com" title="null">support@luxuryescapes.com</a>) and address your email to the Chief Operating Officer. We are not liable for any unauthorised use of your account.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="capacity">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Capacity</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>By making a purchase through the Website you warrant that you are over 18 and that you have the legal right and ability to enter into a legally binding agreement with us. No persons under the age of eighteen (18) are permitted to use the Website or to sign up as a member of the website.</p>
                                </div>
                            </div>
                        </div>
                        <div id="website-changes">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Website Changes</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>We reserve the right to change, alter, vary or amend the Website at any time. We may in our sole discretion terminate your account or restrict your access to the Website. If we do this, you may be prevented from accessing all or parts of the Website, your account details, or other content contained in your account. In the event that this occurs you will still be entitled to access those packages that you had previously purchased through the Website.</p>
                                </div>
                            </div>
                        </div>
                        <div id="disclaimer">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Disclaimer</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>For orders on Luxury Escapes, the prices that are listed at the time of your order on the product page apply. The prices are final prices inclusive of GST (where applicable) and all other price components (including relevant taxes and charges).</p>
                                </div>
                            </div>
                        </div>
                        <div id="use-of-website-by-you">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Use of Website by You</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <ul>
                                        <li>You agree not to access (or attempt to access) any part of the Website by any means other than through the interface provided by us.</li>
                                        <li>You agree that you will not engage in any activity that interferes with or disrupts the website or the servers and networks that host the Website. You may not use data mining, robots, screen scraping or similar data gathering and extraction tools on the Website except with our prior written consent.</li>
                                        <li>You agree not to, or attempt to, circumvent, disable or otherwise interfere with security-related features of the website or features that prevent or restrict use or copying of any content or enforce limitations on the use of the website or the content therein.</li>
                                        <li>You agree not to use, copy, distribute or commercialise content except as permitted by this agreement, by law or with our prior written consent.</li>
                                        <li>You understand and agree that any suspected fraudulent, abusive or illegal activity may be referred to appropriate law enforcement authorities.</li>
                                        <li>We reserve the right to cancel your registration at any time, subject to our complete discretion. In the event that you have previously purchased a package, we will email you a copy of any confirmation prior to cancelling registration. In the event of cancellation of registration, our decision is final and binding.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="information-on-this-website">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Information on this Website</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Information about offers on the Website may be based on material provided by third party businesses ("merchants"). We do our best to verify the information provided to us by merchants but we cannot guarantee its accuracy on all occasions.</p>
                                    <ul>
                                        <li>You understand and agree that we cannot be held responsible for errors or omissions caused by incorrect or inadequate information supplied to us or by merchants.</li>
                                        <li>You agree to make your own enquiries to verify information provided and to assess the suitability of products before you purchase.</li>
                                        <li>All imagery and video on the Website are for representational purposes only.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="orders">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Orders</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Purchases made by you to purchase a travel offer are made under the specific terms and conditions in this agreement, together with any merchant-specific terms and conditions listed under the “Fine Print” of the offer, together with any specific terms and conditions of the merchant. Promotion of offers on the site does not constitute a legally binding offer, but rather, are an invitation to treat.</p>
                                    <p>We reserve the right to accept or reject your order for any reason (or no reason) at any time after that order has been made, including, but not limited to, the unavailability of any product or service, an error in the price or product or service description, or an error in your order. If we cancel your order, we will provide a full refund of any payment received. Once placed, you cannot cancel your order except as set out in this agreement.</p>
                                </div>
                            </div>
                        </div>
                        <div id="price">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Price</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The prices of offers include all taxes and charges, including GST (where applicable) except where stated otherwise. There may be additional surcharges which are payable directly to the hotel which will be referred to in the relevant travel offer. Prices of products and services are current at time of display however are subject to change.</p>
                                </div>
                            </div>
                        </div>
                        <div id="payment">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Payment</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>All payments must be received in full prior to a confirmation being issued. If your payment is not received or declined by your bank or credit card issuer, we cannot 'hold' packages on your behalf.</p>
                                </div>
                            </div>
                        </div>
                        <div id="travel-agreements-and-travel-products">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Travel Agreements and Travel Products</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Booking of travel arrangements and payment for travel products (which can include both land and passage components) shall be considered proof that you have read our booking conditions that you accept them without reservation as constituting the entire agreement between you and the Company which can only be varied by an officer of the Company in writing.</p>
                                    <p>All travel products arranged by the Company are provided by Suppliers believed by the Company to be reputable and to operate in accordance with the standards set down by their own local authorities. Those travel products are provided subject to those Suppliers’ terms, conditions and limitations (some of which may exclude or limit liability in respect of death, injury, delay, loss or damage to passenger’s person and/or effects) and the Company accepts no responsibility for them and does not make or give any warranty or representation as to their standard. Any legal recourse you may have in respect of those travel products is against those Suppliers and not against the Company.</p>
                                </div>
                            </div>
                        </div>
                        <div id="accessibility-of-booking-confirmation">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Accessibility of Booking Confirmation</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Your travel booking confirmation will be accessible via your account with us. You agree that we are not liable for any loss suffered as a result of you being unable to download, print or access a booking confirmation.</p>
                                </div>
                            </div>
                        </div>
                        <div id="booking-confirmation">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Booking Confirmation</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The Booking Confirmation you purchase is redeemable for the specified offer from the relevant supplier(s). The relevant supplier(s), not Luxury Escapes, is the seller of the product and is solely responsible for honouring the package you purchase. Whilst we try (as much as possible) to ensure that we only promote those merchants who we feel will provide good service to you, we make no guarantee, warranty or representation regarding the standard of any product to be provided.</p>
                                    <p>Booking confirmations cannot be exchanged or redeemed for cash. Unless specifically stated otherwise, packages cannot be combined with any other gift certificates, packages or promotions. Not valid in conjunction with any other offer or on existing reservations. Any unused portion of the package is non-refundable and cannot be exchanged for other services or cash.</p>
                                    <p>We are not responsible for lost or stolen booking confirmations or fraudulent use of the booking confirmation's unique reference number.</p>
                                </div>
                            </div>
                        </div>
                        <div id="reservations">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Reservations</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <h3 id="instant-booking">Instant Booking</h3>
                                    <p>If you elect to book online through Instant Booking, you will be required to:</p>
                                    <ul>
                                        <li>Log into Luxury Escapes (using your email address and password)</li>
                                        <li>Click on the relevant deal</li>
                                        <li>Fill in the required fields including travel dates, party size and any other options / extras.</li>
                                        <li>Once your booking is complete click on ‘Continue’ to proceed to payment and complete the payment process to complete your booking online.</li>
                                    </ul>
                                    <p>You are responsible for making all payments due to us, even if your booking includes other parties. You must be at least 18 when the booking is made. A booking request can only be processed where you have provided us with payment authority (including credit / debit card details) and the booking has been accepted as set out below. We accept no liability for any errors you make in the booking form.</p>
                                    <p>Once you’ve completed your booking the relevant supplier will be notified of your selected dates and following confirmation of those dates your credit / debit card will be debited in respect of the payment amount and you will then receive an email and invoice from Luxury Escapes confirming your reservation.</p>
                                    <p>On the rare occasion, advertised dates for a particular deal may not be available when your booking request is processed. When this occurs, Luxury Escapes will, where possible, offer you similar alternative arrangements. Where we are unable to find an alternative which is suitable for you, we will reimburse you for any payment made in respect of that booking.</p>
                                    <h3 id="buy-now-and-book-later">Buy Now and Book Later</h3>
                                    <p>If you elect to buy a deal now but wish to book the particular dates at a later time you will be required to:</p>
                                    <ul>
                                        <li>Log into Luxury Escapes (using your email address and password)</li>
                                        <li>Click on the relevant deal</li>
                                        <li>Select the “Buy now / Book later” option</li>
                                        <li>You will get a confirmation email with details about the booking but no booking confirmation will be generated;</li>
                                        <li>In order to book your trip you will need to go to the My Escapes/My account to Book the dates.</li>
                                    </ul>
                                    <p>You will be required to produce a booking confirmation at check in. In the event that you forget, lose, misplace or have the confirmation stolen, you will be required to produce another copy of the confirmation. Neither Luxury Escapes, nor the merchant, shall be required to provide any refund or a replacement booking or product, in the event that you fail to produce a travel booking confirmation upon request</p>
                                </div>
                            </div>
                        </div>
                        <div id="change-of-date">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Change of Date</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>You are permitted to make one (1) change to the date of your booking provided that such change is made no less than 45 days prior to the commencement of your original booking date and provided you choose dates which are of an equal value and are available on the Website. Any change to your booking date must be made on the Website and is strictly subject to availability. Note this Change of Booking Date option does not apply to all packages and does not apply to any Tour or Cruise bookings. No refund will be given if you are not able to change your booking date as a result of alternate dates not being available or the Change of Date option not being available for your booking. </p>
                                    <p>In order to check whether your package is eligible for a Change of Date, to check alternate dates and to change your booking you will need to follow these steps. </p>
                                    <ol>
                                        <li>Log into MY ESCAPES on the Website and click CHANGE DATES NOW (if available for your booking) </li>
                                        <li>Select your new dates (which must be available and of equal value)</li>
                                        <li>Click “Confirm Dates” to confirm your change of date</li>
                                        <li>You will then be sent a revised booking confirmation</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div id="purchase-expiry-and-extension">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Purchase Expiry and Extension</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The booking confirmation will expire on the date indicated on the travel booking confirmation. Expired purchases are non-refundable in whole or part. Once expired, purchases are no longer valid and will not be honoured by the merchant.</p>
                                    <p>In the event that a booking specifies a ‘book by’ date, all bookings must be made with the supplier prior to that date.</p>
                                </div>
                            </div>
                        </div>
                        <div id="merchant-terms-and-conditions">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Merchant Terms &amp; Conditions</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Any Terms and Conditions of the supplier will always apply in addition to any specific terms of the offer stated by Luxury Escapes. For example, if a merchant is not open on certain days, the package will not be redeemable on those days. Refunds are not payable in the event that you are unable to use a package on account of the merchant's usual terms and conditions.</p>
                                </div>
                            </div>
                        </div>
                        <div id="consecutive-days">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Consecutive Days</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Unless the offer specifically provides otherwise, offers must be used over one continuous period and packages cannot be split. For example, if a package entitles you to four nights at a resort, those four nights must be used consecutively - you cannot use two nights over one period, and then two nights over another.</p>
                                </div>
                            </div>
                        </div>
                        <div id="changes-in-prices-and-itineraries">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Changes in Price and Itineraries</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Prices are in Australian dollars (except where stated otherwise) are correct at the time of printing and are subject to change without notice. The price that is applicable at any time is that which is quoted at that time by the Company’s computer based system. Some prices can only be guaranteed at the time the booking is made and may differ from that quoted as it is based on the “best available rate of the day from the supplier”.</p>
                                    <p>Government taxes and charges imposed by Suppliers or third parties, including airline fuel surcharges, taxes or ticketing fees are subject to change. If any increase in such taxes or charges or any currency fluctuation increases the price of your booking, the Company reserves the right to adjust your price by including additional charges, together with any applicable service fee and GST, at any time prior to our issuing your travel documentation following receipt of the balance of your price.</p>
                                    <p>We will notify you of schedule or price changes made by suppliers for any reason beyond our control. If the change or changes result in your travel arrangements costing more, or otherwise being materially different from those prior to the change or changes being effected (and in respect of which we have already accepted your full payment) you may rearrange them or withdraw and monies already paid will be refunded less any charges levied by Suppliers. Any quote given is an estimate only of price and is subject to written confirmation, when accepted by a passenger within five (5) days of the quote being given. The Company reserves the right to correct any errors in amounts quoted, calculated or billed in respect of a booking, even if full payment has been made.</p>
                                </div>
                            </div>
                        </div>
                        <div id="price-and-invoice-errors">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Price and Invoice Errors</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The Company endeavours to ensure that all prices listed on the Website are accurate and up-to-date. However, due to exchange rate fluctuations or increases in supplier rates, the Company reserves the right, up to and including the date of check-in, to adjust any fees, charges or prices as necessary, even if the travel products acquired have been paid for in full, to reflect such cost increases passed onto the Company.</p>
                                    <p>The Company reserves the right to correct any errors in fees, charges, rates or prices quoted or billed, even if the travel products acquired have been paid for in full.</p>
                                </div>
                            </div>
                        </div>
                        <div id="refunds">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Refunds</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>
                                        Any refunds are made in accordance with our <a target="_blank" rel="noopener noreferrer" href="/refund-policy" title="null">Refund Policy</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="what-is-not-included-in-luxury-escapes-products">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">What Is Not Included in Luxury Escapes Products</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Flights (except where expressly stated), passport and visa fees, insurance, laundry, phone calls, beverages, meals not detailed in the itinerary, tips to tour Directors, motor coach drivers and local city guides, items of a personal nature, excess baggage, expenses, fees or costs incurred in case of illness, or of refusal of entry, detention in, or expulsion or repatriation from a country or part of a country. The Company is not liable for any expense, costs or loss incurred in relation to such matters. You agree not to hold the Company responsible for any such things.</p>
                                </div>
                            </div>
                        </div>
                        <div id="insurance">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Insurance</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>You should immediately after purchasing any travel product arrange your own insurance. The Company recommends travel insurance against loss of deposits through cancellation charges, baggage loss, medical expenses and theft. The Company makes no representations or guarantees concerning reimbursements of funds paid by you under any insurance claim. You agree not to hold the Company responsible for any decision made by insurers, and/or by any suppliers, or requirements of any overseas country or governmental authority or overseas laws and policies.</p>
                                </div>
                            </div>
                        </div>
                        <div id="passports-visa-vaccinations-and-baggage">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Passports, Visa, Vaccinations, and Baggage</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>A visa does not guarantee you entry to a country or permission to remain in it. Some countries may refuse entry because of your health, condition, or other circumstances or for other reasons, or may detain, expel or repatriate you. It is your responsibility to find out about applicable entry and other requirements of overseas countries you are intending to visit. These things are not our responsibility.</p>
                                    <p>
                                        It shall be your responsibility to be aware of the safety, local conditions and issues that may exist at your travel destination. We recommend that you contact the Department of Foreign Affairs and Trade (DFAT) or visit their website <a target="_blank" rel="noopener noreferrer" href="http://www.smartraveller.gov.au" title="null">www.smartraveller.gov.au</a> for current travel advice. Luxury Escapes accepts no liability in this regard.
                                    </p>
                                    <p>You should check with the embassies or consulates or other authorities of the countries in which you intend to travel for any health, entry or visa requirements that are applicable and you should make the appropriate disclosures as required. A failure to disclose a health condition may result in the applicable country refusing you entry, or in you being detained, expelled or repatriated from it.</p>
                                    <p>The Company and/or its servants and agents accept no responsibility if you are refused entry into the country/countries of your destination. The Company and/or its servants and agents are not liable for any expenses, costs liabilities or loss incurred in relation to such matters. You agree to not hold the Company including its servants and agents responsible for any such thing. The Company/and or its servants and agents are not responsible for any disclosures of a health condition made by other suppliers who provide services on the holiday or for the acts of any governmental instrumentalities of the countries connected to your holiday.</p>
                                    <p>You are responsible for all visas, entry, health and other requirements and any documents required by laws, regulations, orders and/or requirements of countries visited. The Company and/or its servants and agents are not responsible for passport and visa requirements or for any loss you sustain for failing to comply with laws, regulations, orders and/or requirements of countries visited.</p>
                                </div>
                            </div>
                        </div>
                        <div id="room-bedding-guide">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Room Bedding Guide</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>All prices on this website are based on existing bedding in the room. Requests for particular arrangements must be made at the time of booking (for example, twin share, separate beds, additional rollaway beds may be arranged at time of check-in and additional charges may be payable direct to the hotel). Some hotels may also have maximum capacity for particular rooms.</p>
                                </div>
                            </div>
                        </div>
                        <div id="pricing-value-and-savings">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Pricing, Value, and Savings</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>We calculate the percentage off in our deals based on the ‘rack rate’ of the room and the inclusions at the time the deal is live for the validity period of the deal (that’s hotel-speak for ‘Recommended Retail Price’). Hotels may change accommodation charges depending on peak seasons, low seasons and events so we use the rack rate which is consistent through the year and 100% verifiable. The value and comparative savings have been determined based on the resort's published rack rates and the value of inclusions. Please be advised that rack rates may not be reflective of actual rates being charged, dependent on the timing and manner of your booking and therefore are only indicative of the level of saving.</p>
                                </div>
                            </div>
                        </div>
                        <div id="frequent-flyer-points">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Frequent Flyer Points</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Airfares may or may not attract Frequent Flyer points. This decision rests with the airline and is not the responsibility of the Company. For further information please contact the airline directly.</p>
                                </div>
                            </div>
                        </div>
                        <div id="liability">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Liability</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>All information, such as comments, messages, text, files, images, photos, video, sounds and other materials ("content") posted on, transmitted through or linked from the website are the sole responsibility of the person from whom such content originated. You understand that we do not control and are not responsible for content made available through the website unless it originates from us. Consequently, by using the website you may, contrary to this agreement and our intentions, be exposed to content that you find offensive, indecent, inaccurate, misleading or otherwise objectionable. You use the website at your own risk.</p>
                                    <p>In the absence of its own negligence neither the Company nor any agent or affiliate shall be liable for any loss or damage to baggage or property, or for injury, illness or death, or for any damages or claims whatsoever arising from loss, negligence, delay or from the act, error, omission, default or negligence of any person not its direct employee or under its exclusive control, including any act, error, omission, default, or negligence of any country, government or governmental authority, officer or employee. Neither the Company nor any agent or affiliate is responsible for any criminal conduct by any third parties.</p>
                                    <p>All bookings agreed to be made by the Company with the provider of any transport or other services are subject to the terms and conditions imposed on such suppliers in relation to matters that may not be expressly the subject of our agreement with them and, in particular, to the applicable laws, requirements and policies of any government, governmental authority or employee including, visa, entry, exit or transit.</p>
                                    <p>The Company does not accept responsibility or liability for any acts, omissions or defaults whether negligent or otherwise, of suppliers. Neither the Company, nor any agent or affiliate accepts any responsibility or liability of any nature whatsoever for the acts, omissions or defaults (whether negligent or otherwise) of any governmental authorities, their officers, or employees or of any employees, or agents of airlines, air carriers, coach operators, other land carriers, shipping companies or operators, cruise or ferry operators, any other transport providers, hoteliers or other accommodation providers, any other facilities providers, tour directors, tour guides, travel agents, or the providers to you of meals, other goods or other services on your holiday or in relation to it and over whom the Company, its agents or affiliates have no direct control.</p>
                                    <p>Neither the Company nor any agent or affiliate accepts any responsibility or liability of any nature whatsoever including but not limited to contract, in tort or under any other law for any injury, damage, loss, delay, additional expenses or inconvenience caused by your own acts and/or omissions, or other events which are beyond their control including force majeure or other events including but not limited to war, civil disturbance, fire, floods, severe weather, acts of God, acts of government or any other authorities, failure of equipment or machinery.</p>
                                    <p>Neither the Company nor any agent or affiliate accepts any liability or responsibility for any terms, conditions or requirements of any third party who provides some service in the course of your holiday. If you decide that you do not want to visit a country or part of a country you intended to visit because of any law, condition or requirements of any government or governmental authority, official, servant or agent, you are responsible for any costs, expenses, charges, fees, losses or damage incurred as a consequence and any cancellation or amendment fees.</p>
                                    <p>Neither the Company nor any agent accepts any responsibility or liability for your acts, omissions, defaults, conduct, and state of health, condition or circumstances. Every effort is made to ensure website accuracy at all times. However, the Company cannot be held responsible for printing or typographical errors or errors arising from unforeseen circumstances.</p>
                                </div>
                            </div>
                        </div>
                        <div id="limitations-of-liability">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Limitations of Liability</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The Company arranges your holiday, which will be provided by other suppliers. The Company sells holidays in Australia and internationally that are arranged by the Company or by entities related to or affiliated with it. The Company provides you and other passengers with bookings, arrangements, ticketing and other ancillary and related services.</p>
                                    <p>The Company does not itself provide the transport, accommodation, meals or other facilities described on this website that you may receive on your holiday, all of which are provided by air and land carriers, cruise operators, hoteliers or suppliers of other services as principals.</p>
                                    <p>The Company bears no responsibility as an intermediary and cannot be held responsible in case of damage caused to you by any of our suppliers, caused by you to our suppliers. You therefore commit to indemnify and hold harmless the Company against all damages or claims made by you. The above provisions do not apply to benefit the Company if the cause of the loss or claim against the Company arises directly as a result of a breach of any of these terms by the Company.</p>
                                </div>
                            </div>
                        </div>
                        <div id="indemnity">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Indemnity</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>You will at all times indemnify, and keep indemnified, us and our directors, officers, employees and agents from and against any loss (including reasonable legal costs and expenses on a full indemnity basis) or liability incurred or suffered by you or by us arising from any claim, demand, suit, action or proceeding by any person against you or us where such loss or liability arose out of, in connection with or in respect of your conduct or breach of this agreement.</p>
                                </div>
                            </div>
                        </div>
                        <div id="links-to-third-party-websites">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Links to Third Party Websites</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The Website may include links to other websites, content or resources. These linked websites, content or resources may be operated by third parties and we may have no responsibility or control over them.</p>
                                    <p>The existence of these links does not imply that we endorse the linked website, content or resource. You acknowledge that we have not reviewed any of these third party websites, content or resources and we are not responsible for the material contained therein.</p>
                                </div>
                            </div>
                        </div>
                        <div id="standard-of-service">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Standard of Service</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>The standard of service in your holiday is based on various factors and neither the company nor its servants or agents represent or guarantee the standard or fitness for purpose of the accommodation or services provided.</p>
                                </div>
                            </div>
                        </div>
                        <div id="complaints-or-problems">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Complaints or Problems</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>We endeavour to ensure that the arrangements we have made for you are implemented as arranged. If a problem occurs, the most practical way to deal with it is to attempt resolution locally with the supplier (such as the hotel, tour operator or airline).</p>
                                    <p>If you fail to follow this course, any claim for compensation may be reduced or denied. If you have any unresolved complaint, details should be lodged in writing (with supporting documentation, including efforts made with the service provider to resolve it) directly to the Company within 30 days of return to Australia.</p>
                                    <p>
                                        We have no liability (including for loss or damage) for any act, omission or default, whether negligent or otherwise of any merchant. If you wish to make a complaint in respect of a merchant, you must email that complaint to <a target="_blank" rel="noopener noreferrer" href="mailto:support@luxuryescapes.com" title="null">support@luxuryescapes.com</a>.
                                    </p>
                                    <p>
                                        Notwithstanding the nature of the complaint, Refunds will only be provided in accordance with our <a target="_blank" rel="noopener noreferrer" href="/refund-policy" title="null">Refund Policy</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="intellectual-property">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Intellectual Property</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>We reserve all intellectual property rights, including but not limited to, copyright in material and/or services provided by us. Nothing in the agreement gives you a right to use any of our marketing material, business names, trademarks, logos, domain names or other distinctive brand features.</p>
                                    <p>Other trademarks used on the Website that belong to third parties are used with their consent and remain the intellectual property of that party.</p>
                                    <p>If you correspond or otherwise communicate with us, you automatically grant to us an irrevocable, perpetual, non-exclusive, royalty-free, world-wide licence to use, copy, display and distribute the content of your correspondence or communication and to prepare derivative works of the content or incorporate the content into other works in order to publish and promote such content. This may include, but is not limited to, publishing testimonials on the Website and developing your ideas and suggestions for improved products or services we provide.</p>
                                </div>
                            </div>
                        </div>
                        <div id="change-of-control">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Change of Control</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Subject to relevant laws, if we merge, sell or otherwise change control of our business or this Website, we reserve the right, without giving notice or seeking consent, to transfer or assign your Personal Information, content and rights that we have collected from you and any agreements we have made with you.</p>
                                </div>
                            </div>
                        </div>
                        <div id="communication-by-us">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Communication by Us</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>As a condition of registering for Luxury Escapes, you consent to us sending you Administrative Emails and Promotional Emails. In this document:</p>
                                    <ul>
                                        <li>'Administrative Emails' involve details of account activity and purchases you have made</li>
                                        <li>'Promotional Emails' consist of product information and new offers. You may choose to opt-out receiving promotional emails anytime by simply clicking the unsubscribe button at the bottom of our emails. More details about these emails can be found in our <a target="_blank" rel="noopener noreferrer" href="/privacy-policy" title="null">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="luxury-escapes-credit">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Luxury Escapes Credit</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <ul>
                                        <li>Users (referred to as 'Referrers') are able to earn Luxury Escapes Credits (referred to as 'Credits') if they refer users who register with us (referred to as 'Referees') and those Referees purchase Luxury Escapes offers.</li>
                                        <li>Currently, Referrers are able to accumulate Credits by referring other people to Luxury Escapes.</li>
                                        <li>We reserve the right to alter the value of Credits to Referrers and the duration of credit at any time.</li>
                                        <li>If a Referee closes their Luxury Escapes account (or is removed by Luxury Escapes), the Referrer will no longer accumulate Credits.</li>
                                        <li>If your registration on our Website is cancelled or terminated by us in accordance with these Terms and Conditions, any accrued Credits will be forfeited.</li>
                                        <li>You may apply Credits to the purchase price of an offer. For example, if you have $200 Credits and wish to purchase a package which costs $500, you would also need to spend $300 on your credit card along with $200 Credits to purchase the deal.</li>
                                        <li>We reserve the right to alter the amount and ratio of Credits we grant at our absolute discretion. We also reserve the right to cancel members Credits if they have breached these Terms and Conditions.</li>
                                        <li>Credits will expire 365 days after they have been credited to your account (unless such other period is stated by Luxury Escapes in writing in a particular promotion or campaign). Credits are not transferable or assignable and cannot be redeemed in any way other than in accordance with this clause.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="gift-cards">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Gift Cards</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Luxury Escapes Gift Cards are subject to the Luxury Escapes Gift Card Terms of Use.</p>
                                </div>
                            </div>
                        </div>
                        <div id="governing-law">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Governing Law</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>This agreement will be governed by and interpreted in accordance with the laws of Victoria, Australia. You irrevocably submit to the exclusive jurisdiction of the courts of the State of Victoria.</p>
                                </div>
                            </div>
                        </div>
                        <div id="qantas-frequent-flyer">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Qantas Frequent Flyer</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <ul>
                                        <li>You must be a Qantas Frequent Flyer (‘<strong>QFF</strong>’) member to earn and use Qantas points. A joining fee usually applies, however Luxury Escapes customers can join for free <a target="_blank" rel="noopener noreferrer" href="https://www.qantaspoints.com/join-now?code=LUXURYESCAPES" title="null">here</a>. Membership and points are subject to the Qantas Frequent Flyer program <a target="_blank" rel="noopener noreferrer" href="https://www.qantas.com/us/en/frequent-flyer/discover-and-join/terms-and-conditions.html" title="null">terms and conditions</a>.</li>
                                        <li>QFF members can use Qantas Points towards all or part of their Eligible Holiday booking to reduce the amount paid starting from $20 (4,000 points).</li>
                                        <li>QFF members will earn 1 Qantas Point per AU$1 spent on an “Eligible Holiday” booked with Luxury Escapes.</li>
                                        <li>“Eligible Holidays” are holidays purchased using Australian Dollars, sold through LuxuryEscapes.com/au directly that include the Qantas Frequent Flyer logo in the package advertisement and under the checkout price.</li>
                                        <li>Members will only earn Qantas Points with Luxury Escapes if they’ve linked their Qantas Frequent Flyer account to their Luxury Escapes ‘My Account’, ‘Account Details’ section or entered a valid Qantas Frequent Flyer number and last name at checkout when booking an Eligible Holiday.</li>
                                        <li>Qantas Points will be credited to the QFF account up to 60 days after purchase.</li>
                                        <li>Qantas Points will not be earned on cancelled bookings.</li>
                                        <li>If Qantas Points are used towards the booking, they will be non-refundable if that booking is cancelled and Luxury Escapes Credit will be issued instead.</li>
                                        <li>Luxury Escapes Booking Terms and Conditions apply in respect of any purchase made through Luxury Escapes.</li>
                                        <li>Luxury Escapes reserve the right to change, suspend or terminate these Terms and Conditions at any time.</li>
                                    </ul>
                                    <p>Qantas Frequent Flyer members who link their Frequent Flyer number to their Luxury Escapes account or provide a valid Frequent Flyer number and last name at checkout will earn 1 Qantas Point per AU$1 spent on eligible holidays. Qantas Points will be credited to a member’s account up to 60 days after purchase. Qantas Points will not be earned on cancelled bookings. Members can also use Qantas Points towards all or part of their eligible holiday booking to reduce the amount paid, starting from $20 (4,000 points). An eligible holiday is a holiday purchased using AUD through LuxuryEscapes.com/au and includes the Qantas Frequent Flyer logo under the checkout price or as advised by the Luxury Escapes concierge team on 1300 88 99 00. If Qantas Points are used towards the booking, they will be non-refundable if that booking is cancelled and Luxury Escapes Credit will be issued instead. Standard Luxury Escapes booking terms and conditions apply.</p>
                                </div>
                            </div>
                        </div>
                        <div id="mastercard">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Mastercard</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <ol>
                                        <li>
                                            From 12:00 a.m. on 1st May 2018 to 11:59 p.m. on 30th April 2019 (“Promotion Period”):<ul>
                                                <li>Eligible Cardmembers (as defined below) who are New Users (as defined below) can enjoy S$150 (or as per Appendix A for other currencies / countries) off the price of Eligible Bookings (as defined below) with no minimum spend required (the “<strong>New User Discount</strong>”); and</li>
                                                <li>Eligible Cardmembers who are Existing Users (as defined below) can enjoy S$150 (or as per Appendix A for other currencies / countries) off the price of Eligible Bookings, with a minimum total spend of S$1000 (or as per Appendix A for other currencies / countries) on Eligible Bookings (the “<strong>Existing User Discount</strong>”). Each of the New User Discount and the Existing User Discount will also be referred to in these Terms and Conditions as the “<strong>Discount</strong>”.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            In these Terms and Conditions:<ul>
                                                <li>“<strong>Eligible Cardmembers</strong>” means holders of either World Elite Mastercard or World Mastercard in Asia Pacific markets. The cards mentioned in the foregoing sentence shall be referred to as “<strong>Eligible Cards</strong>”.</li>
                                                <li>“<strong>Eligible Booking</strong>” means booking of hotels and resorts packages or tours that are offered on <a target="_blank" rel="noopener noreferrer" href="/" title="null">https://luxuryescapes.com</a></li>
                                                <li>“<strong>Existing User</strong>” means a user who, prior to making an Eligible Booking during the Promotion Period, has made one or more Eligible Bookings through the user’s registered account on the Website that has or have not been cancelled, regardless of whether the user has redeemed such bookings.</li>
                                                <li>“<strong>New User</strong>” means a user who, prior to making an Eligible Booking during the Promotion Period: (i) has never made an Eligible Booking on the Website, regardless of whether the user has set up an account on the Website, or (ii) has made an Eligible Booking on the Website but cancelled such booking.</li>
                                                <li>“<strong>Website</strong>” means <a target="_blank" rel="noopener noreferrer" href="/" title="null">luxuryescapes.com</a></li>
                                            </ul>
                                        </li>
                                        <li>Redemption of the New User Discount is limited to one (1) Eligible Booking completed by the Eligible Cardmember during the Promotion Period.</li>
                                        <li>There is no limit to the redemption of the Existing User Discount by Eligible Cardmembers during the Promotion Period.</li>
                                        <li>To redeem the Discount, please (i) access the Website directly or through <a target="_blank" rel="noopener noreferrer" href="/mastercard" title="null">luxuryescapes.com/mastercard</a> (or local landing page); and (ii) enter the promotion code MASTERCARDLESG for Singapore or the equivalent promo code for each respective market (“<strong>Promo Code</strong>”) at checkout and make payment with an Eligible Card. The Promo Code will only be valid on the Website and on the Luxury Escapes app on Android and iOS.</li>
                                        <li>Unless otherwise stated, the Discount may not be used together with any other promotion that may be available for bookings on the Website.</li>
                                        <li>If an Eligible Booking, to which the Discount was applied, is cancelled and qualifies for a refund, the refund will be equal to the amount paid by the Eligible Cardmember for the item, subject to any cancellation fees and/or other applicable charges. Please refer to the refund policy at <a target="_blank" rel="noopener noreferrer" href="/refund-policy" title="null">luxuryescapes.com/refund-policy</a> for details.</li>
                                        <li>The Discount available to an Eligible Cardmember shall not be transferable to another user, or be redeemable for cash.</li>
                                        <li>All travel and stays must be completed by the “Travel By” date specified in the terms and conditions of the relevant Offer.</li>
                                        <li>The applicable promo code must be entered and applied at the payment page of the URL in order to enjoy the discount under the relevant Offer.</li>
                                        <li>
                                            In the event of any cancellation and/or amendment to the booking:<ul>
                                                <li>The Mastercard cardholder will be charged the relevant fee(s) as indicated in the booking terms and conditions; and</li>
                                                <li>The saving value will not be refunded.</li>
                                            </ul>
                                        </li>
                                        <li>To the extent permitted by applicable laws, Mastercard Asia Pacific and/or Luxury Escapes reserve the rights to terminate this offer and/or replace the offer with another offer of similar value.</li>
                                        <li>Luxury Escapes shall be solely responsible for the fulfilment of the Discount and products or services offered by Luxury Escapes to Eligible Cardmembers. Mastercard acts solely as a payment provider and is not responsible or liable in the event that the Discount or any of the products or services are not provided or fulfilled by Luxury Escapes.</li>
                                        <li>Mastercard is not the provider of any of the products or services offered on the Website and makes no representation or warranty in relation to such products or services.</li>
                                        <li>Luxury Escapes’ Terms and Conditions at <a target="_blank" rel="noopener noreferrer" href="/terms-and-conditions" title="null">luxuryescapes.com/terms-and-conditions</a> apply and should be read in conjunction with these terms and conditions.</li>
                                    </ol>
                                    <p>
                                        <strong>Effective Date: December 2017</strong>
                                    </p>
                                    <h3 id="appendix-a">Appendix A</h3>
                                    <p>Offer for New and Existing Luxury Escapes customers on paying with Eligible World Elite or World Mastercard users in APAC.</p>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Market</th>
                                                <th>Offer for new LE Customers</th>
                                                <th>Offer for existing LE Customers</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>China</td>
                                                <td>CNY 750 OFF; No minimum purchase</td>
                                                <td>CNY 750 OFF; CNY 5,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Hong Kong</td>
                                                <td>HK$ 900 OFF; No minimum purchase</td>
                                                <td>HK$ 900 OFF; HK$ 6,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Taiwan</td>
                                                <td>NT$ 3,250 OFF; No minimum purchase</td>
                                                <td>NT$ 3,250 OFF; NT$ 22,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Singapore</td>
                                                <td>S$ 150 OFF; No minimum purchase</td>
                                                <td>S$ 150 OFF; S$ 1,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Malaysia</td>
                                                <td>MYR 450 OFF; No minimum purchase</td>
                                                <td>MYR 450 OFF; MYR 3,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Indonesia</td>
                                                <td>IDR 1.5M OFF; No minimum purchase</td>
                                                <td>IDR 1.5M OFF; IDR 10M minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Thailand</td>
                                                <td>THB 3,500 OFF; No minimum purchase</td>
                                                <td>THB 3,500 OFF; THB 23,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Philippines</td>
                                                <td>PHP 6,000 OFF; No minimum purchase</td>
                                                <td>PHP 6,000 OFF; PHP 40,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Vietnam</td>
                                                <td>VND 2.5M OFF; No minimum purchase</td>
                                                <td>VND 2.5M OFF; VND 17M minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Japan</td>
                                                <td>JPY 12,000 OFF; No minimum purchase</td>
                                                <td>JPY 12,000 OFF; JPY 80,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>South Korea</td>
                                                <td>Won 120,000 OFF; No minimum purchase</td>
                                                <td>Won 120,000 OFF; Won 800,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>New Zealand</td>
                                                <td>NZ$ 150 OFF; No minimum purchase</td>
                                                <td>NZ$ 150 OFF; NZ$ 1,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>India</td>
                                                <td>INR 7,500 OFF; No minimum purchase</td>
                                                <td>INR 7,500 OFF; INR 50,000 minimum purchase</td>
                                            </tr>
                                            <tr>
                                                <td>Australia</td>
                                                <td>A$ 50 OFF; A$ 500 minimum purchase</td>
                                                <td>NA</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="amex">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Amex</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <h3 id="singapore">Singapore</h3>
                                    <ol>
                                        <li>
                                            From 12:00 a.m. on 21st May 2018 to 11:59 p.m. on 20th May 2019 (“<strong>Promotion Period</strong>”):<ul>
                                                <li>Eligible Cardmembers (as defined below) who are New Users (as defined below) can enjoy S$200 off the price of Eligible Bookings (as defined below), with a minimum total spend of S$1,500 on Eligible Bookings (the “<strong>New User Discount</strong>”); and</li>
                                                <li>Eligible Cardmembers who are Existing Users (as defined below) can enjoy S$50 off the price of Eligible Bookings, with a minimum total spend of S$500 on Eligible Bookings (the “<strong>Existing User Discount</strong>”).</li>
                                                <li>Each of the New User Discount and the Existing User Discount will also be referred to in these Terms and Conditions as the “<strong>Discount</strong>”.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            In these Terms and Conditions:<ul>
                                                <li>“<strong>Eligible Cardmembers</strong>” means holders of a basic or supplementary American Express Consumer Card issued in Singapore by American Express International, Inc. (“<strong>American Express</strong>”) or licensees of American Express in Singapore, including American Express credit cards issued by DBS Bank Limited, United Overseas Bank Limited and Citibank Singapore Limited. The cards mentioned in the foregoing sentence shall be referred to as “<strong>Eligible Cards</strong>”.</li>
                                                <li>“<strong>Eligible Booking</strong>” means booking of hotels and resorts packages or tours that are offered on <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/sg" title="null">https://luxuryescapes.com/sg</a>.</li>
                                                <li>“<strong>Existing User</strong>” means a user who, prior to making an Eligible Booking during the Promotion Period, has made one or more Eligible Bookings through the user’s registered account on the Website that has or have not been cancelled, regardless of whether the user has redeemed such bookings.</li>
                                                <li>“<strong>New User</strong>” means a user who, prior to making an Eligible Booking during the Promotion Period: (i) has never made an Eligible Booking on the Website, regardless of whether the user has set up an account on the Website, or (ii) has made an Eligible Booking on the Website but cancelled such booking.</li>
                                                <li>“<strong>Website</strong>” means <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/sg" title="null">https://luxuryescapes.com/sg</a>.</li>
                                            </ul>
                                        </li>
                                        <li>Redemption of the New User Discount is limited to one (1) Eligible Booking completed by the Eligible Cardmember during the Promotion Period.</li>
                                        <li>There is no limit to the redemption of the Existing User Discount by Eligible Cardmembers during the Promotion Period.</li>
                                        <li>To redeem the Discount, please (i) access the Website directly or through <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/sg/amex" title="null">https://luxuryescapes.com/sg/amex</a> and (ii) enter the promotion code AMEXLESG (“<strong>Promo Code</strong>”) at checkout and make payment with an Eligible Card. The Promo Code will only be valid on the Website and on the Luxury Escapes app on Android and iOS.</li>
                                        <li>Unless otherwise stated, the Discount may not be used together with any other discount that may be available in Singapore for bookings on the Website.</li>
                                        <li>If an Eligible Booking, to which the Discount was applied, is cancelled and qualifies for a refund, the refund will be equal to the amount paid by the Eligible Cardmember for the item, subject to any cancellation fees and/or other applicable charges. Please refer to the refund policy at <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/sg/refund-policy" title="null">https://luxuryescapes.com/sg/refund-policy</a> for details.</li>
                                        <li>The Discount available to an Eligible Cardmember shall not be transferable to another user, or be redeemable for cash.</li>
                                        <li>To the extent permitted by applicable laws, American Express and/or Luxury Escapes reserve the rights to terminate this offer and/or replace the offer with another offer of similar value.</li>
                                        <li>Luxury Escapes shall be solely responsible for the fulfilment of the Discount and products or services offered by Luxury Escapes to Eligible Cardmembers. American Express acts solely as a payment provider and is not responsible or liable in the event that the Discount or any of the products or services are not provided or fulfilled by Luxury Escapes.</li>
                                        <li>American Express is not the provider of any of the products or services offered on the Website and makes no representation or warranty in relation to such products or services.</li>
                                        <li>Luxury Escapes’ Terms and Conditions at <a target="_blank" rel="noopener noreferrer" href="https://luxuryescapes.com/sg/terms-and-conditions" title="null">https://luxuryescapes.com/sg/terms-and-conditions</a> apply and should be read in conjunction with these terms and conditions.</li>
                                        <li>In the event of any inconsistency between the English language version of these terms and conditions and version(s) in other language(s), the English language version shall prevail.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div id="best-price-on-earth-guarantee">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">Best Price on Earth Guarantee</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <p>Should you find an equivalent accommodation package published elsewhere (Equivalent Package) at a lower price than a current Luxury Escapes offer then Luxury Escapes will match that price and also provide you with a credit of AUD$50 (or equivalent) towards a future purchase with Luxury Escapes.</p>
                                    <p>To qualify for the price match and credit the Equivalent Package must :</p>
                                    <ul>
                                        <li>Be for the same hotel</li>
                                        <li>Have the same length of stay</li>
                                        <li>Have the same room type</li>
                                        <li>Have the same dates</li>
                                        <li>Have the same number of guests</li>
                                        <li>Be published online and available to the general public</li>
                                        <li>Have the same value adds/inclusions</li>
                                        <li>Include all relevant taxes, booking fees and service charges.</li>
                                    </ul>
                                    <p>
                                        The price for the Equivalent Package must be presented (a screenshot or photograph is fine) over email to <a target="_blank" rel="noopener noreferrer" href="mailto:support@luxuryescapes.com" title="null">support@luxuryescapes.com</a> and prior to booking and must be for the same form of payment. The written email must also show evidence of where the Equivalent Package is available and the date the price was made available.
                                    </p>
                                    <p>Once verified Luxury Escapes will match the price, confirm your holiday and credit your Luxury Escapes account with AUD$50 (or equivalent).</p>
                                    <p>
                                        Once purchased, Luxury Escapes full Terms and Conditions will apply to your stay (which can be found at
                                        <a target="_blank" rel="noopener noreferrer" href="/terms-and-conditions" title="null">https://luxuryescapes.com/terms-and-conditions</a>)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="interest-free-payment">
                            <h2 class="sc-bWjmDF OUgrl sc-jzJRlG dcBopY">0% Interest Free Payment</h2>
                            <div class="sc-gPzReC bkSxxQ">
                                <div class="MarkdownRender undefined sc-jotlie jirPHa" font-size="base">
                                    <ol>
                                        <li>12 Months Interest Free: Minimum spend is $999. Minimum payments required.</li>
                                        <li>Available to approved customers only. Monthly payments must be made during the promotional period. Interest and payments are payable after the interest free period expires. Paying only the minimum monthly payment will not pay out the purchase before the end of the plan. A $99 annual fee for Gem Visa applies. At the end of the plan, interest will be charged at 24.99%. This notice is given under the Gem Visa Conditions of Use (as applicable), which specify all other conditions for this offer. Also available to CreditLine, GO MasterCard and Buyer’s Edge customers. Other conditions, fees and charges apply, see relevant product websites for details. Credit is provided by Latitude Finance Australia (ABN 42 008 583 588), Australian Credit Licence number 392145. </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="sc-eNPDpu eVsbEa">
                    <nav class="sc-fyjYeE cAhSoN" style="padding-top: 80px;">
                        <p>
                            <a class="sc-ixltIz htEpza sc-bdVaJa lgEvmq active" aria-current="page" role="menuitem" href="/terms-and-conditions" style="color: black;"><span class="sc-gqjmRU hbYTfP">Terms &amp; Conditions</span></a>
                        </p>
                        <p><a class="sc-ixltIz htEpza sc-bdVaJa lgEvmq" role="menuitem" href="/privacy-policy"><span class="sc-gqjmRU hbYTfP">Privacy Policy</span></a></p>
                        <p>
                            <a class="sc-ixltIz htEpza sc-bdVaJa lgEvmq" role="menuitem" href="/giftcards-terms"><span class="sc-gqjmRU hbYTfP">Giftcard Terms &amp; Conditions</span></a>
                        </p>
                       

                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>