{
  "structure": {
    "Ma-thi-ơ": {
      "1": 25,
      "2": 23,
      "3": 17,
      "4": 25,
      "5": 48
    },
    "Mác": {
      "1": 45,
      "2": 28,
      "3": 35
    },
    "Lu-ca": {
      "1": 80,
      "2": 52,
      "3": 38
    },
    "Giăng": {
      "1": 51,
      "2": 25,
      "3": 36
    },
    "Công Vụ": {
      "1": 26,
      "2": 47,
      "3": 26
    },
    "Rô-ma": {
      "1": 32,
      "2": 29,
      "3": 31
    }
  },
  "verses": {
    "Ma-thi-ơ": {
      "1": {
        "1": "Gia phổ của Đức Chúa Jêsus Christ, con cháu Đavít, con cháu Áp-ra-ham.",
        "2": "Áp-ra-ham sinh Y-sác. Y-sác sinh Gia-cốp. Gia-cốp sinh Giu-đa và anh em người.",
        "3": "Giu-đa cùng Tha-ma sinh Pha-re và Xa-ra. Pha-re sinh Eát-rôn. Eát-rôn sinh A-ram."
      },
      "2": {
        "1": "Vả, Đức Chúa Jêsus đã sanh tại thành Bết-lê-hem, xứ Giu-đê, đương đời vua Hê-rốt, có mấy thầy bác sĩ từ đông phương đến thành Giê-ru-sa-lem.",
        "2": "Họ hỏi rằng: Vua của dân Giu-đa mới sanh tại đâu? Vì chúng tôi đã thấy ngôi sao Ngài bên đông phương, nên đến đặng thờ lạy Ngài."
      }
    },
    "Giăng": {
      "3": {
        "16": "Vì Đức Chúa Trời yêu thương thế gian, đến nỗi đã ban Con một của Ngài, hầu cho hễ ai tin Con ấy không bị hư mất mà được sự sống đời đời."
      }
    }
  }
}
