@{
    ViewBag.Title = "VINADAY goREISE | Activation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<main class="page-content" style="background: #f1f4f9 none repeat scroll 0 0">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="http://vinaday.com/" class="logo-name text-lg text-center">VINADAY goREISE</a>
                        <form class="m-t-md">
                            <div class="form-group">
                                <p class="text-center m-t-xs text-sm">Active User Completed</p>
                                
<a href="@Url.Content("http://goreise.com/")" class="btn btn-default btn-block m-t-md">Go Back</a>
                            </div>
                        </form>
                        <p class="text-center m-t-xs text-sm">2015 &copy; All rights reserved.</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->
