@{
    ViewBag.Title = "VINADAY goREISE | Activation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<main class="page-content" style="background: #f1f4f9 none repeat scroll 0 0">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="http://vinaday.com/" class="logo-name text-lg text-center">VINADAY goREISE</a>
                        @*<p class="text-center m-t-md">Enter your e-mail address below to reset your password</p>*@
                        <form class="m-t-md">
                            <div class="form-group">
                                <p class="text-center m-t-xs text-sm">Cannot Activate for this user</p>
                                <p class="text-center m-t-xs text-sm">Please contact admin for support.Thanks!</p>
<a href="@Url.Content("http://goreise.com/")" class="btn btn-default btn-block m-t-md">Go Back</a>
                            </div>
                            @*<button type="submit" class="btn btn-primary btn-block">Submit</button>
                            <a href="@Url.Content("/Account/Login")" class="btn btn-default btn-block m-t-md">Back</a>*@
                        </form>
                        <p class="text-center m-t-xs text-sm">2015 &copy; All rights reserved.</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->
