
@{
    ViewBag.Title = string.Format("Thank {0} | vinaday.com", ViewBag.FullName);

}
<div class="pd-nav"></div>
<div class="content stepbooking">
    <div class="container">

        <div class="col-lg-offset-1">


            <section class=" form checkout style-2">
                <div class="row">

                    <div id="information-confirm">
                        <div class="anim fadeInLeft">
                            <div class="check-out-header">

                                <h2 class="title title-complete">Your booking is completed</h2>
                            </div>
                            <div style="border: none;" class="box-aside">
                                <div style="width: 100%" class="payment-detail-content-info">
                                    <p>Thank <span class="bold">@ViewBag.FullName</span></p>
                                    <p>Your reservation code (PNR) is <span class="bold">#@ViewBag.Pnr</span></p>
                                    <p>Your travel consultant will get back to you within next 5 minutes from 8:00 AM to 22:30 PM everyday. Please, check the confirmation letter in your inbox/junk/spam mail or call (+8428)-3838 8382 for further information.</p>

                                </div>

                                <div class="clear"></div>

                            </div>
                            <div class="col-md-12 anim fadeInLeft">
                                <p style="text-align: left; padding-left: 30px;">Back to</p>
                                <p style="text-align: left; padding-left: 30px;">
                                    <span style="font-weight: bold">[English]</span>  <a href="https://goreise.com">goreise.com </a>
                                </p>
                                <p style="text-align: left; padding-left: 30px;">
                                    <span style="font-weight: bold">[Tiếng Việt] </span><a href="http://goreise.vn">goreise.vn </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>

