
@{
    ViewBag.Title = "vinaday.vn đặt phòng phòng online";
    Layout = "~/Views/Shared/_LayoutVn.cshtml";
}

<div class="pd-nav"></div>
<div class="content stepbooking">
    <div class="container">

        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h2>Đặt phòng phòng trực tuyến</h2>
                <p>Đến với <a href="http://www.vinaday.vn/">vinaday.vn</a> nhận được nhiều khách sạn và du lịch cho chuyến đi của bạn.</p>
                <p><a class="btn btn-default" href="http://www.vinaday.vn/">Trở lại vinaday.vn</a></p>
            </div>
        </div>
    </div>
</div>

