..@{
    ViewBag.Title = "About Us - VINADAY goREISE (Vinaday Travel)";
    @*@ViewBag.hrefLang = "about-us";*@
}
<div style="background-image: url('../../Content/images/overview_bg.jpg'); background-repeat: no-repeat; background-color: #fff;display: none">
    <div style="max-width: 970px; min-height: 600px" class="container gtour">
        <div xmlns:v="http://rdf.data-vocabulary.org/#" class="home-breadcrumb">
            <span typeof="v:Breadcrumb">
                <a href="https://goreise.com" rel="v:url" property="v:title">
                    Home
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                About Us
            </span>
        </div>
        <section class="main-content">
            <div class="row">
                <div class="col-lg-8">
                    <h1 style="font-family: 'Lato'; font-weight: bold;"><b>About VINADAY goREISE (Vinaday Travel)</b>
                    </h1>
                    <p class="point-text">
                        Welcome to VINADAY goREISE (Vinaday Travel), an agency specializing in arranging and managing quality tourism destinations for people travelling within Indochina.
                        But enough about us, let’s talk about you!
                        Whether you are on a short holiday or planning the trip of your life, you will need someone who can take care of all the complicated things, so that you may relax and enjoy your trip!
                    </p>    
                    <p class="point-text"><b>VINADAY goREISE (Vinaday Travel) is all about helping you:</b>
                    </p>
                    <ul class="point-text">
                        <li>Find quality accommodation at the right price.</li>
                        <li>Get around Indochina, with safe, comfort and quality oriented transportation services.</li>
                        <li>Explore exotic lands and learn about its culture and history.</li>
                        <li>Find the perfect tour or activity that will make your trip unique.</li>
                        <li>Experience the local life, food and meet the local people.</li>
                    </ul>
                    <p class="point-text">
                        <b>Our story </b>began in 2007; we started out as a small business with only 2 employees, providing customers with train and bus tickets through our online service. Today, VINADAY goREISE (Vinaday Travel) is a well renowned Travel Agency with more than <b>30 </b>employees who have sold over 60,000 unique trips to close to <b>300,000</b> customers! It has been a true adventure, and to us, it has only just begun!
                    </p>
                </div>
                <div class="col-lg-4 read anim fadeInRight">
                    <div id="TA_selfserveprop219" class="TA_selfserveprop"><ul id="o8SbNpFfEL" class="TA_links IhqCVH"><li id="nm0tD8RjMaen" class="G2veg1E9BeT5"><a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a></li></ul></div>
                    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=219&amp;locationId=2608200&amp;lang=en_US&amp;rating=true&amp;nreviews=3&amp;writereviewlink=false&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>
                    <script src="//www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=354&amp;locationId=2608200&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
                </div><!-- .col-lg-4 -->
                <div class="col-lg-12">
                    <h3 class="point-text"><i style="color: rgb(245, 130, 32);" class="fa fa-gift"></i> WHY<span style="color: rgb(245, 130, 32);"> VINADAY goREISE (Vinaday Travel) ?</span></h3>
                    <p class="point-text">
                        VINADAY goREISE (Vinaday Travel) recognizes the importance of a good working relationship with our customers. Therefore, we are committed to presenting you with an authentic travel experience of the highest quality. We believe that travelling is not only a means of relaxation, but an opportunity to explore, and learn about new cultures!
                    </p>
                    <p class="point-text"><b>Why should you travel with us?</b>
                    </p>
                    <ul class="point-text">
                        <li>The right price. We work closely with our service providers to ensure that you get the best price available.</li>
                        <li>Our staff consists of a capable and service oriented team, who are willing to give you qualified advice and suggestions concerning your reservation.</li>
                        <li>We aim to always provide you with the highest quality of service available, therefore we choose to work with suppliers who regularly perform rigid and precise inspections of their vehicles. </li>
                        <li>Our tour consultants possess extensive knowledge concerning local tourism and are happy to provide you with all the necessary information.</li>
                        <li>We are there to help. We understand that while travelling in a foreign country, problems or concerns, out of your control may arise. Our staff is always available through telephone or email and happy to help you no matter what your concern might be. </li>
                        <li>Quick and responsive. We know that a fast response is of utter importance in this business. Therefore we are committed to answer any and all of your inquiries the very same day or within 48 hours.</li>
                    </ul>
                    <h3>Our Offices</h3>
                    <p class="point-text">
                        VINADAY GOREISE VIETNAM VIETNAM CO., LTD <br />
                        230 De Tham Street, District 1, Ho Chi Minh City, Vietnam 711228<br />
                        <a href="Tel:(+8428)38388382">Tel: (+84-28)-38388382</a><br />
                        Email: <a href="mailto:cs@goreise.com">cs@goreise.com</a> <br />
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="content promotion-spa">
    <div data-stellar-background-ratio=".1" style="position: relative; background-position: 50% 45px;" class="parallax-bg-spa">
        <div class="container">
            <div class="texture-overlay"></div>
            <div class="promotion-section">
                <div class="promotion-bg"></div>
                <div xmlns:v="http://rdf.data-vocabulary.org/#" class="home-breadcrumb">
                    <span typeof="v:Breadcrumb">
                        <a href="https://goreise.com" rel="v:url" property="v:title">
                            Home
                        </a>&nbsp;››&nbsp;
                    </span>
                    <span typeof="v:Breadcrumb">
                        About Us
                    </span>
                </div>
                <section class="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1 style="font-family: 'Lato'; font-weight: bold;">
                                <b>About VINADAY goREISE (Vinaday Travel)</b>
                            </h1>
                            <p class="point-text">
                                Welcome to VINADAY goREISE (Vinaday Travel), an agency specializing in arranging and managing quality tourism destinations for people travelling within Indochina.
                                But enough about us, let’s talk about you!
                                Whether you are on a short holiday or planning the trip of your life, you will need someone who can take care of all the complicated things, so that you may relax and enjoy your trip!
                            </p>
                            <p class="point-text">
                                <b>VINADAY goREISE (Vinaday Travel) is all about helping you:</b>
                            </p>
                            <ul class="point-text">
                                <li>Find quality accommodation at the right price.</li>
                                <li>Get around Indochina, with safe, comfort and quality oriented transportation services.</li>
                                <li>Explore exotic lands and learn about its culture and history.</li>
                                <li>Find the perfect tour or activity that will make your trip unique.</li>
                                <li>Experience the local life, food and meet the local people.</li>
                            </ul>
                            <p class="point-text">
                                <b>Our story </b>began in 2007; we started out as a small business with only 2 employees, providing customers with train and bus tickets through our online service. Today, VINADAY goREISE (Vinaday Travel) is a well renowned Travel Agency with more than <b>30 </b>employees who have sold over 60,000 unique trips to close to <b>300,000</b> customers! It has been a true adventure, and to us, it has only just begun!
                            </p>
                        </div>
                        <div class="col-lg-4 read anim fadeInRight">
                            <div id="TA_selfserveprop354" class="TA_selfserveprop">
                                <ul id="A1vV9ivzoQ" class="TA_links JPvZcBIy7U">
                                    <li id="y2Sk4p" class="BbHwtU7">
                                        <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
                                    </li>
                                </ul>
                            </div>
                            <script src="//www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=354&amp;locationId=2608200&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
    
                            <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=219&amp;locationId=2608200&amp;lang=en_US&amp;rating=true&amp;nreviews=3&amp;writereviewlink=false&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>

                        </div><!-- .col-lg-4 -->
                        <div class="col-lg-12">
                            <h3 class="point-text"><i style="color: rgb(245, 130, 32);" class="fa fa-gift"></i> WHY<span style="color: rgb(245, 130, 32);"> VINADAY goREISE (Vinaday Travel) ?</span></h3>
                            <p class="point-text">
                                VINADAY goREISE (Vinaday Travel) recognizes the importance of a good working relationship with our customers. Therefore, we are committed to presenting you with an authentic travel experience of the highest quality. We believe that travelling is not only a means of relaxation, but an opportunity to explore, and learn about new cultures!
                            </p>
                            <p class="point-text">
                                <b>Why should you travel with us?</b>
                            </p>
                            <ul class="point-text">
                                <li>The right price. We work closely with our service providers to ensure that you get the best price available.</li>
                                <li>Our staff consists of a capable and service oriented team, who are willing to give you qualified advice and suggestions concerning your reservation.</li>
                                <li>We aim to always provide you with the highest quality of service available, therefore we choose to work with suppliers who regularly perform rigid and precise inspections of their vehicles. </li>
                                <li>Our tour consultants possess extensive knowledge concerning local tourism and are happy to provide you with all the necessary information.</li>
                                <li>We are there to help. We understand that while travelling in a foreign country, problems or concerns, out of your control may arise. Our staff is always available through telephone or email and happy to help you no matter what your concern might be. </li>
                                <li>Quick and responsive. We know that a fast response is of utter importance in this business. Therefore we are committed to answer any and all of your inquiries the very same day or within 48 hours.</li>
                            </ul>
                            <br />
                            <h3>Our Offices</h3>
                            <p class="point-text">
                                VINADAY GOREISE VIETNAM VIETNAM CO., LTD <br />
                                230 De Tham Street, District 1, Ho Chi Minh City, Vietnam 711228<br />
                                <a href="Tel:(+8428)38388382">Tel: (+84-28)-38388382</a><br />
                                Email: <a href="mailto:cs@goreise.com">cs@goreise.com</a> <br />

                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>