<div class="container hidden-xs">
    <div class="subpage">
    </div>
</div>
<section class="slug parallax-slug-4" data-stellar-background-ratio="0">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="anim fadeInDown">Single Blog</h1>
                    <p class="anim fadeInDown" data-wow-delay=".32s">Simply a badass post page.</p>
                    <span class="anim fadeInDown" data-wow-delay=".42s">
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="#">Blog</a>
                        <i class="fa fa-angle-right"></i>
                        Single
                    </span>
                </div><!-- .col-lg-12 -->
            </div><!-- .row -->
        </div>
    </div><!-- .overlay -->
</section>
<div class="container hidden-xs">
    <div class="subpage" style="margin-top: 0!important">
        <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="http://www.vinaday.vn/">
                    Vinaday.vn
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="http://www.vinaday.vn/">
                    Khách sạn
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                Hotels in Ho Chi Minh
            </span>
        </article>
    </div>
</div>
<section class="content">
    <!--wrap-breadcrumb-->
    <section class="main-content">
        <div class="container">
            <section class="row row-offcanvas row-offcanvas-left">
                <div class="col-md-3 sidebar-offcanvas">
                    <div class="filter">
                        <div class="form-group filter-search checkrate">
                            <label class="filter-tilte" for="txthotelname">Hotel Name Contains</label>
                            <input type="text" class="form-control" id="txthotelname" placeholder="Type then press enter...">
                        </div>
                        <div class="filter-option">
                            <div class="filter-tilte">
                                Filter hotels by
                            </div>
                            <article class="box box-ratings">
                                <h4 class="box-title">Star Rating</h4>
                                <div class="box-content">
                                    <ul class="list-unstyled">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                <i class="star star_10"></i><span>(1)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                <i class="star star_8"></i><span>&nbsp;</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                <i class="star star_6"></i><span>(1)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                <i class="star star_4"></i><span>(4)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                <i class="star star_2"></i><span>(1)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="box box-price">
                                <h4 class="box-title">Price (Avg.per night)</h4>
                                <div class="box-content">
                                    <ul class="list-unstyled">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Less than $75 <span>(58)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                $75 - $124<span>(18)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                $125 - $199<span>(10)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                $200 - $299<span>(1)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                $300<span>(1)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="box box-price">
                                <h4 class="box-title">Accommodation type</h4>
                                <div class="box-content">
                                    <ul class="list-unstyled">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Apartment<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Hotel<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Resort<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Villa<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Guest house<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Private Villa<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Homestay<span>(6)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="box box-price">
                                <h4 class="box-title">Hotel facilities</h4>
                                <div class="box-content">
                                    <ul class="list-unstyled">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Swiming Pool<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Wifi Free<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Private Beach<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Breakfast Free<span>(6)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="box box-price">
                                <h4 class="box-title">Hotel area</h4>
                                <div class="box-content">
                                    <ul class="list-unstyled">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Pham Ngu Lao / Tay Balo<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Ben Thanh Market<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Dong Khoi / Nguyen Hue<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Riverside<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Japanese Area<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 1 - Consulate / Notre-Dame Cathedral<span>(6)</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                District 5 - China Town / Cho Lon<span>(6)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!--filter-->
                </div>
                <div class="col-md-9">
                    <div class="content-filter">
                        <div class="tier-head clearfix">
                            <h1 class="tier-head-title">Found 111 Hotels in Ho Chi Minh</h1>
                            <div class="btn-filter hidden-lg hidden-md">
                                <button data-toggle="offcanvas" class="btn btn-primary">
                                    Fitter
                                </button>
                            </div>
                            <div class="sort-by form-inline" style="top:-2px;">
                                <span>Display Rates in:</span>
                                <div class="select-style" style="display: inline-block;vertical-align: middle;width: auto;">
                                    <select>
                                        <option value="2">Hotel Name</option>
                                        <option value="3">Star(5...1)</option>
                                        <option value="4">Star(1...5)</option>
                                        <option value="5">Review Score</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <!--tier-head-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="#" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$69</div>
                                    <div class="price-new"><span>USD</span>$36</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="http://www.vinaday.com/hotels/viet-nam/ho-chi-minh/hotel-equatorial-saigon" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$7777</div>
                                    <div class="price-new"><span>USD</span>$7777</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="#" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$69</div>
                                    <div class="price-new"><span>USD</span>$36</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="http://www.vinaday.com/hotels/viet-nam/ho-chi-minh/hotel-equatorial-saigon" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$7777</div>
                                    <div class="price-new"><span>USD</span>$7777</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="#" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$69</div>
                                    <div class="price-new"><span>USD</span>$36</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="http://www.vinaday.com/hotels/viet-nam/ho-chi-minh/hotel-equatorial-saigon" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$7777</div>
                                    <div class="price-new"><span>USD</span>$7777</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="#" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$69</div>
                                    <div class="price-new"><span>USD</span>$36</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="http://www.vinaday.com/hotels/viet-nam/ho-chi-minh/hotel-equatorial-saigon" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$7777</div>
                                    <div class="price-new"><span>USD</span>$7777</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="#" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$69</div>
                                    <div class="price-new"><span>USD</span>$36</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier clearfix">
                            <div class="item1">
                                <div class="item11">
                                    <a href="#" title="" class="img">
                                        <img src="/Content/images/demo/home/hochiminh.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item12">
                                    <h2 class="title">
                                        <a href="#">Lotte Legend Hotel Saigon</a>
                                    </h2>
                                    <span class="star star_10"></span>
                                    <address> A-4A Ton Duc Thang Street District 1, Ho Chi Minh City, Vietnam</address>
                                    <div class="amenities">
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>FREE Breakfast</span>
                                        <span class="freebreakfast"><i class="glyphicon glyphicon-ok"></i>Car Park</span>
                                        <span class="freewifi"><i class="glyphicon glyphicon-ok"></i>FREE Wifi</span>
                                    </div>
                                    <div class="phoneEsr">Call center: (+84) 916388382</div>
                                    <div class="discount"><span class="glyphicon glyphicon-gift"></span>Best Price</div>
                                </div>
                            </div>
                            <div class="item2">
                                <div class="superlative">
                                    Very good! <span>8.5/10</span>
                                </div>
                                <a href="http://www.vinaday.com/hotels/viet-nam/ho-chi-minh/hotel-equatorial-saigon" title="" class="review-link">(4 reviews)</a>
                                <div class="price-avg">
                                    <div class="price-was"><span>USD</span>$7777</div>
                                    <div class="price-new"><span>USD</span>$7777</div>
                                </div>
                                <div class="price-avg-text">avg/night</div>
                                <a class="btn" href="#">Book it</a>
                            </div>
                        </div>
                        <!--tier-->
                        <div class="tier-foot">
                            <div class="tier-foot-title">
                                Page 1 of 12
                            </div>
                            <div class="tier-foot-pagination">
                                <ul class="pagination"><li class="active"><a>1</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-2">2</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-3">3</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-4">4</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-5">5</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-6">6</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-7">7</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-8">8</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-9">9</a></li><li><a href="/search/ho-chi-minh/filter-all/price-all/page-10">10</a></li><li class="disabled PagedList-ellipses"><a>…</a></li><li class="PagedList-skipToNext"><a rel="next" href="/search/ho-chi-minh/filter-all/price-all/page-2">»</a></li><li class="PagedList-skipToLast"><a href="/search/ho-chi-minh/filter-all/price-all/page-12">»»</a></li></ul>
                            </div>
                        </div>
                    </div>
                    <!--content-filter-->
                </div>
            </section>
        </div>
    </section>
    <!--main-content-->
</section>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = '@Url.Content("~/Scripts/app/city.js")';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
    }
</script> 