@{
    ViewBag.Title = "Working at VINADAY goREISE";
    @ViewBag.hrefLang = "careers";
}
<div class="container gtour" style="max-width: 970px; min-height: 600px">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            careers
        </span>
    </div>
    <section class="main-content">
        <h1 id="privacyHeader" style="font-weight: bold;color: #F58220; font-family: &quot;Open Sans&quot;,&quot;lucida grande&quot;,&quot;Segoe UI&quot;,arial,verdana,&quot;lucida sans unicode&quot;,tahoma,sans-serif;">Tuyển dụng</h1>
        <h2 class="point">Vị Trí : Admin Phòng Bán Hàng</h2>
        <h3 class="point-text">Mô tả công việc</h3>
        <ul class="point-text">
            <li>Phụ trách các công việc hành chính của phòng Sales.</li>
            <li>Quản lý tài liệu, hồ sơ của phòng Sales.
            <li>Quản lí hợp đồng, chương trình tour và các khuyến mãi với các khách sạn và các văn phòng tour.</li>
            <li>Thống kê số liệu bán hàng, báo cáo tình hình bán hang cho cấp trên</li>
            <li>Tham gia các hoạt động marketing để quảng bá nhãn hiệu.</li>
            <li>Các công việc khác theo sự phân công của cấp trên. </li>
        </ul>
        <h3 class="point-text">
            Yêu cầu công việc
        </h3>
        <ul class="point-text">
            <li>Làm việc độc lập, sáng tạo, năng động, chủ động trong công việc</li>
            <li>Có kinh nghiệm về admin</li>
            <li>Hiểu biết về ngành du lịch</li>
            <li>Tiếng Anh: Giỏi, có thể giao dịch với đối tác nước ngoài, dịch thuật các hồ sơ.</li>
            <li>Sử dụng thành thạo vi tính văn phòng.</li>
            <li>Nhạy bén, cẩn thận, chi tiết.</li>
            <li>Trung thực, nhiệt tình, chịu khó với công việc.</li>
        </ul>
        <h3 class="point-text">
            Thẻ Từ khóa Công việc
        </h3>
        <ul class="point-text">
            <li>Thương Thuyết, Đàm Phán Kĩ Năng Ứng Dụng Văn Phòng Làm Việc Nhóm Hoặc Độc Lập</li>
        </ul>
        <h3 class="point-text">Ngôn ngữ trình bày hồ sơ</h3>
        <ul class="point-text">
            <li>Bất kỳ</li>
        </ul>
        <h3 class="point-text">
            Cấp bậc
        </h3>
        <ul class="point-text">
            <li>Nhân viên</li>
        </ul>
        <h3 class="point-text">Ngành nghề</h3>
        <ul class="point-text">
            <li>Quảng cáo/Khuyến mãi/Đối ngoại</li>
            <li>Dịch vụ khách hàng</li>
            <li>Hàng không/Du lịch/Khách sạn</li>
        </ul>
        <h3 class="point-text">Nơi làm việc</h3>
        <ul class="point-text"> <li>Hồ Chí Minh</li></ul>
        <h3 class="point-text">Mức lương</h3>
        <ul class="point-text">
            <li>  300 - 400 USD / tháng </li>
        </ul>
    </section>
</div>