@{
    ViewBag.Title = "Chính sách vận chuyển  - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Chính sách vận chuyển
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="/gioi-thieu">Giới Thiệu</a></li>
                        <li><a href="/chinh-sach-chung">Chính Sách Chung</a></li>
                        <li><a href="/chinh-sach-bao-mat">Chính Sách Bảo Mật</a></li>
                        <li><a href="/hinh-thuc-thanh-toan">Phương Thức Thanh Toán</a></li>
                        <li><a href="/chu-so-huu-website">Chủ Sở Hữu Website</a></li>
                        <li><a class="active" href="/chinh-sach-bao-hanh">Chính Sách Bảo Hành</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính Sách Đổi Trả</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <p class="point-text">
                        1. Thương nhân, tổ chức, cá nhân phải công bố những thông tin sau về điều kiện vận chuyển và giao nhận áp dụng cho hàng hóa hoặc dịch vụ giới thiệu trên website:<br />
                        a) Các phương thức giao hàng hoặc cung ứng dịch vụ;<br />
                        b) Thời hạn ước tính cho việc giao hàng hoặc cung ứng dịch vụ, có tính đến yếu tố khoảng cách địa lý và phương thức giao hàng;<br />
                        c) Các giới hạn về mặt địa lý cho việc giao hàng hoặc cung ứng dịch vụ, nếu có.<br />

                        2. Trường hợp phát sinh chậm trễ trong việc giao hàng hoặc cung ứng dịch vụ, thương nhân, tổ chức, cá nhân phải có thông tin kịp thời cho khách hàng và tạo cơ hội để khách hàng có thể hủy hợp đồng nếu muốn. -------------------
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>