@{
    ViewBag.Title = "Chính sách bảo mật thông tin cá nhân - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Chính sách bảo mật thông tin cá nhân
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="/gioi-thieu">Giới Thiệu</a></li>
                        <li><a href="/chinh-sach-chung">Chính Sách Chung</a></li>
                        <li><a class="active" href="/chinh-sach-bao-mat">Chính Sách Bảo Mật</a></li>
                        <li><a href="/hinh-thuc-thanh-toan">Phương Thức Thanh Toán</a></li>
                        <li><a href="/chu-so-huu-website">Chủ Sở Hữu Website</a></li>
                        <li><a href="/chinh-sach-bao-hanh">Chính Sách Bảo Hành</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính Sách Đổi Trả</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <p class="point-text">
                        <b>Mục đích thu thập thông tin cá nhân</b><br />
                        Website này được Công ty Goreise Việt Nam quản lý. Khi mỗi khách hàng truy cập vào website này, trang web sẽ tự động lưu địa chỉ IP cùng với tên miền. Chúng tôi cũng sử dụng các công cụ kiểm tra như “cookie”.<br />
                        Một tài khoản cookie sẽ lưu trữ dữ liệu mà server của website gửi đến trình duyệt của khách hàng khi khách hàng truy cập vào trang web, việc sử dụng chức năng này sẽ giúp chúng tôi hỗ trợ và tìm hiểu nhu cầu, thị hiếu của khách hàng khi truy cập vào website của chúng tôi.<br />
                        Chúng tôi cũng kết hợp thông tin về địa chỉ IP và tên miền của khách hàng cùng với các thông tin khác mà khách hàng cung cấp.<br />
                        Các thông tin này được cung cấp qua những email khách hàng gửi cho chúng tôi, hoặc các thông tin khách hàng điền khi muốn đăng ký, ý kiến phản hồi, những yêu cầu được hỗ trợ, trả lời phiếu điều tra hoặc tham gia vào một cuộc thi/ các hoạt động khuyến mại.<br /><br />

                        <b>Phạm vi sử dụng thông tin</b><br />
                        Thông tin được thu thập thông qua website của chúng tôi sẽ giúp chúng tôi:<br />
                        Hỗ trợ khách hàng khi mua sản phẩm của Goreise Việt Nam.<br />
                        Giải đáp thắc mắc khách hàng.<br />
                        Cung cấp cho khách hàng thông tin về các phiên bản phần mềm mới nhất & các bản cập nhật trên Website của chúng tôi.<br />
                        Xem xét và nâng cấp nội dung và giao diện của Website.<br />
                        Thực hiện các bản khảo sát khách hàng.<br />
                        Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của Goreise Việt Nam.<br /><br />

                        Để thực hiện các mục đích nêu trên, công ty chúng tôi sẽ xem xét chia sẻ thông tin với các công ty đối tác của Goreise Việt Nam ở Việt Nam hoặc nước ngoài.<br />
                        Thông tin có thể được chia sẻ cho bên thứ ba mà chúng tôi tin tưởng sẽ hoàn thành được các mục tiêu đã đề ra ở trên.<br />

                        Tuy nhiên, trong trường hợp này, chúng tôi sẽ cố gắng để đảm bảo người nhận không thể lợi dụng thông tin của khách hàng để thực hiện các mục đích khác ngoài các mục tiêu mà chúng tôi đã đề ra trong phạm vi cho phép của khách hàng, chúng tôi cũng sẽ đảm bảo họ sẽ không sử dụng những thông tin này vào những mục đích trái phép.<br />

                        Thông tin chỉ được tiết lộ cho bên thứ ba trong những trường hợp đặc biệt khi có sự yêu cầu của luật pháp hoặc nhà chức trách có thẩm quyền.<br />

                        Đặc biệt, chúng tôi không cho thuê hoặc bán thông tin của khách hàng cho bất kỳ đối tác thứ ba nào (trừ khi nó liên quan đến nhu cầu bán toàn bộ tài sản hoặc hoạt động kinh doanh của chúng tôi như đã đề cập).<br />

                        <b>Thời gian lưu trữ thông tin</b><br />
                        Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự khách hàng đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân khách hàng sẽ được bảo mật trên hệ thống máy chủ của Goreise Việt Nam.<br />

                        <b>Những người hoặc tổ chức có thể được tiếp cận với thông tin bảo mật</b><br />
                        Goreise Việt Nam và các bộ phận liên quan đến việc hỗ trợ và thực hiện hợp đồng với người tiêu dùng.<br />
                        Công ty đối tác của Goreise Việt Nam ở Việt Nam hoặc nước ngoài.<br />
                        Bên thứ ba mà Goreise Việt Nam tin tưởng sẽ hoàn thành các mục tiêu đã đề ra trong việc thu thập thông tin cá nhân người dùng hoặc bên thứ ba khi có nhu cầu bán toàn bộ tài sản hoặc hoạt động kinh doanh của chúng tôi như đã đề cập.<br />
                        Trong trường hợp có yêu cầu của pháp luật: Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng.<br /><br />

                        Địa chỉ của đơn vị thu thập và quản lý thông tin<br />
                        CÔNG TY TNHH VINADAY GOREISE VIETNAM<br />
                        Địa chỉ liên hệ: 230 Đề Thám, P.Phạm Ngũ Lão, Quận 1, Tp HCM<br />
                        Email: cs@vinaday.com<br />
                        Đối với các thắc mắc về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân người tiêu dùng, khách hàng có thể liên hệ: ++84 916388382<br />



                        <b>Phương thức và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình trên hệ thống của Goreise Việt Nam</b>
                        Khách hàng có quyền yêu cầu chúng tôi cho phép khách hàng có thể truy cập hoặc chỉnh sửa, xóa thông tin cá nhân của khách hàng, hoặc nếu khách hàng có bất kỳ câu hỏi nào về các điều khoản thông tin cá nhân Goreise Việt Nam, hãy gửi e-mail cho Goreise Việt Nam theo địa chỉ info@Goreise Việt Nam.com.vn

                        <b>Cam kết bảo mật thông tin khách hàng</b>
                        Khi khách hàng gửi thông tin cá nhân của khách hàng cho chúng tôi, khách hàng đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên. Chúng tôi cam kết rằng những thông tin mà khách hàng đã cung cấp cho chúng tôi sẽ được bảo mật và được sử dụng để đem lại lợi ích tối đa cho khách hàng. Goreise Việt Nam sẽ nỗ lực để đảm bảo thông tin của khách hàng được giữ bí mật.
                        Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%.
                        Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin khách hàng cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn, và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của khách hàng.
                        Nếu khách hàng không đồng ý với các điều khoản như đã mô tả ở trên. Chúng tôi khuyên khách hàng không nên gửi thông tin đến cho chúng tôi.

                        Trang web có thể có các liên kết đến các website khác. Các website liên kết này có thể không thuộc phạm vi quản lý của Goreise Việt Nam và Goreise Việt Nam không chịu trách nhiệm đối với bất kỳ website liên kết nào.

                        Goreise Việt Nam có đặc quyền và toàn quyền chỉnh sửa nội dung trong trang này mà không cần phải cảnh báo hoặc báo trước. Khách hàng đã đồng ý rằng, khi khách hàng sử dụng website của chúng tôi sau khi chỉnh sửa nghĩa là khách hàng đã thừa nhận, đồng ý tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó khách hàng nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website.


                    </p>
                </div>
            </div>
        </div>

        
    </div>
</div>