@{
    ViewBag.Title = "Website Policy - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Chính sách quy định chung
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="/gioi-thieu">Giới Thiệu</a></li>
                        <li><a href="/chinh-sach-chung">Chính Sách Chung</a></li>
                        <li><a href="/chinh-sach-bao-mat">Chính Sách Bảo Mật</a></li>
                        <li><a href="/hinh-thuc-thanh-toan">Phương Thức Thanh Toán</a></li>
                        <li><a class="active" href="/chu-so-huu-website">Chủ Sở Hữu Website</a></li>
                        <li><a href="/chinh-sach-bao-hanh">Chính Sách Bảo Hành</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính Sách Đổi Trả</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <p class="point-text">
                        Tên Công ty: <b>CÔNG TY TNHH VINADAY GOREISE VIETNAM</b> <br />
                        Địa chỉ: <b>230 Đề Thám, Quận 1, tp Ho Chi Minh, Vietnam 711228</b><br />
                        Điện thoại: <b>+84 916388382</b> <br />
                        Email: <b>cs@vinaday.com</b> <br />
                        Giấy phép kinh doanh: 0310071681 Cấp lần 1: 29/5/2010<br />
                    </p>
                </div>
            </div>
        </div>
       
    </div>
</div>