@{
    ViewBag.Title = "Website Policy - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    @*@ViewBag.hrefLang = "termsofuse";*@
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Giới thiệu về công ty
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a class="active" href="/gioi-thieu">Giới Thiệu</a></li>
                        <li><a href="/chinh-sach-chung">Chính Sách Chung</a></li>
                        <li><a href="/chinh-sach-bao-mat">Chính Sách Bảo Mật</a></li>
                        <li><a href="/hinh-thuc-thanh-toan">Phương Thức Thanh Toán</a></li>
                        <li><a href="/chu-so-huu-website">Chủ Sở Hữu Website</a></li>
                        <li><a href="/chinh-sach-bao-hanh">Chính Sách Bảo Hành</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính Sách Đổi Trả</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <p class="point-text">
                        VINADAY GOREISE (goreise.com), là công ty chuyên về đặt phòng khách sạn 4,5 sao giá tốt ở khu vực Đông Nam Á cho du khách đi du lịch và khám chữa bệnh, công tác. Cho dù bạn đang trong một kỳ nghỉ ngắn hoặc lên kế hoạch cho chuyến đi của cuộc đời mình, VINADAY GOREISE (vn.goreise.com) sẽ một người có thể đảm tất cả những điều phức tạp, để bạn có thể thư giãn và tận hưởng chuyến đi của mình!
                        Cam kết của VINADAY goREISE (goreise.com) :
                    </p>
                    <ol>
                        <li><a href="#p_1">Cung cấp phòng đẹp và giá tốt nhất.</a></li>
                        <li><a href="#p_2">Du lịch toàn Đông Nam Á an toàn và tiện lợi.</a></li>
                        <li><a href="#p_3">Khám phá các vùng đất hoang sơ và bản địa.</a></li>
                        <li><a href="#p_4">Các tua du lịch trong ngày và qua đêm phù hợp với du khách.</a></li>
                        <li><a href="#p_5">Hiểu được và nghe những câu chuyện từ các hướng dẫn địa phương.</a></li>
                    </ol>
                    <br>
                    <p class="point-text">
                        VINADAY.COM được thành lập năm 2007 với trang web chuyên bán vé tàu và xe qua mạng cho du khách nước ngoài. Năm 2015, VINADAY GOREISE được thành lập với liên doanh với đối tác chiến lược từ Đức. Website vn.goreise.com được phục vụ riêng cho thị trường Việt Nam từ năm 2018!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>