@{
    ViewBag.Title = "Mekong Delta Tours 1,2,3 days - Cu Chi Tunnel Tour | VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    ViewBag.Description = "Mekong Delta Tours 1,2,3 days, Mekong Delta Trip - These tours are the most suitable for your package: Saigon - My Tho - Ben Tre, Cai Be - Vinh Long...";
    ViewBag.Keywords = "mekong delta tours, mekong tours, cu chi tunnel tour, cu chi tour, tunnels of cu chi";
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mekong Delta Tours 1,2,3 days, Mekong Delta Trip - These tours are the most suitable for your package: Saigon - My Tho - Ben Tre, Cai Be - Vinh Long...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Mekong Delta Tours 1,2,3 days - Cu Chi Tunnel Tour | Vinaday Travel</title>
    <!-- Page styles -->
    <link href="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.grey-blue.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,100,700,500italic,400%7CMaterial+Icons+Extended%7COpen+Sans:300,400,600,700%7CProduct+Sans:400&amp;lang=en" rel="stylesheet">
    <style>
        .m-icon, .m-icon-pseudo:after {
            font-family: 'Material Icons Extended';
            text-rendering: optimizeLegibility;
            font-feature-settings: "liga" 1;
            -webkit-font-feature-settings: "liga" 1;
            -moz-font-feature-settings: "liga" 1;
            -ms-font-feature-settings: "liga" 1;
            -o-font-feature-settings: "liga" 1;
            font-style: normal;
            text-transform: none;
            line-height: 1;
            font-size: 24px;
        }
    </style>
    <link href="~/Content/mdl/enterprise.css" rel="stylesheet">
    <link href="~/Content/mdl/partners.css" rel="stylesheet">
    <link href="~/Content/mdl/styles.css" rel="stylesheet" />
</head>
<body class="partners">
    <div class="maia-header" id="maia-header" role="banner">
        <div class="maia-aux">
            <h1>
                <a href="http://goreise.com">
                    VINADAY goREISE
                </a>
            </h1>
            <h2>
                <a href="#">&nbsp;Group tour</a>
            </h2>


            <a class="maia-teleport" href="#content">Skip to content</a>

        </div>
    </div>
    <div class="maia-nav maia-complex" id="maia-nav-x" role="navigation">
        <div class="maia-aux">
            <nav class="nav">
                <ul>
                    <li class=" expand">
                        <a class="m-icon-pseudo">Services</a>
                        <ul class="tier-two">
                            <li>
                                <a href="http://goreise.com/">Hotel</a>
                            </li>
                            <li>
                                    <a href="http://goreise.com/tour">Tour</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            Call: +84 916388382
                        </li>
                    </ul>
            </nav>
        </div>
    </div>
    <div id="maia-main" role="main">
        <div class="maia-teleport" id="content"></div>
        <div class="maia-max home">

            <div class="partner-programs section" id="partner-program">
                <div class="maia-aux">
                    <h2 class="mdl-typography--font-light heading">
                        Low-cost Day tours
                    </h2>
                    <div class="card-container maia-cols">
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours2.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                    Ho Chi Minh Tours / 1 day
                                </h3>
                                <p class="description">
                                    In the morning, we will go to the War Museum and then China-town to see the bustling and busy Cho Lon market. On the way back, we will visit the Thien Hau Temple.<br /><br />
                                    In the afternoon, we will visit the Reunification Palace, Norte-Dame Cathedral, Central Post Office, Jade Emperor Pagoda, and War Remnants Museum. And transfer to your hotel.<br /><br />
                                    End of the tour.
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:15 A.M
                                    </li>
                                    <li>
                                        Return: 4:30 P.M
                                    </li>

                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide and 01 bottle of mineral water, pick-up & drop-off.
                                    </li>
                                    <li>
                                        Not inclusive: Admission fees (45,000VND) & other not above-mentioned
                                    </li>
                                    <li>
                                        Price: 210.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours7.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                    Cu Chi Tunnels / Half day
                                </h3>
                                <p class="description">
                                    Departing from the office for the Cu chi tunnels being a symbol of Vietnam’s continual fight against foreign oppression and imperialism. <br /><br />
                                    The tunnel system covers close to 200 km including under what was once a US air base. The tunnels once spanned an area stretching from close to the Cambodian border to the city limits of Ho Chi Minh City. They were originally constructed to fight against the French in the 1940s, to give the peasant army a means of communication between villages whilst remaining undetected.<br /><br />
                                    In 1960 the Viet Cong repaired and added to the tunnels to fight against the South Vietnamese and American forces. The Commander of the American forces in the region held the opinion that the Viet Cong who were responsible for digging them were like, ‘human moles’. On the way back to Sai Gon, we will stop at the War museum. Transfer back to your hotel.<br /><br />
                                    End of the tour.
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:00 A.M Return: 2:00 P.M
                                    </li>
                                    <li>
                                        Or Departure: 1:00 P.M Return: 6:00 P.M
                                    </li>

                                    <li>
                                        Inclusive: A/C bus, English-speaking tour guide and 01 bottle of mineral water, pick-up & drop-off.
                                    </li>
                                    <li>
                                        Not Inclusive: Admission fees (90,000VND) and things not above-mentioned.
                                    </li>
                                    <li>
                                        Price: 90.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                    Mekong Delta - 1 Day (Cai be - floating market - Vinh Long)
                                </h3>
                                <p class="description">
                                    For a short trip around 2.5 hour drive from Ho Chi Minh City, the Mekong Delta offers a different pace of life and different sights from the dynamic city.<br /><br />
                                    Starting with Cai Be, one of the biggest floating markets in the delta, discover the characteristics of local life in the delta region. It is a bustling wholesale market where hundreds of traders convene to exchange fresh produce and other commodities from their wooden sampans. <br /><br />
                                    Continue cruising through the maze of canals and waterways and experience the timeless scenery of life on the delta, walk along the famous 'Monkey Bridges' that link the villages together and wander amongst vibrant tropical fruit gardens, relaxing on the hammock, or cycling around the village. <br /><br />
                                    Partake in daily life activities of the local villagers: trap fish, go fishing in the Co Chien River….back to Saigon and transfer to your hotel.
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 7:30 A.M
                                    </li>
                                    <li>
                                        Return: 6:00 P.M
                                    </li>

                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide, boattrip, admission fees, honey tea, wine, fruit salad, light lunch and 01 bottle of mineral water
                                    </li>
                                    <li>
                                        Not inclusive: Other not above-mentioned.
                                    </li>
                                    <li>
                                        Price: 320.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular" style="margin-bottom: -25px">
                                    Mekong Delta & Exit to Phnompenh – 2 Days/1Night
                                </h3>
                                <p class="description">
                                    <h4>Day 1: Sai Gon – Vinh Long - Chau Doc(L)</h4>
                                    After breakfast, we will take a boat trip to the busiest and biggest Cai Be floating markets where you can see the people bargain and exchange their goods from boat to boat. Then, we have a walk “monkey” bridges to get closer to the local life. <br /><br />
                                    We also visit a rice husking mill, rice noodle makers before coning back to the hotel. At a local restaurant, we can taste the Mekong specialties before we continue exploring the most beautiful & peaceful things of the Mekong delta.<br /><br />
                                    In the afternoon, we are going to Chau Doc and arrive at the SAM mountain to view sunset. Then a visit to the Cave pagoda at the foot of the mountain, see beautiful landscapes at the Cambodian border. Overnight in Chau Doc.

                                    <h4>Day 2: Chau Doc – Phompenh</h4>
                                    700am Transfer to the pier, take a speedboat for Phompenh. En-route passing thought the floating houses (also called fish farms), the ethnic “Chan” village in order that you will have a chance to see the daily activities of the local people. Then continue to ride to Phompenh around three hours. Arrival in Phompenh around 1230pm.<br /><br />
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 7:30 A.M
                                    </li>
                                    <li>
                                        Return: 6:00 P.M
                                    </li>

                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide, boattrip, admission fees, 01 night minihotel (Double room with Fan sharing), 1light lunch honey tea, wine, fruit salad, Speedboat CD-PNP and bottle of mineral water
                                    </li>
                                    <li>
                                        Not Inclusive: Other not above-mentioned.
                                    </li>
                                    <li>
                                        Surcharges: Single Supplement: VND 100,000 for solo travaller
                                    </li>
                                    <li>
                                        Price: 1.240.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours1.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular" style="margin-bottom: -25px">
                                    Cao Dai Temple & Cu Chi Tunnel / 1 day
                                </h3>
                                <p class="description">
                                    <h4>Morning: Tay Ninh - Cao Dai Holy See.</h4>
                                    Departing at our office and leaving for the Cao Dai temple Situated 95 km northwest of Ho Chi Minh City, Tay Ninh is the original home of the Cao Dai religious sect. It is from here that Cao Daism has spread its influence. The Cao Dais’ denied support to the Viet Cong, and after reunification, they were punished for this intransigence by the confiscation of their lands and temples and were not returned to them until 1985.<br /><br />
                                    The central Cao Dai Temple is 4 km from Tay Ninh in the village of Long Hoa. Surrounded by a series of schools and administrative buildings, the temple contains an awesome array of colors and symbolism unlike anything else you will see in Vietnam. The three colors you will see are those of red, yellow and blue, representing Confucianism, Buddhism and Taoism respectively.
                                    <h4>Afternoon: Cu Chi tunnels</h4>
                                    See Cu Chi tunnels part.Transfer back to Saigon<br /><br />
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:00 A.M
                                    </li>
                                    <li>
                                        Return: 6:00 P.M
                                    </li>

                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide and 01 bottle of mineral water,
                                    </li>
                                    <li>
                                        Not inclusive: Admission fees (110, 000VND) and other not above-mentioned.
                                    </li>
                                    <li>
                                        Price: 160.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                    Mekong Delta - 1 Day (My tho - Ben Tre)
                                </h3>
                                <p class="description">
                                    Leaving the hustle and bustle of the city behind to travel through Vietnam's picturesque countryside with its rice paddies and rural villages. Enjoy a boat cruise along the Mekong Delta to spot the stunning Dragon, Unicorn, Tortoise and Phoenix islets before learning the secrets of Longan fruit honey from a local family of beekeepers. <br /><br />
                                    Walking on land and exploring local life and then we’ll visit the local coconut-candy workshop. After lunch, we’ll enjoy the afternoon, as our boat takes us back My Tho, where we will meet our bus again for the two hour drive back to Saigon. <br /><br />
                                    End of the tour.
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 7:30 A.M
                                    </li>
                                    <li>
                                        Return: 6:00 P.M
                                    </li>

                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide, boat trip, admission fees, light lunch (Vietnamese meals), honey tea, wine, fruit salad and 01 bottle of mineral water, pick-up & drop-off.
                                    </li>
                                    <li>
                                        Not inclusive: Other not above-mentioned.
                                    </li>
                                    <li>
                                        Price: 210.000 VND or Option : 169.000 VND
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours3.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular" style="margin-bottom: 0px">
                                    Mekong Delta 3 Day/ 2 Night
                                </h3>
                                <p class="description">
                                    (My Tho- Ben Tre –Can Tho- Long Xuyen- Chau Doc- Phompenh/Saigon)
                                    <h4>Day 1: My Tho –Ben Tre (L)</h4>
                                    Leaving the hustle and bustle of the city behind to travel through Vietnam's picturesque countryside with its rice paddies and rural villages. Enjoy a boat cruise along the Mekong Delta to spot the stunning Dragon, Unicorn, Tortoise and Phoenix islets before learning the secrets of Longan fruit honey from a local family of beekeepers. <br /><br />
                                    Walking on land and exploring local life and then we’ll visit the local coconut-candy workshop. After lunch, we’ll enjoy the Afternoon, our boat takes us back to My Tho and then we take the two hour (approx.) drive to, Can Tho.
                                    <h4>Overnight in Mekong Delta Day 2: Can Tho capital – Long xuyen – Chau Doc(B)</h4>
                                    Take a take a boat to visit the colorful Cai Rang floating market. Here, during the early morning market hours, larger sized boats anchor and create lanes that smaller boats weave in and out of.<br /><br />
                                    The main items sold here are fruit and vegetables and each boat has a long upright pole at its bow from which samples of the goods for sale are hung.<br /><br />
                                    The waterway becomes a maze of hundreds of boats packed with mango, bananas, papaya, pineapple, and even floating pho vendors. Along the way, admire the scenery and daily life of the local villagers. Then, we are heading to Chau Doc. After a visit to the colorful floating market, heading to Chau Doc and continue your tour to the Tra Su Sanctuary. <br /><br />
                                    Here you will take a rowboat to discover the arrays of splendid canals and approach the forest to watch wild birds such as storks, cranes and other tropical birds. Drive to Chau Doc. Check-in.
                                    <h4>Overnight in Chau Doc. Day 3: Chau Doc – Phompenh/Saigon (B)</h4>
                                    <strong>Option 1:</strong> Transfer to the pier, take a speedboat for Phnom Penh. In the first hour drive, passing slowly by the floating houses (also called fish farms), the ethnic “Cham” village in order that you will have a chance to see the daily activities of the local people. Then continue to ride to Phnom Penh, around three hours journey time.<br /><br />
                                    <strong>Option 2:</strong> Take a boat to the area's unique fish farms and to visit a village, built on stilt, houses belonging to the Cham minority. The pace here is slower than the rest of the Mekong and the town boasts a strong cultural presence. The local Khmer population rubs shoulders with local fisherman whilst the Cham minority still weaves colourful traditional textiles. After the trip, heading back to Sai Gon later that afternoon.
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:00 A.M
                                    </li>
                                    <li>
                                        Price: 1050.000 VND
                                    </li>


                                    <li>
                                        Inclusive: AC bus, English-speaking tour guide, boat trip, admission fees, 2 Breakfasts, 02 night Mini hotel (Double room with A/C sharing), honey tea, wine, fruit salad and one bottle of mineral water
                                    </li>
                                    <li>
                                        Not Inclusive: Other not above-mentioned.
                                    </li>
                                    <li>
                                        Option: Homestay in Cantho: VND 140,000 (Dinner included)
                                        Speed boat CD-PNH: VND 590.000
                                        Single Supplement: VND 100,000/Night for solo travaller
                                        NB: If you wish to enjoy more country & Mekong peole’s life, the homestay is highly recommended
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular" style="margin-bottom: -25px">
                                    Mekong Delta 2 Days/ 1 Night
                                </h3>
                                <p class="description">
                                    <h4>Day 1: Sai Gon – My Tho- Ben Tre (L)</h4>
                                    Leaving the hustle and bustle of the city behind to travel through Vietnam's picturesque countryside with its rice paddies and rural villages.<br /><br />
                                    Enjoy a boat cruise along the Mekong Delta to spot the stunning Dragon, Unicorn, Tortoise and Phoenix islets before learning the secrets of Longan fruit honey from a local family of beekeepers. <br /><br />
                                    Walking on land and exploring local life and then we’ll visit the local coconut-candy workshop. After lunch, we’ll enjoy the afternoon, then our boat takes us back to My Tho and we take the two hour (approx.) drive to Can Tho.
                                    Overnight in Mekong Delta.
                                    <h4>Day2: Can Tho capital – Sai Gon (B)</h4>
                                    In Can Tho, take a boat to visit the colorful Cai Rang floating market. Here, during the early morning market hours, larger sized boats anchor and create lanes that smaller boats weave in and out of.<br /><br />
                                    The main items sold here are fruit and vegetables and each boat has a long upright pole at its bow from which samples of the goods for sale are hung. <br /><br />
                                    The waterway becomes a maze of hundreds of boats packed with mango, bananas, papaya, pineapple, and even floating pho vendors. Along the way, admire the scenery and daily life of the local villagers.<br /><br />
                                    After a visit to the colorful floating market, you will check out & have lunch before the return to Ho Chi Minh City. And transfer to your hotel.
                                    <h4>Option 1: VND 490,000 Opion 2: VND 450.000</h4>
                                    Inclusive: AC bus, English-speaking tour guide, boat trip, admission fees, one Breakfast, one night Mini hotel accommodation (Double room sharing), honey tea, wine, fruit salad and 01 bottle of mineral water,
                                    Not inclusive: Other not above-mentioned.<br /><br />
                                    Option: Homestay: VND 140,000 (Dinner included) Single Supplement: VND 100,000 for solo travaller
                                    NB: If you wish to enjoy more country & Mekong peole’s life, the homestay is highly recommended
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:00 A.M
                                    </li>
                                    <li>
                                        Return: 6:00 P.M
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="maia-col-12 card partner side-media mdl-card mdl-shadow--2dp">
                            <div class="image mdl-card__title" style="background-image: url('/Content/images/grouptour/tours4.jpg');">
                            </div>
                            <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular" style="margin-bottom: 0px">
                                    Two Day Mekong Delta and Phu Quoc Island
                                </h3>
                                <p class="description">
                                    ( Sai Gon-My Tho-Ben Tre-Can Tho-Phu Quoc )
                                    <h4>Day 1&2: See the two-day Mekong trip</h4>
                                    After finishing the two-day trip. Our mini bus will pick you up at 1:30 PM to travel to Rach Gia Town. Arrive in Rach Gia around 4:30P.M. Overnight in Rach Gia.
                                    <h4>Day 3: Rach Gia – Phu Quoc</h4>
                                    After breakfast, 7:30 AM, we’ll leave the hotel for the harbor where we’ll take a hydrofoil to Phu Quoc Island. Arrival in Phu Quoc Island at 10:30 am. Here you can indulge yourself in the blue sea water. <br /><br />

                                    <strong>Option 1:</strong>Price: 1.280.000 VND<br /><br />
                                    Inclusive: A/C bus, English-speaking tour guide, boat trip, double occupancy fan-room, all entrance fees, 2 breakfast, lunch, honey tea, wine, speedboat Rach Gia-Phu Quoc, fruit salad and 01 bottle of mineral water.<br /><br />Not inclusive: things not above-mentioned. <br /><br />
                                    <strong>Option 2:</strong> Homestay: VND 140,000 (Dinner included)<br /><br />
                                    Single Supplement: VND 100,000 for solo travaller
                                </p>
                                <ul class="feature-list">
                                    <li>
                                        Departure: 8:00 A.M
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <div class="maia-aux apply-footer">
        <h2 class="maia-col-12 mdl-typography--font-light heading center">
            Book via email <a href="mailto:cs@vinaday.com" target="_top">cs@vinaday.com</a> or call: +84 916388382
        </h2><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent apply-now cta"
                data-g-action="View more" data-g-event="Work: Partners" data-g-label="Header" href="https://goreise.com/">View more</a>
    </div>
    <script src="~/Content/mdl/material.min.js"></script>
</body>
</html>