@{
    ViewBag.Title = "Help FAQs - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
}
<div class="container" style="max-width: 970px; min-height: 600px">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#" style="margin-top: 70px">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Help FAQs
        </span>
    </div>
    <article class="main-content" style="border-top: 1px solid #ddd;margin-top: 10px;">
        <h2 class="text-center">Coming soon</h2>
    </article>
</div>