@{
    ViewBag.Title = "Quy định và hình thức thanh toán - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Quy định và hình thức thanh toán
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="/gioi-thieu">Giới Thiệu</a></li>
                        <li><a href="/chinh-sach-chung">Chính Sách Chung</a></li>
                        <li><a href="/chinh-sach-bao-mat">Chính Sách Bảo Mật</a></li>
                        <li><a class="active" href="/hinh-thuc-thanh-toan">Phương Thức Thanh Toán</a></li>
                        <li><a href="/chu-so-huu-website">Chủ Sở Hữu Website</a></li>
                        <li><a href="/chinh-sach-bao-hanh">Chính Sách Bảo Hành</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính Sách Đổi Trả</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <p class="point-text">
                        Để thực hiện giao dịch thanh toán thành công quý khách hàng vui lòng đọc kỹ các quy định và hình thức thanh toán như sau :<br />
                        <b>I. Quy định chung</b>
                        Giao dịch thanh toán được thực hiện bằng tiền Việt Nam Đồng, mọi giao dịch thanh toán đều có hóa đơn, phiếu thu, chi có dấu đỏ của công ty Goreise Việt Nam. Mọi thắc mắc và phản hồi quý khách hàng vui lòng mang theo hóa đơn thanh toán để được nhân viên công ty Goreise Việt Nam Tourist hỗ trợ nhanh chóng nhất.
                        Quý khách hàng lựa chọn hình thức thanh toán phù hợp để thực hiện giao dịch, mọi thông tin giao dịch cần có đầy đủ thông tin, người chuyển tiền, số tiền, nội dung giao dịch để chúng tôi cập nhật nhanh  nhất.<br />
                        <b>II. Hình thức thanh toán.</b>
                        Để thanh toán chi phí dịch vụ tour du lịch quý khách hàng có thể lựa chọn 1 trong 3 hình thức thanh toán như sau :<br />
                        <b>1. Thu tiền dịch vụ tại nhà.</b>
                        Đối với quý khách hàng có địa chỉ tại TP.HCM, nếu quý khách gặp khó khăn trong việc lên công ty, công ty Goreise Việt Nam có thể sắp xếp nhân viên thu tiền ứng trước hoặc đặt cọc tại nhà, quý khách khi thanh toán sẽ được nhận hóa đơn, phiếu thu có dấu đỏ của công ty. Khi khởi hành tour, quý khách hàng thanh toán nốt những phần tour còn lại cho hướng dẫn viên du lịch.<br />
                        Đối với tour đoàn do công ty Goreise Việt Nam tổ chức, công ty sẽ sắp xếp nhân viên thu tiền đặt cọc tour tại nhà và quý khách hàng thanh toán nốt phần tiền còn lại sau khi kết thúc tour và thanh lý hợp đồng cho công ty.<br />
                        <b>2. Nộp tiền trực tiếp tại công ty.</b>
                        Quý khách hàng có thể qua công ty  để thanh toán, ứng trước chi phí dịch vụ tour du lịch, quý khách hàng thanh toán và nhận hóa đơn tại công ty.<br />
                        <b>3. Thanh toán chuyển khoản trực tiếp</b>
                        Quý khách hàng có thể thanh toán bằng phương thức chuyển khoản trực tiếp để ứng trước hoặc thanh lý hợp đồng, khi chuyển khoản quý khách hàng vui lòng điền vào nội dung chuyển khoản những thông tin như sau : (Họ tên + SDT + Thanh toán tiền dịch vụ … ).<br />
                        Quý khách vui lòng xem kỹ thông tin tài khoản để thực hiện giao dịch chính xác và nhanh chóng nhất<br />
                        Sau khi nhận được thông tin chuyển khoản, nhân viên công ty sẽ xác minh và liên hệ với quý khách hàng để hoàn tất dịch vụ.<br />
                    </p>
                </div>
            </div>
        </div>
        

    </div>
</div>