@{
    Layout = "~/Views/Shared/_LayoutSlidebar.cshtml";
}
<<div class="row" style="padding: 0px 10px 0px 30px">
    <div class="col-md-9 mx-auto" style="margin:20px;">
        <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="/">
                    Home
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                Investing in Vietnam
            </span>
        </article>
        <h1 class="heading-section">Investing in Vietnam</h1>
        <div>
            To establish a company is a chance to expand your business operation or an aim to reside legally in Vietnam. There are many options for business owners but the most common types are a Foreign-Owned Company,  a partly foreign shareholding company,  Representative Office…. Each has its benefits, and you can opt one better suited for your objectives.
            <h2>How to register a Vietnam company</h2>
            This article described Vietnam company law on requirements and procedures to register a private limited company in Vietnam.
            <h3>Requirements for Vietnam Company Registration consist of:</h3>
            <p>
                - <b>Shareholding:</b> A company must have a minimum of 1 and a maximum of 50 shareholders. Shareholders can be natural persons or corporate entities. 100% foreign shareholding is accepted <br />
                - <b>Share Capital:</b>The minimum paid-up capital to set up a company is US$45. A company can increase its share capital at any time by injection of additional capital.<br />
                - <b>Directors:</b>Both Vietnam-resident and foreign-resident persons can be directors of a Vietnam company. Corporate directors are not permitted.<br />
                - <b>Registered Address:</b>A local registered address in Vietnam which is compulsory is to keep all of its statutory documents. A PO box is not accepted.<br />
                - <b>Company Name:</b>The company name is subject to the following guidelines:<br />
            </p>
            <ul>
                <li>The name cannot be identical to an existing business in Vietnam</li>
                <li>The name must not infringe on any trademarks</li>
                <li>The name cannot be obscene or vulgar</li>
                <li>The name must not have been reserved by another company</li>
            </ul>
            <p>
                Key facts to keep in mind for the name approval process: If a company name follows DPI’s rules, it is typically approved easily.<br />
                - A name may be referred to another government authority for further approval if it contains: This can delay the name approval process by few weeks or denied by DPI
                - Name the company that is the same as or confused with another company’s name which has been registered. <br />
                - Using names of regulatory bodies, the armed forces, political organizations, socio-political organizations, socio-political-professional organizations, social organizations, socio-professional organizations as the whole or part of the enterprise’s proper name, unless otherwise permitted by the organization.<br />
                - Using words or symbols that offend the history, tradition, culture of Vietnam.<br />
            </p>
            
            <h3>Company Registration Procedure</h3>
            <p>
                There are two way to establish a company in Vietnam <br />
                1 - Making an investing project and then submitting it at the Department of Planning and Investment of Ho Chi Minh. After the investing project is approved, establishing the company with 100% foreign capital is registered.<br />
                2 - Purchasing shares from a Vietnam company<br />
                In this article, we would like to present to you the way to establish a company by purchasing a part or full of capital from the Vietnamese company.<br />
                <ul>
                    <li>Step 1: Establishing a Vietnamese-owned company</li>
                    <li>Step 2: Purchasing a partly capital or a whole capital</li>
                    <li>Step 3: Transferring the business license with foreign investor owning a partial capital or 100% foreign capital.</li>
                </ul>
            </p>
           
            <h2>Managing your Company:</h2>
            <b>1 - Initial Tax declaration</b>
            <p>
                - <b>Business Licensing Tax:</b>Business license tax (BLT) is an indirect tax imposed on entities that conduct business activities in Vietnam and are paid by the enterprises themselves on an annual basis<br />
                - <b>Purchasing a Token</b> - Digital signature to declare the tax in the Vietnam Tax system. Buy Token (around $80)<br />
                - <b>Accounting services:</b> Hiring an accountant who is to make 4 quarter-tax reports and an annual financial report for the Tax department<br />
            </p>
            <p>
                <b>2 - Revenue and Value Added tax, Corporate Income tax</b> <br />
                - <b>Revenue:</b> No revenue may be acceptable within the first 2-3 year business establishment. However it may affect your visa application.<br />
                - <b>Value Added tax (VAT):</b> VAT is the indirect tax appling to goods and services used for production, trade and consumption in Vietnam. Goods and services purchased from overseas are also subject to VAT. The general tax rate is 10%.<br />
                - <b>Corporate Income tax rate</b> is a tax of 20-30% collected from companies. Its amount is based on the net income companies obtain while exercising their business activity, normally during one business year.<br />
                - <b>Health Insurance and Personal income tax</b><br />
                - <b>Health insurance Compulsory: </b>health insurance contribution rates amount to 4.5% of income, with 3% provided by the employer and 1.5% by the employee. It is taxed monthly.<br />
                - <b>Personal income taxes</b>: Is taxed on a progressive tax rate basis<br />
            </p>



        </div>

    </div>
    <div class="col-md-3 mx-auto third-colum">
        <div class="border_dashed">
            <h4 style="text-align:center; ">Contact Us</h4>
            <div style="text-align:center">
                Online  WhatsApp Support  <br />
                +84916388382<br />
                <span style="text-align:center;width:100%;">(Business Setup)</span><br />
                +84919185990 <br />
                <span style="text-align: center; width: 100%;">(Tours)</span><br />
                @*+84909450430 <br />
                <span style="text-align: center; width: 100%;">(Visa,TRC)</span><br />*@
            </div>
            <div style="text-align:center">
                Email  <br />
                cs@vinaday.com<br />
                cs@vinaday.com
            </div>
            <div style="vertical-align:middle;text-align:center;width:100%;"><img src="@Url.Content("~/images/background/support icon.png")" style="width:140px; text-align:center" /></div>

        </div>
    </div>
</div>
