@{
    ViewBag.Title = "Partners - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    @*@ViewBag.hrefLang = "partners";*@
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Partners
        </span>
    </div>
    <article class="main-content">
        <div class="row">
            <div class="col-sm-6">
                <img alt="partners-ket_noi_cong_dong" src="~/Content/images/lien-ket.png">
            </div>
            <div class="col-sm-6 info_partner">
                <h1 class="point" style="font-weight: bold;color: #F58220; font-family: &quot;Open Sans&quot;,&quot;lucida grande&quot;,&quot;Segoe UI&quot;,arial,verdana,&quot;lucida sans unicode&quot;,tahoma,sans-serif;">Hotel Partners</h1>
                <p class="point-text"><i class="fa fa-question"></i>  Bạn đang là nhân viên quản lí khách sạn, quản lí bán hàng của khách sạn ?</p>
                <p class="point-text"><i class="fa fa-question"></i> Bạn muốn bán phòng trên goreise.com?</p>
                <p class="point-text"><i class="fa fa-thumbs-o-up"> </i> Hãy liên lạc với chúng tôi qua địa chỉ email <a href="mailto:partner@vinaday.com">partner@vinaday.com.</a></p>
                <p class="point-text"><i class="fa fa-thumbs-o-up"> </i> Chúng tôi sẽ liên lạc với các bạn trong vòng 24 tiếng.</p>
                <p class="point-text"> <b>- Một kết nối đến hàng triệu khách hàng trên thế giới -</b></p>
            </div>
        </div>
    </article>
</div>