@{
    ViewBag.Title = "Payment - VINADAY goREISE";
    @*@ViewBag.hrefLang = "payment";*@
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Payment Information
        </span>
    </div>
    <article class="main-content">

        <div>
            <div id="english">
                <h1 style="font-weight: bold; color: #F58220;font-family: &quot;Open Sans&quot;,&quot;lucida grande&quot;,&quot;Segoe UI&quot;,arial,verdana,&quot;lucida sans unicode&quot;,tahoma,sans-serif;" id="privacyHeader">Payment method</h1>
                <p class="point-text">After you agree with the booking information, cancellation policy and fill all your information on our website. You can choose one of the payment methods as below:</p>
                <ol>
                    <li><a href="#p_1">BY INTERNATIONAL CARD: VISA, MASTER, AMEX, DINERS CLUB ...</a></li>
                    <li><a href="#p_2">SETTLEMENT BY PAYMENT LINK</a></li>
                    <li><a href="#p_3">WESTERN UNION, MONEY GRAM,... </a></li>
                    <li><a href="#p_4">TRANSFER VIA BANK</a></li>
                    <li><a href="#p_5">BY CASH</a></li>
                </ol>
                <h2 class="point" id="p_1">BY INTERNATIONAL CARD: VISA,  MASTER, AMEX, DINERS CLUB ...</h2>
                <p class="point-text"><b>PAY NOW:</b> Please clicking the button "PAY NOW",  the system will send you to the payment website Onepay - a solid partner of MasterCard - Australia. You input your card number, exp. date, name ... following the its instructions. After the transaction proceed successfully, we will send you a confirmation within  next working 30 minutes. </p>
                <p class="point-text"><b>PAY LATER:</b> Please clicking the button " PAY LATER", and input your your card number, exp. number, name on card .... following the its instructions. All procession is secured by 256bit SSL layer Godaddy. And we will deduct bill amount automatically on your card on the future payment date ( the future payment date is when you can not cancel, shorten .. your booking following the booking condition)</p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_2">SETTLEMENT BY PAYMENT LINK</h2>
                <p class="point-text">Our travel consultant will send you a payment link via email. And you click the payment link, then input your card number,  exp. date, name ... following the its instructions. After the transaction will proceed successfully, we will send you a confirmation within  next working 30 minutes.</p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_3">WESTERN UNION, MONEY GRAM,... </h2>
                <p class="point-text">
                    If you wish to use this service, please feel free to contact your travel consultant to get more details and instructions.
                </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_4">TRANSFER VIA BANK</h2>
                <p class="point-text">You can go to any bank in Vietnam to pay the bill following the information as below</p>
                <p class="point-text">+ In Vietcombank system, we will receive money within 1  hours. </p>
                <p class="point-text">+ From other banks, we will receive money within 24-72 hours. </p>
                <p class="point-text">
                    Bank name: Vietcombank - Ben Thanh Branch<br>
                    Account name: VINADAY goREISE Vietnam Co., Ltd<br>
                    Account number: 033 - 100 - 393 - 2502<br>
                    Content: payment for PNR #
                </p>
                <p class="point-text">Please, scan and send the deposit slip to our email cs@vinaday.com to proceed your booking complete. </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_5">BY CASH</h2>
                <h4 class="point-text">At VINADAY goREISE (Vinaday Travel) head office.</h4>
                <p class="point-text">
                    Our office opens 7 days a week from 7:00 AM till 22:00 PM, you can come to our office to visit and pay your bill directly. <br>
                    230 De Tham St., Dist. 1, Ho Chi Minh city - Saigon, Vietnam<br>
                    Tel: +84 916388382
                </p>
                <h4 class="point-text">At your home, company .... </h4>
                <p class="point-text">Please, inform us before 2 hours and we can collect money at your place for free within selected place of district 1, 3, 5, 10. Others will be charged the extra fee on case by case. </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
            </div>

        </div>
    </article>
</div>

