@{
    ViewBag.Title = "Privacy Policy - goreise.com";
    @*@ViewBag.hrefLang = "privacypolicy";*@

}
<section class="slug parallax-slug-1" data-stellar-background-ratio="0">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="anim fadeInDown">Privacy Policy</h1>
                    <p class="anim fadeInDown" data-wow-delay=".32s">Welcom to goreise.com
                </div><!-- .col-lg-12 -->
            </div><!-- .row -->
        </div>
    </div><!-- .overlay -->
</section>
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="/">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Privacy Policy
        </span>
    </div>
    <section class="main-content">
        <h1 class="text-center">CHÍNH SÁCH QUYỀN RIÊNG TƯ CỦA VINADAY</h1>
        <h2>Giới Thiệu</h2>
        <p>goreise.com được điều hành bởi Công ty Lý Ngô Việt Nam(“VINADAY” hoặc “chúng tôi) và giữ nguyên quyền sở hữu. Chúng tôi muốn thông báo việc kiểm soát dữ liệu thu thập, sử dụng, tiết lộ và xử lí thông tin cá nhân (Dữ liệu cá nhân) mà chúng tôi thu thập từ  website goreise.com và các website được liên kết ("trang web") thông qua Chính Sách Riêng Tư. Khi truy cập vào Website, Quý vị đã đồng ý cho việc thu thập, sử dụng, tiết lộ và xử lí Dữ liệu cá nhân  như được mô tả trong Chính sách riêng tư. Tất cả dữ liệu sẽ được lưu trữ trên máy chủ ở Australia, luật pháp của của sở tại có thể khách với luật pháp với đất nước Quý vị. </p>
        <p>Chúng tôi giữ nguyên quyền thay đổi, điều chỉnh lại Chính Sách Quyền Riêng Tư này vì những thay đổi luật pháp, tính năng trên Website hoặc tiến bộ về công nghệ. Mỗi lần sửa đổi Chúng tôi đều thông báo trên Website và có hiệu lực ngay tức thì. Do đó, Quý vị nên xem lại Chính Sách riêng tư này định kì. Nếu Quý vị không đồng ý vui lòng ngừng sử dụng Website này vì khi Quý vị sử dụng coi như Quý vị đã đồng ý. </p>
        <h2>Thông Tin Chúng Tôi Thu Thập</h2>
        <p>Chúng tôi thu nhập Dữ Liệu Cá nhân gồm tên, địa chỉ, số điện thoại, địa chỉ email, tên khách sạn, khách sạn, vị trí, thời gian lưu trú của quý vị. Và các thông tin khác như: tên đăng nhập, địa chỉ IP, quốc tịch, mật khẩu và các ưu tiên tìm kiếm. </p>
        <h2>Bảo Vệ Dữ Liệu Cá Nhân Của Quý Vị</h2>
        <p>Để ngăn chặn truy cập trái phép, đánh cắp dữ liệu hoặc lộ thông tin khi Quý vị truy cập vào website, chúng tôi sử dụng công nghệ Secure Socket Layer (SSL) để mã hóa toàn bộ thông tin trong quá trình chuyển thông tin. </p>
        <h2>Cách Thức Chúng Tôi Sử Dụng Thông Tin Chúng Tôi Thu thập Được</h2>
        <p>Chúng tôi sử dụng Dữ liệu cá nhân và thông tin khác được thu thập thông qua Website để đăng kí Chương trình hội viên VINADAY của chúng tôi theo yêu cầu của quý vị cung cấp. </p>
        <p>Chúng tôi sử dụng Dữ Liệu Cá nhân và thông tin khác được thu thập thông qua Website để đăng ký quý vị với Website và chương trình Điểm Thưởng VINADAY của chúng tôi theo yêu cầu của quý vị, để cung cấp cho quý vị những sản phẩm và dịch vụ theo yêu cầu (chủ yếu là để xử lý đặt phòng của quý vị), để cung cấp cho quý vị với các thông tin về sản phẩm và dịch vụ của chúng tôi trên trang web hoặc trên các trang web khác và giao tiếp với quý vị đến mức cần thiết để cung cấp các sản phẩm bị yêu cầu này và dịch vụ, và để xây dựng các tính năng làm cho dịch vụ trên Website dễ sử dụng hơn. Điều này bao gồm các yêu cầu mua nhanh hơn, việc hỗ trợ khách hàng tốt hơn và việc thông báo kịp thời các dịch vụ mới và ưu đãi đặc biệt. Thỉnh thoảng, VINADAY có thể liên hệ với quý vị để hỏi phản hồi về việc sử dụng Website, nhằm giúp chúng tôi nâng cao chất lượng Website, hoặc để cung cấp những chương trình tiết kiệm hoặc khuyến mại đặc biệt cho quý vị với tư cách người dùng Website nếu quý vị đã chỉ ra là quý vị đồng ý nhận những thông tin như vậy. Nếu quý vị không thích nhận thông báo về các chương trình tiết kiệm hoặc khuyến mại đặc biệt, quý vị có thể chọn không nhận bằng cách hồi âm cho VINADAY thông qua siêu liên kết trong những thông báo này.</p>
        <h2>Chia Sẻ Dữ Liệu Cá Nhân</h2>
        <p>VINADAY có thể chia sẻ Dữ Liệu Cá Nhân của quý vị với các bên thứ ba mà chúng tôi thuê để thay mặt chúng tôi thực hiện các dịch vụ như dịch vụ lưu trữ web, phân tích dữ liệu, để tiếp thị sản phẩm và dịch vụ của chúng tôi còn trên các trang web của các bên thứ ba, để xử lý các giao dịch thẻ tín dụng và để cung cấp cho quý vị dịch vụ khách hàng. Tất cả các bên thứ ba này bắt buộc phải duy trì tính an toàn và bảo mật của Dữ Liệu Cá Nhân, và chỉ được xử lý Dữ Liệu Cá Nhân theo hướng dẫn của chúng tôi.</p>
        <p>Trong một số trường hợp, VINADAY có thể yêu cầu quý vị giao dịch trực tiếp với một bên thứ ba để nhận dịch vụ, hoặc khi quý vị sử dụng Website để đặt phòng khách sạn hay để nhận sản phẩm hoặc dịch vụ khác, chúng tôi có thể cung cấp Dữ Liệu Cá Nhân của quý vị cho khách sạn đó hoặc bên thứ ba có liên quan khác. </p>
        <p>Bảo vệ cho các tiết lộ được đề cập trong Chính sách Bảo mật này hoặc theo yêu cầu của pháp luật trong bất kỳ có liên quan thẩm quyền như đã đề cập dưới đây và tiết lộ dữ liệu cá nhân của quý vị và các thông tin yêu cầu để hoàn thành đặt phòng của quý vị với các khách sạn có liên quan của sự lựa chọn của quý vị và chia sẻ một số dữ liệu cá nhân với các đối tác được lựa chọn nơi có liên quan (các chi tiết của quý vị sẽ được sử dụng cho mục đích báo cáo và phân tích), chúng tôi sẽ không tiết lộ dữ liệu cá nhân của quý vị cho các bên thứ ba mà không có sự đồng ý của quý vị. Tuy nhiên, chúng tôi bảo lưu quyền tiết lộ của quý vị Dữ liệu cá nhân (nhóm) các công ty chi nhánh của chúng tôi (trong và ngoài đất nước của quý vị), bao gồm cả nhân viên (nhóm) trực thuộc các công ty và các đại lý của chúng tôi đáng tin cậy và đại diện những người có quyền truy cập vào thông tin này với sự cho phép của chúng tôi và những người cần biết hoặc có quyền truy cập vào thông tin này để thực hiện các dịch vụ theo yêu cầu của quý vị (bao gồm cả các dịch vụ của khách hàng) và nội bộ (kiểm toán / compliance) điều tra.</p>
        <p>Tuân thủ pháp luật được áp dụng, VINADAY có thể tiết lộ Dữ Liệu Cá Nhân để bảo vệ bản thân chúng tôi trước các trách nhiệm pháp lý, để đáp ứng yêu cầu làm chứng ở toà án, đáp ứng các quy trình pháp lý, các yêu cầu pháp lý của nhân viên thi hành luật pháp, hoặc theo các yêu cầu khác nếu cần thiết nhằm tuân thủ luật pháp hiện hành, hoặc để đáp ứng yêu cầu của người mua liên quan đến bất kỳ việc mua bán, bàn giao, hoặc chuyển nhượng một phần hay toàn bộ cơ sở kinh doanh hoặc công ty của chúng tôi. Áp dụng theo pháp luật, chúng tôi cũng có thể tiết lộ Dữ Liệu Cá Nhân để thi hành hoặc áp dụng các điều khoản và điều kiện áp dụng cho sản phẩm và dịch vụ của chúng mình, hoặc để bảo vệ quyền, tài sản hoặc sự an toàn của VINADAY, người dùng của chúng tôi hoặc đối tượng khác.</p>
        <p>Trong những trường hợp mô tả ở trên, người nhận Dữ Liệu Cá Nhân có thể thuộc một hệ thống pháp luật không cung cấp mức độ bảo vệ dữ liệu tương đương với luật pháp ở đất nước của quý vị.</p>
        <h2>Chính Sách Của Chúng Tôi Về Các Cookie và Pixel tags</h2>
        <p>Trang web của chúng tôi sử dụng cookie phiên và dai dẳng cũng như thẻ pixel (còn gọi là clear gifs) để thu thập và lưu trữ một số thông tin về quý vị. Một cookie là một mảnh nhỏ của dữ liệu đó là gửi vào máy tính của quý vị từ trang web và được lưu trữ trên ổ đĩa cứng của máy tính. Phiên Cookies là cần thiết để giữ cho quý vị đăng nhập trong khi quý vị truy cập vào trang web và họ biến mất khỏi máy tính của quý vị khi quý vị đóng trình duyệt. Cookie liên tục vẫn còn trên máy tính của quý vị sau khi trình duyệt đã bị đóng cửa, nhưng có thể bị xóa bất cứ lúc nào thông qua Cài đặt trình duyệt của quý vị. </p>
        <p>Bằng cách truy cập trang web của chúng tôi, quý vị đồng ý với việc sử dụng các tập tin cookie và thẻ pixel như mô tả dưới đây. Nếu quý vị muốn ngăn chặn trình duyệt của quý vị từ chấp nhận cookie, nếu quý vị muốn được thông báo bất cứ khi nào một cookie được lưu trữ trên máy tính của quý vị hoặc nếu quý vị muốn xóa các tập tin cookie từ máy tính của quý vị, hãy thực hiện những thay đổi cần thiết trong trình duyệt Internet của quý vị cài đặt, thường là theo các phần "Trợ giúp" hoặc "Internet Options". Nếu quý vị vô hiệu hóa hoặc xóa cookie trong cài đặt trình duyệt Internet của quý vị, quý vị có thể không thể truy cập quan trọng chức năng hoặc các tính năng của trang web này, quý vị sẽ được yêu cầu nhập lại log-in chi tiết và sử dụng của quý vị của trang web có thể được hạn chế. Xin lưu ý rằng lựa chọn của một cookie của bên thứ ba (xem dưới đây) không có nghĩa là quý vị sẽ không còn nhận được hoặc chịu trực tuyến quảng cáo hoặc phân tích thị trường. Nó có nghĩa là mạng mà từ đó quý vị chọn không tham gia không còn phân phối quảng cáo phù hợp với sở thích web của quý vị và mô hình sử dụng.</p>
        <h2>VINADAY cookie</h2>
        <p>VINADAY sử dụng một phiên cookie để giữ cho bạn đăng nhập trong suốt lượt viếng thăm của bạn đến trang web.</p>
        <p>VINADAY sử dụng cookie để "cá nhân hoá" các trang web cho mỗi người dùng bằng cách ghi nhớ thông tin về chuyến viếng thăm của người sử dụng vào trang web. ví dụ, ngôn ngữ mà quý vị lựa chọn, đăng nhập các chi tiết để quý vị không cần phải nhập lại chúng khi truy cập tiếp theo của quý vị trang web và tiêu chí tìm kiếm của quý vị và kết quả tìm kiếm. </p>
        <p>VINADAY cũng sử dụng cookie hoặc thẻ pixel để phân tích hành vi lướt web của quý vị và quý vị truy cập vào các trang web cho phép chúng tôi cải thiện trang web và dịch vụ của chúng tôi và điều chỉnh của chúng tôi quảng cáo (qua email, trên trang web của chúng tôi, và trên các trang web khác) theo đến lợi ích của chúng tôi người sử dụng. Cookie đó và thẻ pixel thu thập thông tin về các trang quý vị truy cập vào Trang web và tìm kiếm quý vị thực hiện.</p>
        <h2>Ghi Chú Đặc Biệt Về Trẻ Em</h2>
        <p>Người dưới 18 tuổi không đủ điều kiện để sử dụng dịch vụ đặt phòng trên trang web của chúng tôi. Trẻ vị thành niên thường có thể đi cùng với cha mẹ của họ, những người đã đặt một chỗ ở, trừ trường hợp khác được nêu trong các chính sách khách sạn. </p>
        <h2>Ngôn ngữ</h2>
        <p>Chính sách Bảo mật này ban đầu đã được soạn thảo bằng tiếng Việt. Các bản dịch ra các ngôn ngữ khác chỉ có tác dụng thuận tiện cho quý vị. Trong trường hợp có xung đột giữa các phiên bản ngôn ngữ tiếng Việt và phiên bản dịch, phiên bản tiếng Việt sẽ được ưu tiên áp dụng. </p>
        <h2>Điều khoản sử dụng </h2>
        <p>Xin vui lòng tham khảo <a href="">Điều khoản sử dụng VINADAY</a> để biết thêm chi tiết về cách sử dụng trang web của chúng tôi.</p>
        <h2>Đảm Bảo Giá Tốt Nhất</h2>
        <p>VINADAY theo đuổi chính sách " Đảm Bảo Giá Tốt Nhất " nhằm mang lại cho khách hàng các kì nghỉ thoải mái nhất với chi phí tiết kiệm nhất. Nếu bạn đã đặt phòng ở VINADAY nhưng sau đó, bạn có thể đặt phòng ở một website khác với mức giá thấp hơn với cùng loại phòng, loại giường, phòng có sẵn, điều kiện hủy, ... và chụp hình màn hình lại. Hãy gởi tất cả đến chúng tôi qua email: cs@vinaday.com . Chúng tôi sẽ liên lạc Quý vị trong vòng 24h. Nếu xác minh xong chúng tôi sẽ bán giá thấp hơn hoặc bằng giá mà quý vị tìm thấy. </p>
        <p>Xin lưu ý: - Vui lòng gởi mã số Booking VINADAY trong email</p>
        <p> - Không cần phải đặt phòng trên trang website đối thủ. </p>
        <h2>Điểu Khoản và Điều Kiện</h2>
        <h3 class="h3-nomal">1. Chính sách “Đảm Bảo Giá  Tốt Nhất” của chúng tôi chỉ áp dụng cho các đặt phòng đã được xác nhận. Bạn phải cung cấp cho chúng tôi Mã Đặt Phòng VINADAY của bạn để đưa ra khiếu nại.</h3>
        <h3 class="h3-nomal">2. Những điều kiện sau phải được áp dụng:</h3>
        <ul>
            <li>Cùng khách sạn</li>
            <li>Cùng thời gian nghỉ lại</li>
            <li>Cùng loại Phòng/Giường</li>
            <li>Cùng các yêu cầu mua Trước, yêu cầu trả trước và đặt cọc (nếu có)</li>
            <li>Cùng chính sách Hủy và Sửa Đổi</li>
            <li>Phòng đó phải còn trống để được xác nhận ngay tại thời điểm các đại lý của chúng tôi kiểm tra phòng trống</li>
        </ul>
        <h3 class="h3-nomal">3. Chính sách “Đảm Bảo Giá Thấp Nhất” không áp dụng cho các mức giá không công bố, như:</h3>
        <ul>
            <li>Mức giá riêng</li>
            <li>Mức giá trọn gói hoặc khuyến mại</li>
            <li>Các phòng khách sạn bao gồm trong các tour du lịch</li>
            <li>
                Các mức giá không được áp dụng ra bên ngoài, bao gồm:
                <ul>
                    <li>Các mức giá giảm cho công ty</li>
                    <li>Mức giá nhóm hoặc mức giá hội nghị</li>
                    <li>Mức giá hội viên</li>
                    <li>Chương trình khách hàng thân thiện</li>
                    <li>Bất kỳ tổ chức nào với các mức giá dành cho nhóm cá nhân cụ thể và không nhằm mục đích áp dụng ra bên ngoài</li>
                </ul>
            </li>
        </ul>
        <h3 class="h3-nomal">4. VINADAY có toàn quyền xác định tính hợp lệ của bất kỳ khiếu nại nào, bao gồm nhưng không giới hạn ở việc xác định rằng khiếu nại đó có cùng khách sạn, loại phòng, ngày hay không và rằng nó có đáp ứng tất cả những Điều Khoản, Điều Kiện và các yêu cầu về xử lý Khiếu Nại hay không.</h3>
        <h3 class="h3-nomal">5. Chính sách “Đảm Bảo Giá Tốt Nhất” của chúng tôi không thể kết hợp với các ưu đãi hoặc chương trình khuyến mãi khác.</h3>
        <h3 class="h3-nomal">6. VINADAY có quyền sửa đổi, thay đổi, bổ sung, đình chỉ hoặc chấm dứt chính sách “Đảm Báo Giá Tốt Nhất” vào bất kỳ lúc nào.</h3>
        <p>Mọi thắc mắc về khiếu nại xin được gửi trực tiếp đến nhóm Dịch&thinsp;Vụ Khách Hàng của chúng tôi.</p>
        <h2>Đảm Bảo An Toàn Thanh Toán</h2>
        <p>Hệ thống thanh toán của VINADAY bảo mật thông tin cá nhân khách hàng và đảm bảo sự an toàn của việc chuyển khoản tín dụng. Chúng tôi sẽ không tính tiền cho đến khi việc đặt phòng được hoàn tất, tuy nhiên sẽ gửi cho khách hàng xác nhận đặt phòng qua Email. Bạn có thể nhập thông tin thẻ theo những cách bảo đảm sau đây:</p>
        <ul>
            <li>Sử dụng Mẫu thông tin Chủ thẻ bảo đảm (SSL)</li>
            <li>Hoặc thông qua gọi điện trực tiếp tới Trung tâm Trợ giúp khách hàng (tiếng Anh hoặc tiếng Việt)</li>
        </ul>
        <h2>Đảm Bảo Đặt Phòng</h2>
        <p>Khi bạn thanh toán tiền cho chúng tôi có nghĩa là phòng nghỉ của bạn đã được xác nhận và giữ cho thời gian bạn đang ở. Nếu trong trường hợp khi bạn đến nhận phòng mà </p>
        <h2>Chính sách Hủy phòng</h2>
        <p>Sẽ được áp dụng cho từng khách sạn, từng loại phòng, từng loại giá, từng thời điểm. </p>
        <p>- Giá không hoàn không đổi đối với loại khuyến mãi Super Sale: Khi Quý vị đặt phòng loại khuyến mãi này thì việc thay đổi ngày, hủy hoàn tiền không được áp dụng. Việc đổi tên người nhận phòng phải trước 3 ngày so với ngày nhận phòng. </p>
        <p>- Các đặt phòng ngày Lễ, Tết, thời gian đặc biệt trong năm (do khách sạn lựa chọn) đều không được áp dụng cho đổi, hủy, hoàn tiền trong vòng 45 ngày so với ngày nhận phòng. </p>
        <h2>Chính Sách Hoàn Tiền</h2>
        <p>Để yêu cầu hoàn tiền, vui lòng liên hệ với chúng tôi bằng cách:</p>
        <p>Email: <a href="mailto:cs@vinaday.com">cs@vinaday.com</a></p>
        <p>Điện thoại:  +84 916388382 (bạn sẽ phải trả cước điện thoại quốc tế)</p>
        <p>Website: <a href="https://goreise.com">goreise.com</a></p>
        <p>Sau khi kiểm tra thông tin và khấu trừ các phí hủy phòng ( đối với các đặt phòng trong thời hạn được hủy phòng), chúng tôi sẽ gởi hóa đơn hoàn tiền cho quý vị. Quý vị có thể nhận tiền bằng các cách sau:</p>
        <p>- Nếu bạn thanh toán bằng tiền mặt hoặc chuyển khoản: việc hoàn tiền sẽ bằng tiền mặt hoặc chuyển khoản. </p>
        <p>- Nếu thanh toán bằng thẻ tín dụng thì việc hoàn tiền thực hiện bằng nghiệp vụ ngân hàng ngay lập tức. Quý vị sẽ nhận tiền trong vòng 14 đến 30 ngày tùy vào từng ngân hàng ( việc này chúng tôi không kiểm soát được )</p>
        <h2>Thông tin về VINADAY</h2>
        <p>goreise.com là công ty chuyên về dịch vụ du lịch: đặt phòng khách sạn, tua du lịch, dịch vụ vận chuyển bằng máy bay, xe, tàu trên toàn Việt Nam  và là đại lý của nhiều hãng du lịch lớn trên thế giới. </p>
        <p>Ngoài ra, khi là thành viên trên website goreise.com, quý vị được tham gia vào chương trình điểm thưởng được quy đổi ra đêm nghỉ miễn phí hoặc các khấu trừ du lịch khác. </p>
        <h2>Miễn trừ Trách Nhiệm</h2>
        <p>1. VINADAY nỗ lực hết mình đảm bảo rằng tất cả các mức giá hoặc thông tin hiển thị trên website này là chính xác vào thời điểm phát hành. Các thay đổi về điều kiện thị trường hoặc các trường hợp có thể xảy ra sau ngày phát hành có thể làm các thông tin hiển thị trên website này không còn chính xác hoặc không còn phản ánh trình trạng hiện thời.</p>
        <p>2. VINADAY hoàn toàn từ chối mọi tuyên bố, bảo đảm hoặc trách nhiệm liên quan đến tính chính xác, hoàn thiện, chất lượng hoặc sự phù hợp của tất cả nội dung của website này.</p>
        <p>3. VINADAY nỗ lực hết mình làm việc với các khách sạn cung cấp tiêu chuẩn về dịch vụ và chỗ ở chấp nhận với mức giá tương ứng, chúng tôi hoàn toàn chối từ mọi tuyên bố, bảo đảm hoặc trách nhiệm liên quan đến chất lượng hoặc tính phù hợp của tất cả các khách sạn liệt kê trên website của chúng tôi.</p>
    </section>
</div>
