@{
    ViewBag.Title = "Đặt phòng khách sạn Nha Trang, Đà Lạt, HCM, Đà Nẵng, Mũi Né, Vũng Tàu khuyến mãi";
    <meta name="keywords" content="khách sạn nha trang khuyến mãi,  khách sạn hồ chí minh khuyến mãi, khách sạn đà nẵng khuyến mãi" />
    <meta name="description" content="Chương trình khuyến mãi dành riêng cho khách hàng của vinaday.vn. Giảm giá đến 70% tại khách sạn Nha Trang, khách sạn Mũi Né, khách sạn Đà Nẵng, Khách sạn Hồ Chí Minh, Khách sạn Hà Nội" />

}
<div class="container hidden-xs">
    <div class="subpage">
        <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="http://www.vinaday.vn/">
                    Trang chủ
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                Khuyến mãi tháng 3
            </span>
        </article>
    </div>
</div>
<div class="content promotion-template">
    <div class="container">
        <h1 style="margin-top: 5px;">Khuyến mãi <span>tháng 3</span></h1>
        <div class="row waterfall" data-col-min-width="390"
             data-default-container-width="1170"
             data-autoresize="true">
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Đà Nẵng</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/14524/chu-hotel-danang" title="Khách sạn Chu"> <span class="item-title">Khách sạn Chu - 3 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  720.090 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/11288/furama-resort-danang" title="Furama Resort Đà Nẵng"> <span class="item-title">Furama Resort Đà Nẵng - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  2.898.000 VND</span> </a> </div>
                    <div class="item text-health"><a href="http://vinaday.vn/viet-nam/13748/hyatt-regency-danang-resort-spa" title="Hyatt Regency Resort Đà Nẵng"><span class="item-title">Hyatt Regency Resort Đà Nẵng - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  3.977.400 VND</span></a></div>
                    <div class="item"> <a title="Pullman Đà Nẵng Resort" href="http://vinaday.vn/viet-nam/11692/pullman-da-nang-beach-resort-managed-by-accor"> <span class="item-title">Pullman Đà Nẵng Resort - 5 sao</span> <span>từ  3.108.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15576/holiday-beach-hotel-da-nang" title="Khách sạn Holiday Beach"> <span class="item-title">Khách sạn Holiday Beach - 4,5 sao</span> <span>từ  2.199.960 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15066/centara-sandy-beach-resort" title="Sandy Beach Resort"> <span class="item-title">Sandy Beach Resort - 4 sao</span> <span>từ  1.850.100 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15062/luna-diamond-hotel-danang" title="Khách sạn Luna Diamond"> <span class="item-title">Khách sạn Luna Diamond - 3 sao</span> <span>từ  350.070 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/14284/brilliant-hotel-danang" title="Khách sạn Brilliant"> <span class="item-title">Khách sạn Brilliant - 4 sao</span> <span>từ  1.350.090 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15064/novotel-danang-premier-han-river" title="Khách sạn Novotel"> <span class="item-title">Khách sạn Novotel - 4 sao</span> <span>từ  2.580.060 VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15067/song-thu-hotel-danang" title="Khách sạn Sông Thu"> <span class="item-title">Khách sạn Sông Thu - 3 sao</span> <span>từ   490.140  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15459/eden-plaza-da-nang" title="Khách sạn Eden Plaza"> <span class="item-title">Khách sạn Eden Plaza - 4 sao</span> <span>từ   800.100  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/13453/vinpearl-premium-danang" title="Vinpearl Premium Đà Nẵng"> <span class="item-title">Vinpearl Premium Đà Nẵng - 5 sao</span> <span>từ   4.940.040  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/11849/fusion-maia-resort-spa-all-inclusive" title="Fusion Maia Đà Nẵng"> <span class="item-title">Fusion Maia Đà Nẵng - 5 sao</span> <span>từ   8.358.000  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15529/muong-thanh-danang-hotel" title="Khách sạn Mường Thanh Đà Nẵng"> <span class="item-title">Khách sạn Mường Thanh Đà Nẵng - 4 sao</span> <span>từ   850.080 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15069/starlet-hotel-danang" title="Khách sạn Starlet Đà Nẵng"> <span class="item-title">Khách sạn Starlet Đà Nẵng - 3 sao</span> <span>từ   400.050  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15893/naman-retreat-resort-danang" title="Naman Retreat Đà Nẵng"> <span class="item-title">Naman Retreat Đà Nẵng - 5 sao</span> <span>từ   2.583.000  VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Hà Nội</h2>
                    <div class="item text-health"> <a title="Khách sạn Atrium" href="http://vinaday.vn/viet-nam/11556/atrium-hanoi-hotel"> <span class="item-title">Khách sạn Atrium - 2,5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ 525.000 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Khách sạn L'Opera Mgallery" href="http://vinaday.vn/viet-nam/12106/hotel-de-lopera-mgallery-collection"> <span class="item-title">Khách sạn L'Opera Mgallery - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ 2.945.250 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Moevenpick Hà Nội" href="http://vinaday.vn/viet-nam/12645/moevenpick-hotel-hanoi"> <span class="item-title">Khách sạn Moevenpick Hà Nội - 5 sao</span> <span>từ 2.795.100 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Boss Legend" href="http://vinaday.vn/viet-nam/15820/boss-legend-hotel-hanoi"> <span class="item-title">Khách sạn Boss Legend - 4,5 sao</span> <span>từ 1.589.910 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Pullman Hà Nội" href="http://vinaday.vn/viet-nam/15644/pullman-hanoi-hotel"> <span class="item-title">Khách sạn Pullman Hà Nội - 5 sao</span> <span>từ 2.436.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15636/hanoi-pearl-hotel" title="Khách sạn Pearl Hà Nội"> <span class="item-title">Khách sạn Pearl Hà Nội - 4 sao</span> <span>từ 1.365.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Gia Bảo Grand Hà Nội" href="http://www.vinaday.vn/viet-nam/11642/gia-bao-grand-hotel"> <span class="item-title">Khách sạn Gia Bảo Grand Hà Nội - 3,5 sao</span> <span>từ  693.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Imperial Hà Nội" href="http://www.vinaday.vn/viet-nam/15564/hanoi-imperial-hotel"> <span class="item-title">Khách sạn Imperial Hà Nội - 3,5 sao</span> <span>từ  1.575.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Daewoo Hà Nội" href="http://www.vinaday.vn/viet-nam/11293/hanoi-daewoo-hotel"> <span class="item-title">Khách sạn Daewoo Hà Nội - 5 sao</span> <span>từ  1.926.120 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Bảo Sơn International Hà Nội" href="http://www.vinaday.vn/viet-nam/15573/baoson-international-hotel"> <span class="item-title">Khách sạn Bảo Sơn International Hà Nội - 4 sao</span> <span>từ  1.170.120 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Emotion Hà Nội" href="http://www.vinaday.vn/viet-nam/15558/hanoi-emotion-hotel"> <span class="item-title">Khách sạn Emotion Hà Nội - 3 sao</span> <span>từ  840.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15768/hanoi-elegance-diamond-hotel" title="Khách sạn Elegance Diamond Hà Nội"> <span class="item-title">Khách sạn Elegance Diamond Hà Nội - 4 sao</span> <span>từ  1.365.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/13996/gondola-hotel-hanoi" title="Khách sạn Gondola Hà Nội"> <span class="item-title">Khách sạn Gondola Hà Nội - 3 sao</span> <span>từ 861.000 VND</span> </a> </div>
                    
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/14925/maison-dhanoi-boutique-hotel" title="Khách sạn Maison D’Hanoi Boutique"><span class="item-title">Khách sạn Maison D’Hanoi Boutique - 3 sao</span><span>từ  945.000 VND</span></a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15554/mercure-hanoi-la-gare-hotel" title="Khách sạn Mercure Hà Nội La Gare"><span class="item-title">Khách sạn Mercure Hà Nội La Gare - 4 sao</span><span>từ  1.557.000 VND</span></a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Nha Trang</h2>
                    <div class="item text-health"> <a title="Khách sạn Havana Nha Trang" href="http://vinaday.vn/viet-nam/15088/best-western-premier-havana-nha-trang"> <span class="item-title">Khách sạn Havana Nha Trang - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  1.799.910 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Khách sạn Sheraton" href="http://vinaday.vn/viet-nam/11750/sheraton-nha-trang-hotel-spa"> <span class="item-title">Khách sạn Sheraton - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  2.900.100 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Khách sạn InterContinental " href="http://vinaday.vn/viet-nam/15639/intercontinental-nha-trang-hotel"> <span class="item-title">Khách sạn InterContinental  - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  3.089.940 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Luxury Nha Trang" href="http://vinaday.vn/viet-nam/15624/luxury-nha-trang-hotel"> <span class="item-title">Khách sạn Luxury Nha Trang - 3,5 sao</span> <span>từ  879.900 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Michelia " href="http://vinaday.vn/viet-nam/11893/michelia-hotel-nha-trang"> <span class="item-title">Khách sạn Michelia  - 4 sao</span> <span>từ  1.409.940 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn The Summer" href="http://vinaday.vn/viet-nam/11607/the-summer-hotel-nha-trang"> <span class="item-title">Khách sạn The Summer - 3 sao</span> <span>từ  850.080 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11435/vinpearl-resort-nha-trang" title="Vinpearl Resort Nha Trang"> <span class="item-title">Vinpearl Resort Nha Trang - 5 sao</span> <span>từ  4.840.080 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn The Light Nha Trang" href="http://www.vinaday.vn/viet-nam/15517/the-light-hotel-resort-nha-trang"> <span class="item-title">Khách sạn The Light Nha Trang - 4 sao</span> <span>từ  1.350.090 VND</span> </a> </div>
                    <div class="item"> <a title="Amiana Resort Nha Trang" href="http://www.vinaday.vn/viet-nam/15496/worldhotel-amiana-nha-trang"> <span class="item-title">Amiana Resort Nha Trang - 5 sao</span> <span>từ  3.192.000  VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Mường Thanh Centre Nha Trang" href="http://www.vinaday.vn/viet-nam/15862/muong-thanh-nha-trang-centre"> <span class="item-title">Khách sạn Mường Thanh Centre Nha Trang - 5 sao</span> <span>từ  1.729.980 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Starlet Nha Trang" href="http://www.vinaday.vn/viet-nam/11594/starlet-hotel-nha-trang"> <span class="item-title">Khách sạn Starlet Nha Trang - 3 sao</span> <span>từ 850.080 VND</span> </a> </div>

                    <div class="item"> <a title="An Lâm Ninh Vân Bay Villa Nha Trang" href="http://vinaday.vn/viet-nam/12142/an-lam-ninh-van-bay"> <span class="item-title">An Lâm Ninh Vân Bay Villa Nha Trang - 5 sao</span> <span>từ 6.449.940 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Hội An</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/15640/thanh-binh-riverside-hotel-hoi-an" title="Thanh Bình Riverside Resort"> <span class="item-title">Thanh Bình Riverside Resort - 4 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  1.240.050 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/11453/the-nam-hai-resort" title="The Nam Hải Resort"> <span class="item-title">The Nam Hải Resort - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  7.269.150 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11416/vinh-hung-riverside-resort" title="Vĩnh Hưng Riverside Resort"> <span class="item-title">Vĩnh Hưng Riverside Resort - 4 sao</span> <span>từ  1.365.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15686/essence-hoian-hotel-spa" title="Khách sạn Essence"> <span class="item-title">Khách sạn Essence - 3 sao</span> <span>từ  1.384.950 VND</span> </a> </div>
                    <div class="item"> <a title="Hội An Boutique Resort" href="http://vinaday.vn/viet-nam/11851/boutique-hoi-an-resort"> <span class="item-title">Hội An Boutique Resort - 4,5 sao</span> <span>từ  2.199.960 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Hội An" href="http://www.vinaday.vn/viet-nam/11326/hoi-an-hotel"> <span class="item-title">Khách sạn Hội An - 4 sao</span> <span>từ   1.400.070 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Royal Hội An" href="http://www.vinaday.vn/viet-nam/15911/hotel-royal-hoi-an-mgallery-collection"> <span class="item-title">Khách sạn Royal Hội An - 4 sao</span> <span>từ   2.625.000 VND</span> </a> </div>
                    <div class="item"> <a title="Palm Garden Resort Hội An" href="http://www.vinaday.vn/viet-nam/11428/palm-garden-resort-spa"> <span class="item-title">Palm Garden Resort Hội An - 5 sao</span> <span>từ   2.500.050 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Thanh Vân II Hội An" href="http://www.vinaday.vn/viet-nam/15887/thanh-van-ii-hotel"> <span class="item-title">Khách sạn Thanh Vân II Hội An - 3 sao</span> <span>từ   570.150  VND</span> </a> </div>
                    <div class="item"> <a title="Golden Sand Resort Hội An" href="http://www.vinaday.vn/viet-nam/15153/golden-sand-resort-spa"> <span class="item-title">Golden Sand Resort Hội An - 5 sao</span> <span>từ  2.292.150 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Sài Gòn</h2>
                    <div class="item text-health"> <a title="Khách sạn Eastin Grand Saigon" href="http://vinaday.vn/viet-nam/11315/eastin-grand-hotel"> <span class="item-title">Khách sạn Eastin Grand Saigon - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  2.100.000 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/11343/sheraton-saigon-hotel-towers" title="Khách sạn Sheraton Saigon"> <span class="item-title">Khách sạn Sheraton Saigon - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  2.415.000 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Khách sạn Novotel Saigon" href="http://vinaday.vn/viet-nam/12524/novotel-saigon-centre-hotel"> <span class="item-title">Khách sạn Novotel Saigon - 4 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  2.478.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Nikko " href="http://vinaday.vn/viet-nam/12346/hotel-nikko-saigon"> <span class="item-title">Khách sạn Nikko - 5 sao</span> <span>từ  2.769.060 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Rex" href="http://vinaday.vn/viet-nam/11319/rex-hotel-saigon"> <span class="item-title">Khách sạn Rex - 5 sao</span> <span>từ  2.688.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Sonnet" href="http://vinaday.vn/viet-nam/15891/sonnet-hotel-saigon"> <span class="item-title">Khách sạn Sonnet - 3 sao</span> <span>từ  808.920 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Hoàng Hải Long" href="http://vinaday.vn/viet-nam/15526/hoang-hai-long-hotel-saigon"> <span class="item-title">Khách sạn Hoàng Hải Long - 3 sao</span> <span>từ  900.060 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Vissai Saigon" href="http://vinaday.vn/viet-nam/15610/vissai-saigon-hotel"> <span class="item-title">Khách sạn Vissai Saigon - 4 sao</span> <span>từ   1.260.000 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Phú Quốc</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/14894/famiana-resort-spa" title="Resort Famiana Phú Quốc"> <span class="item-title">Resort Famiana Phú Quốc - 4 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  1.890.000 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/15811/vinpearl-resort-phu-quoc" title="Vinpearl Resort Phú Quốc"> <span class="item-title">Vinpearl Resort Phú Quốc - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  4.130.070 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15094/eden-resort-phu-quoc" title="Resort Eden Phú Quốc"> <span class="item-title">Resort Eden Phú Quốc - 4 sao</span> <span>từ  2.517.060 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15650/the-shell-resort-spa" title="Resort The Shell"> <span class="item-title">Resort The Shell - 5 sao</span> <span>từ  5.439.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Thiên Hải Sơn" href="http://vinaday.vn/viet-nam/15142/thien-hai-son-resort"> <span class="item-title">Khách sạn Thiên Hải Sơn - 3 sao</span> <span>từ  1.489.950 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15833/salinda-premium-resort-and-spa" title="Salinda Phú Quốc Resort &amp; Spa"> <span class="item-title">Salinda Phú Quốc Resort &amp; Spa - 5 sao</span> <span>từ  5.008.920 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15096/saigon-phu-quoc-resort" title="Saigon - Phu Quoc Resort"> <span class="item-title">Saigon - Phu Quoc Resort - 4 sao</span> <span>từ   1.799.910 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Phan Thiết - Mũi Né</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/15159/romana-resort-spa" title="Romana Resort Mũi Né"> <span class="item-title">Romana Resort Mũi Né - 4 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  1.365.000 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/14707/the-cliff-resort-residences" title="The Cliff Resort"> <span class="item-title">The Cliff Resort - 4,5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  1.680.000 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15594/ocean-vista-residence-mui-ne" title="Căn hộ The Ocean Vista "> <span class="item-title">Căn hộ The Ocean Vista  - 4,5 sao</span> <span>từ  1.224.930 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11954/sea-links-beach-hotel" title="Khách sạn Sealinks Beach"> <span class="item-title">Khách sạn Sealinks Beach - 5 sao</span> <span>từ  1.934.940 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11382/seahorse-resort-spa" title="Seahorse Resort Mũi Né"> <span class="item-title">Seahorse Resort Mũi Né - 4 sao</span> <span>từ  1.519.980 VND</span> </a> </div>
                    
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15135/little-mui-ne-cottages-resort" title="Mũi Né Nhỏ Resort"><span class="item-title">Mũi Né Nhỏ Resort - 4 sao</span><span>từ   924.000 VND</span></a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11402/phu-hai-resort" title="Phú Hải Resort Mũi Né"><span class="item-title">Phú Hải Resort Mũi Né - 4 sao</span><span>từ    969.990 VND</span></a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/14406/poshanu-resort" title="Poshanu resort Mũi Né"><span class="item-title">Poshanu resort Mũi Né - 4 sao</span><span>từ    1.680.000 VND</span></a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15138/pegasus-resort" title="Pegasus Resort Mũi Né"><span class="item-title">Pegasus Resort Mũi Né - 4 sao</span><span>từ    900.060 VND</span></a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/14611/mia-resort-mui-ne" title="Mia Resort Mũi Né"><span class="item-title">Mia Resort Mũi Né - 4 sao</span><span>từ     1.699.950 VND</span></a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Đà Lạt</h2>
                    <div class="item text-health"> <a title="Khách sạn Ngọc Lan" href="http://vinaday.vn/viet-nam/11671/ngoc-lan-hotel-dalat"> <span class="item-title">Khách sạn Ngọc Lan - 4 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  1.071.000 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Khách sạn Palace Đà Lạt" href="http://vinaday.vn/viet-nam/11285/dalat-palace-hotel"> <span class="item-title">Khách sạn Palace Đà Lạt - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  2.600.010 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Đà Lạt Plaza" href="http://vinaday.vn/viet-nam/15101/best-western-dalat-plaza"> <span class="item-title">Khách sạn Đà Lạt Plaza - 4 sao</span> <span>từ  765.030 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Mường Thanh Đà Lạt" href="http://vinaday.vn/viet-nam/15082/muong-thanh-hotel-dalat"> <span class="item-title">Khách sạn Mường Thanh Đà Lạt - 4 sao</span> <span>từ  950.040 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Huế</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/15093/ngoc-huong-hotel" title="Khách sạn Ngọc Hương"> <span class="item-title">Khách sạn Ngọc Hương - 3 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  420.000 VND</span> </a> </div>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/11451/imperial-hotel-hue" title="Khách sạn Imperial "> <span class="item-title">Khách sạn Imperial  - 4 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  1.400.070 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15140/moonlight-hotel-hue" title="Khách sạn Moonlight"> <span class="item-title">Khách sạn Moonlight - 4 sao</span> <span>từ  900.060 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11565/muong-thanh-hue-hotel" title="Khách sạn Mường Thanh"> <span class="item-title">Khách sạn Mường Thanh - 4 sao</span> <span>từ  1.005.900 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Vịnh Hạ Long</h2>
                    <div class="item text-health"> <a title="Tàu 5 sao Paradise Luxury" href="http://vinaday.vn/viet-nam/12134/paradise-luxury-cruise"> <span class="item-title">Tàu 5 sao Paradise Luxury - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  8.788.920 VND</span> </a> </div>
                    <div class="item"> <a title="Tàu 5 sao Bhaya " href="http://vinaday.vn/viet-nam/11978/halong-bhaya-cruise"> <span class="item-title">Tàu 5 sao Bhaya - 4,5 sao</span> <span>từ  6.600.090 VND</span> </a> </div>
                    <div class="item"> <a href="#" title="Tàu 3 sao Golden Lotus"> <span class="item-title">Tàu 3 sao Golden Lotus - 4 sao</span> <span>từ  2.100.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Novotel" href="http://vinaday.vn/viet-nam/12617/novotel-ha-long-bay-hotel"> <span class="item-title">Khách sạn Novotel - 4 sao</span> <span>từ  2.342.130 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Vũng Tàu - Long Hải</h2>
                    <div class="item text-health"> <a title="Khách sạn Imperial Vũng Tàu" href="http://vinaday.vn/viet-nam/11570/the-imperial-hotel-vung-tau"> <span class="item-title">Khách sạn Imperial Vũng Tàu - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  2.520.000 VND</span> </a> </div>
                    <div class="item text-health"> <a title="Resort The Grand Hotram Strip" href="http://vinaday.vn/viet-nam/15445/the-grand-ho-tram-strip-resort"> <span class="item-title">Resort The Grand Hotram Strip - 5 sao<img src="/Content/images/design/hot.gif" alt="hot"></span> <span>từ  3.699.990 VND</span> </a> </div>
                    <div class="item"> <a title="Seaside Resort Vũng Tàu" href="http://vinaday.vn/viet-nam/15086/seaside-resort-vung-tau"> <span class="item-title">Seaside Resort Vũng Tàu - 4 sao</span> <span>từ  1.050.000 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn New Wave " href="http://vinaday.vn/viet-nam/15539/new-wave-hotel-vung-tau"> <span class="item-title">Khách sạn New Wave - 4 sao</span> <span>từ  1.000.020 VND</span> </a> </div>
                    
                    @*<div class="item"> <a title="Alma Oasis Long Hải" href="http://vinaday.vn/viet-nam/15897/alma-oasis-long-hai-resort"> <span class="item-title">Alma Oasis Long Hải - 4 sao</span> <span>từ  1.000.020 VND</span> </a> </div>*@
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Quy Nhơn</h2>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/11345/seagull-hotel-quy-nhon" title="Seagull Resort Quy Nhơn"> <span class="item-title">Seagull Resort Quy Nhơn - 4 sao</span> <span>từ  450.030 VND</span> </a> </div>
                    <div class="item"> <a title="Saigon - Quy Nhơn  Resort" href="http://vinaday.vn/viet-nam/15514/saigon-quy-nhon-hotel"> <span class="item-title">Saigon - Quy Nhơn  Resort - 4 sao</span> <span>từ ... VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15852/royal-hotel-and-healthcare-resort-quy-nhon" title="Royal Hotel And Healthcare Resort Quy Nhơn"> <span class="item-title">Royal Hotel And Healthcare Resort Quy Nhơn - 4 sao</span> <span>từ  750.000  VND</span> </a> </div>
                    <div class="item"> <a href="http://www.vinaday.vn/viet-nam/15855/muong-thanh-hotel-quy-nhon" title="Khách sạn Mường Thanh Quy Nhơn"> <span class="item-title">Khách sạn Mường Thanh Quy Nhơn - 4 sao</span> <span>từ  450.030  VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Côn Đảo</h2>
                    <div class="item text-health"> <a href="http://vinaday.vn/viet-nam/11955/six-senses-con-dao" title="Resort Six Senses Côn Đảo"> <span class="item-title">Resort Six Senses Côn Đảo - 5 sao<img alt="hot" src="/Content/images/design/hot.gif"></span> <span>từ  8.439.900 VND</span> </a> </div>
                    <div class="item"> <a href="#" title="Côn Đảo Resort"> <span class="item-title">Côn Đảo Resort - 4 sao</span> <span>từ  1.080.030 VND</span> </a> </div>
                    <div class="item"> <a href="http://vinaday.vn/viet-nam/15102/sai-gon-con-dao-resort" title="Resort Saigon - Côn Đảo"> <span class="item-title">Resort Saigon - Côn Đảo - 4 sao</span> <span>từ  1.155.000 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Sapa</h2>
                    <div class="item"> <a title="Victoria Resort Sapa" href="http://vinaday.vn/viet-nam/11339/victoria-sapa-resort-spa"> <span class="item-title">Victoria Resort Sapa - 4,5 sao</span> <span>từ  3.117.450 VND</span> </a> </div>
                    <div class="item"> <a title="Khách sạn Panorama" href="http://vinaday.vn/viet-nam/15878/sapa-panorama-hotel"> <span class="item-title">Khách sạn Panorama - 3 sao</span> <span>từ  546.000 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Phan Rang - Ninh Thuận</h2>
                    <div class="item"> <a title="Saigon - Ninh Chữ Resort" href="http://vinaday.vn/viet-nam/15630/saigon-ninh-chu-hotel-resort"> <span class="item-title">Saigon - Ninh Chữ Resort - 4 sao</span> <span>từ  1.030.050 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Ninh Bình</h2>
                    <div class="item"> <a title="Emeralda Resort" href="http://vinaday.vn/viet-nam/13738/emeralda-resort-ninh-binh"> <span class="item-title">Emeralda Resort - 5 sao</span> <span>từ  2.646.000 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Vinh</h2>
                    <div class="item"> <a title="Mường Thanh Sông Lam" href="http://vinaday.vn/viet-nam/15707/muong-thanh-dien-chau-hotet"> <span class="item-title">Mường Thanh Sông Lam - 5 sao</span> <span>từ  640.080 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Quảng Bình</h2>
                    <div class="item"> <a title="Sun Spa  Resort" href="http://vinaday.vn/viet-nam/15523/sun-spa-resort-villa-quang-binh"> <span class="item-title">Sun Spa  Resort - 5 sao</span> <span>từ  1.660.050 VND</span> </a> </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article>
                    <h2 id="asia">Phú Yên</h2>
                    <div class="item"> <a title="Vietstar Resort Phú Yên" href="http://vinaday.vn/viet-nam/11544/vietstar-resort-spa-phu-yen"> <span class="item-title">Vietstar Resort Phú Yên - 5 sao</span> <span>từ   1.197.000 VND</span> </a> </div>
                </article>
            </div>
        </div>
        <div class="conditions">
            <h3>ĐIỀU KIỆN KHUYẾN MÃI</h3>
            <ul>
                <li>Giờ nhận phòng: 14h00 - Giờ trả phòng: 12h00</li>
                <li>Khuyến mãi áp dụng từ 01/03/2015 &ndash; 25/04/2015</li>
                <li>Giá khuyến mãi bao gồm ăn sáng, VAT và phí phục vụ</li>
                <li>Một số khu vực sẽ áp dụng phụ thu cuối tuần</li>
                <li>Một số đặt phòng không hoàn, không hủy và không đổi</li>
                <li>Không kết hợp với các khuyến mãi khác</li>
                <li>Khuyến mãi chỉ áp dụng cho khách Việt Nam, Người nước ngoài sinh sống và làm việc tại Việt Nam (Visa trên 3 tháng)</li>
                <li>Theo quy định của luật Việt Nam một khách nước ngoài + 1 khách Việt Nam phải có giấy đăng ký kết hôn khi sử dụng chung phòng.</li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = '@Url.Content("~/Scripts/jquery.waterfall.js")';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
    }
</script>

