@{
    ViewBag.Title = "Website Policy - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Trang chủ
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Refund Policy
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="about-us">About us</a></li>
                        <li><a href="/websites-rules">Websites Rules</a></li>
                        <li><a class="active" href="/refund-policy">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <div class="qbdxzy-1 gtbZAS">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">Refund Policy</h2><div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    VINADAY GOREISE Co., Ltd ("VGG" or "we") try to ensure that we only promote Deals that our Members will enjoy. We understand, however, that occasionally, this is not always the case. This Policy sets out the circumstances in which VGG may provide refunds to our Members ("Member" or "you") in respect of a specific Deal.
                                    Please note that this Refund Policy only applies to purchases of resort and hotel packages and Tours. BUT it does not apply to Flights or Cruises purchased through VGG which are subject to the refund policies of the respective flight or cruise operator
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            General Provision
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    ‘7-Day change of mind guarantee’ - Bookings (except for Tour bookings) may be cancelled with a full refund provided that cancellation occurs strictly within 7 days from the date of booking and provided that the cancellation is made no less than 45 days prior to the check-in date.
                                    Note the ‘7-day change of mind guarantee’ does not apply for Tour bookings – Tour bookings may only be cancelled with a full refund provided that cancellation occurs strictly within 48 hours from the time of purchase.
                                    Otherwise, cancellations made outside of these periods will not be refundable except as provided for in this Refund Policy.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            VGG will provide a refund where:
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    We are required by law to do so; or prior to the redemption of the offer and during the validity period (as provided in the fine print of the offer) the provider of the offer ceases trading or ceases to provide the accommodation outlined in the offer.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Circumstances that DO NOT qualify for Refunds
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    For the avoidance of doubt, the following are circumstances that DO NOT qualify for refunds:
                                    where you have failed to read the Specific Terms and Conditions of the offer (located under 'The Fine Print' section on our Website on the day of the offer), and the General Terms and Conditions; or
                                    if you change your mind (except where such a change of mind and request is within the required cancellation periods outlined in this policy);
                                    if you purchase a “Buy Now Book Later” option and are unable to obtain your preferred dates after the required cancellation period outlined in this policy; or
                                    if the merchant on behalf of whom we are advertising the offer does not honour the terms of the offer because you have failed to present a booking confirmation on redemption; or
                                    if you cannot redeem the offer prior to the end of the redemption period due to travel commitments; or
                                    if you cancel a scheduled booking such that the cancellation voids the package in accordance with the merchant’s cancellation policy
                                    if the Deal experience did not meet your general expectations (for whatever reason);
                                    if you have had a dispute with the business on behalf of whom we are advertising the offer; or
                                    if the Business does not have availability to redeem your package because you have not attempted to make a booking within a reasonable period of time (as determined by VGG) from the expiry date.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Submitting a request for a Refund
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    A request for a refund must be submitted via the form located on the Contact Us page of the VGG Website. All Members requesting a refund will be required to provide full particulars as to why they are seeking a refund in accordance with this policy.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            VGG will verify
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    VGG will verify the validity and veracity of some or all of the particulars of a request for refund by consulting with the relevant merchant responsible for fulfilling the offer. VGG may also ask you (by phone or email) to provide additional information in relation to the refund request.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            VGG may refuse request

                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    In circumstances where we believe that a request for a refund does not fall within the scope of this Policy, is misleading, incorrect and/or deceptive or is otherwise invalid, VGG may, in its absolute discretion, refuse a refund request. VGG is under no obligation to provide you with reasons as to why your request has been refused. Please note, any fraudulent refund requests will be immediately referred to the relevant authorities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Refund to Credit Card
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    In circumstances where we believe that a request for a refund does not fall within the scope of this Policy, is misleading, incorrect and/or deceptive or is otherwise invalid, VGG may, in its absolute discretion, refuse a refund request. VGG is under no obligation to provide you with reasons as to why your request has been refused. Please note, any fraudulent refund requests will be immediately referred to the relevant authorities.
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Refund to Credit Card
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    In circumstances where we believe that a request for a refund does not fall within the scope of this Policy, is misleading, incorrect and/or deceptive or is otherwise invalid, VGG
                                    The refund will be credited to the Credit Card  used to purchase the offer. Any refund provided by VGG is in no way an admission of liability by or on behalf of VGG or the admission of any other fact in connection with any act of omission which led to the request for a refund being submitted by the Member.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Change to Policy
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    VGG may change this Policy at any time, at our absolute discretion by posting the revised policy on this Website. It is your responsibility to review the terms of this Policy regularly. Your continued receipt of our daily emails will constitute acceptance and acknowledgment of the terms of this Policy.
                                    Contact information
                                    Any feedback or questions regarding this Policy should be emailed to cs@vinaday.com and addressed to the Company Secretary.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="introduction">
                        <h2 class="sc-1sxzo5m-0 ZWKNy fb2zen-0-h2 eJjhOS">
                            Contact information
                        </h2>
                        <div class="rnyqnl-0 GgrcE">
                            <div class="MarkdownRender undefined sc-5ra7ji-0 fpPTit" font-size="base">
                                <p>
                                    Any feedback or questions regarding this Policy should be emailed to cs@vinaday.com and addressed to the Company Secretary.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>