@{
    ViewBag.Title = "Rewards - VINADAY goREISE";
    @*@ViewBag.hrefLang = "rewards";*@

}
<div style="background-image: url('../../Content/images/overview_bg.jpg'); background-repeat: no-repeat; background-color: #fff;display: none">
    <div class="container gtour">
        <div xmlns:v="http://rdf.data-vocabulary.org/#" class="home-breadcrumb">
            <span typeof="v:Breadcrumb">
                <a href="https://goreise.com" rel="v:url" property="v:title">
                    Home
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                GO REWARDS CLUB
            </span>
        </div>
        <article class="main-content">
            <div style="display: block; position: relative;" class="tab-content">
                <div class="pull-right">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a style="border: none;" aria-expanded="true" data-toggle="tab" href="https://goreise.com/rewards#panel-509969"><img src="../../Content/images/icon-flag-uk.gif"></a>
                        </li>
                        <li class="">
                            <a style="border: none;" aria-expanded="false" data-toggle="tab" href="https://goreise.com/rewards#panel-764797"><img src="../../Content/images/vietnam-flag-icon24.png"></a>
                        </li>
                    </ul>
                </div>
                <div id="panel-509969" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../Content/images/go_plus.png"/>
                        </div>
                        <div class="col-lg-6">
                            <h1 style="color: #f58220; font-size: 28px; font-family: 'Lato'; font-weight: bold;">GO Rewards Club’s Membership Programme</h1>
                            <p class="point-text">GO Rewards Club is a point accumulation and dining discounts programme at associated hotels for loyal customers of VINADAY goREISE designed for Silver and Gold Membership.</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="point-text"><b>Members’ benefits include:</b>
                            </p>
                            <ul class="point-text">
                                <li>Point accumulation: Booking any hotel from VINADAY goREISE, members earn 1-3% of turnover as reward points. After every 3 months, the amount will be converted into coupons used for next bookings by members.</li>
                                <li>Dining: 15-30% discount on food bills at any restaurant associated with VINADAY goREISE. List of these restaurants will be constantly updated on the website of Gold Membership.</li>
                                <li>One free night stay in Ho Chi Minh City, Nha Trang, Phu Quoc or Hoi An for Gold Members.</li>
                                <li>Free upgrade to the next class for Gold Members (subject to availability).</li>
                            </ul>
                            <p class="point-text"><b>How to participate:</b>
                            </p>
                            <ul class="point-text">
                                <li>It’s completely FREE to become VINADAY goREISE’s Silver Members. Any further inquiry please contact: cs@vinaday.com.</li>
                                <li>You will get 3 points for each VND 100,000 spent. VINADAY goREISE’s Silver Members who reach 3000 points will become Gold Members. </li>
                            </ul>
                            <p class="point-text">
                                <b>GO Rewards Club’s Customer Service Department:</b><br>
                                <b>228 De Tham, Pham Ngu Lao Ward, District 1, HCMC</b><br>
                                <b>Phone: +84 916388382 - Email: cs@vinaday.com</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="panel-764797" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../Content/images/go_plus.png"/>
                        </div>
                        <div class="col-lg-6">
                            <h1 style="color: #f58220; font-size: 28px; font-family: 'Lato'; font-weight: bold;">Chương trình hội viên GO Rewards Club</h1>
                            <p class="point-text">GO Rewards Club là chương trình tích điểm thưởng và giảm giá ăn uống tại các khách sạn liên kết dành cho khách hàng thường xuyên của VINADAY goREISE. Chương trình có hạng Bạc và hạng Vàng.</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="point-text"><b>Các quyền lợi của chương trình:</b>
                            </p>
                            <ul class="point-text">
                                <li>Tích điểm thưởng: khi đặt phòng ở bất cứ khách sạn nào trong hệ thống của VINADAY goREISE, khách hàng đều được tích điểm từ 1-3% doanh số. Sau mỗi 3 tháng, số tiền này được qui đổi ra coupon xử dụng giống như tiền mặt cho những lần đặt phòng kế tiếp của khách hàng.</li>
                                <li>Ẩm thực: Giảm giá từ 15-30% hoá đơn ăn uống tại các nhà hàng liên kết với VINADAY goREISE. Danh sách nhà hàng sẽ được cập nhật liên tục trên website của Hội viên hạng Vàng</li>
                                <li>Đêm ở miễn phí: tặng ngay một đêm ở miễn phí được xử dụng tại Nha Trang, tp Hồ Chí Minh, Phú Quốc, Hội An ( dành cho hội viên hạng Vàng )</li>
                                <li>Nâng hạng phòng miễn phí lên hạng cao hơn gần nhất cho Hội viên hạng Vàng ( vui lòng liên hệ để biết thêm chi tiết và tuỳ thuộc vào phòng còn trống )</li>
                            </ul>
                            <p class="point-text"><b>Cách thức tham gia</b>
                            </p>
                            <ul class="point-text">
                                <li>Hoàn toàn MIỄN PHÍ dành cho hôị viên hạng Bạc. Vui lòng liên lạc cs@vinaday.com để biết thêm chi tiết.</li>
                                <li>Riêng hạng Vàng thì doanh số Hội viên phải đạt 3000 điểm. Cứ mỗi 100,000 chi tiêu, Quý khách sẽ tích được 3 điểm và điểm này sẽ cộng dồn cho đến khi đạt đủ 3000 điểm.</li>
                            </ul>
                            <p class="point-text">
                                <b>Bộ phận chăm sóc Hội viên GO Rewards Club</b><br>
                                <b>228 Đề Thám, P. Phạm Ngũ Lão, Quận 1, tp HCM</b><br>
                                <b>Điện thoại: +84 916388382 - Email: cs@vinaday.com</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="content promotion-spa">
    <div data-stellar-background-ratio=".1" style="position: relative; background-position: 50% 45px;" class="parallax-bg-spa">
        <div class="container">
            <div class="texture-overlay"></div>
            <div class="promotion-section">
                <div class="promotion-bg"></div>
                @*<h1>Hotel Spa <span>Collection</span></h1>*@
                <div xmlns:v="http://rdf.data-vocabulary.org/#" class="home-breadcrumb">
                    <span typeof="v:Breadcrumb">
                        <a href="https://goreise.com" rel="v:url" property="v:title">
                            Home
                        </a>&nbsp;››&nbsp;
                    </span>
                    <span typeof="v:Breadcrumb">
                        GO REWARDS CLUB
                    </span>
                </div>
                <article class="main-content">
                    <div style="display: block; position: relative;" class="tab-content">
                        <div class="pull-right">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a style="border: none;" aria-expanded="true" data-toggle="tab" href="https://goreise.com/rewards#panel-509969"><img src="../../Content/images/icon-flag-uk.gif"></a>
                                </li>
                                <li class="">
                                    <a style="border: none;" aria-expanded="false" data-toggle="tab" href="https://goreise.com/rewards#panel-764797"><img src="../../Content/images/vietnam-flag-icon24.png"></a>
                                </li>
                            </ul>
                        </div>
                        <div id="panel-509969" class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="../../Content/images/go_plus.png" />
                                </div>
                                <div class="col-lg-6">
                                    <h1 style="color: #f58220; font-size: 28px; font-family: 'Lato'; font-weight: bold;">GO Rewards Club’s Membership Programme</h1>
                                    <p class="point-text">GO Rewards Club is a point accumulation and dining discounts programme at associated hotels for loyal customers of VINADAY goREISE designed for Silver and Gold Membership.</p>
                                </div>
                                <div class="col-lg-12">
                                    <p class="point-text">
                                        <b>Members’ benefits include:</b>
                                    </p>
                                    <ul class="point-text">
                                        <li>Point accumulation: Booking any hotel from VINADAY goREISE, members earn 1-3% of turnover as reward points. After every 3 months, the amount will be converted into coupons used for next bookings by members.</li>
                                        <li>Dining: 15-30% discount on food bills at any restaurant associated with VINADAY goREISE. List of these restaurants will be constantly updated on the website of Gold Membership.</li>
                                        <li>One free night stay in Ho Chi Minh City, Nha Trang, Phu Quoc or Hoi An for Gold Members.</li>
                                        <li>Free upgrade to the next class for Gold Members (subject to availability).</li>
                                    </ul>
                                    <p class="point-text">
                                        <b>How to participate:</b>
                                    </p>
                                    <ul class="point-text">
                                        <li>It’s completely FREE to become VINADAY goREISE’s Silver Members. Any further inquiry please contact: cs@vinaday.com.</li>
                                        <li>You will get 3 points for each VND 100,000 spent. VINADAY goREISE’s Silver Members who reach 3000 points will become Gold Members. </li>
                                    </ul>
                                    <p class="point-text">
                                        <b>GO Rewards Club’s Customer Service Department:</b><br>
                                        <b>228 De Tham, Pham Ngu Lao Ward, District 1, HCMC</b><br>
                                        <b>Phone: +84 916388382 - Email: cs@vinaday.com</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="panel-764797" class="tab-pane">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="../../Content/images/go_plus.png" />
                                </div>
                                <div class="col-lg-6">
                                    <h1 style="color: #f58220; font-size: 28px; font-family: 'Lato'; font-weight: bold;">Chương trình hội viên GO Rewards Club</h1>
                                    <p class="point-text">GO Rewards Club là chương trình tích điểm thưởng và giảm giá ăn uống tại các khách sạn liên kết dành cho khách hàng thường xuyên của VINADAY goREISE. Chương trình có hạng Bạc và hạng Vàng.</p>
                                </div>
                                <div class="col-lg-12">
                                    <p class="point-text">
                                        <b>Các quyền lợi của chương trình:</b>
                                    </p>
                                    <ul class="point-text">
                                        <li>Tích điểm thưởng: khi đặt phòng ở bất cứ khách sạn nào trong hệ thống của VINADAY goREISE, khách hàng đều được tích điểm từ 1-3% doanh số. Sau mỗi 3 tháng, số tiền này được qui đổi ra coupon xử dụng giống như tiền mặt cho những lần đặt phòng kế tiếp của khách hàng.</li>
                                        <li>Ẩm thực: Giảm giá từ 15-30% hoá đơn ăn uống tại các nhà hàng liên kết với VINADAY goREISE. Danh sách nhà hàng sẽ được cập nhật liên tục trên website của Hội viên hạng Vàng</li>
                                        <li>Đêm ở miễn phí: tặng ngay một đêm ở miễn phí được xử dụng tại Nha Trang, tp Hồ Chí Minh, Phú Quốc, Hội An ( dành cho hội viên hạng Vàng )</li>
                                        <li>Nâng hạng phòng miễn phí lên hạng cao hơn gần nhất cho Hội viên hạng Vàng ( vui lòng liên hệ để biết thêm chi tiết và tuỳ thuộc vào phòng còn trống )</li>
                                    </ul>
                                    <p class="point-text">
                                        <b>Cách thức tham gia</b>
                                    </p>
                                    <ul class="point-text">
                                        <li>Hoàn toàn MIỄN PHÍ dành cho hôị viên hạng Bạc. Vui lòng liên lạc cs@vinaday.com để biết thêm chi tiết.</li>
                                        <li>Riêng hạng Vàng thì doanh số Hội viên phải đạt 3000 điểm. Cứ mỗi 100,000 chi tiêu, Quý khách sẽ tích được 3 điểm và điểm này sẽ cộng dồn cho đến khi đạt đủ 3000 điểm.</li>
                                    </ul>
                                    <p class="point-text">
                                        <b>Bộ phận chăm sóc Hội viên GO Rewards Club</b><br>
                                        <b>228 Đề Thám, P. Phạm Ngũ Lão, Quận 1, tp HCM</b><br>
                                        <b>Điện thoại: +84 916388382 - Email: cs@vinaday.com</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>