@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </body>
    </html>*@
<style>
        /* Page Not Found
    =============================*/
        .pnfound {
            background: #fff;
        }

            .pnfound .container {
                max-width: 750px;
            }

            .pnfound .main-pnfound {
                border: 1px solid #ddd;
                border-radius: 10px;
                margin: 0 0 52px;
                min-height: 400px;
                padding: 15px;
                margin-top: 50px;
            }

                .pnfound .main-pnfound h1, .pnfound .main-pnfound h2.text-center {
                    display: block;
                    font-size: 25px;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: "Roboto",​Arial,​sans-serif;
                }

                .pnfound .main-pnfound .mcontent-p, .pnfound .main-pnfound p, .pnfound .main-pnfound ul, .pnfound .main-pnfound ul li {
                    color: rgba(64, 64, 64, 0.7);
                    font-family: "Roboto",​Arial,​sans-serif;
                    font-size: 18px;
                    font-weight: 100;
                    line-height: 30px;
                    margin: 0;
                }

            .pnfound .bold {
                font-weight: bold !important;
                font-size: 20px !important;
            }

            .pnfound p {
                margin-bottom: 10px !important;
            }

            .pnfound h1 {
                color: #6ebff3;
                font-weight: bold;
            }

            .pnfound .img img {
                width: 100%;
                height: auto;
            }

            .pnfound .input-group .btn-primary {
                padding: 6px 12px;
            }

            .pnfound .input-group .form-control:focus {
                border-color: #a3238e !important;
            }

            .pnfound p.tks {
                margin-top: 80px;
                font-size: 14px;
                line-height: 20px;
            }

            .pnfound input:focus {
                box-shadow: none;
            }
</style>
<section class="content pnfound">
    <div class="main-content">
        <div class="container">
            <div class="main-pnfound">
                <h1 class="text-center">WELL DONE!</h1>
                <div class="row">
                    
                    <div class="col-sm-12">
                        <p class="bold">Our travel consultant will get to you within next 24 hours</p>
                        
                        <p class="bold">Please choose one of the following options:</p>
                        <ul>
                            <li>Search for what you are looking for here:</li>
                            <li style="list-style-type:none;">
                                <div class="form-search" novalidate="novalidate">
                                    <div class="input-group">
                                        <input type="text" name="hotelname" class="form-control search-query" placeholder="Name of hotels, city country, regions">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary btn-pr-active">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>Go to the <a href="/">VINADAY Home</a> to start over </li>
                        </ul>
                        <p class="tks">We thank you for visiting GOREISE.COM, have a great day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
