@{
    ViewBag.Title = "Website's Rules - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    @*@ViewBag.hrefLang = "termsofuse";*@
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Home
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Website's Rules
        </span>
    </div>
    <article class="main-content" style="margin-top:30px;">
        <ul class="nav nav-tabs" style="border-bottom:1px solid #e5e5e5 !important;">
            <li class="active">
                <a href="https://goreise.com/websites-rules#panel-509969" data-toggle="tab" aria-expanded="true">Tiếng Việt</a>
            </li>
            <li class="">
                <a href="https://goreise.com/websites-rules#panel-764797" data-toggle="tab" aria-expanded="false">English</a>
            </li>
        </ul>
        <div class="tab-content" style="display: block; position: relative;">
            <div class="tab-pane active" id="panel-509969">
                <h1 id="privacyHeader" style="font-weight: bold; color: #F58220; font-family: &quot;Open Sans&quot;,&quot;lucida grande&quot;,&quot;Segoe UI&quot;,arial,verdana,&quot;lucida sans unicode&quot;,tahoma,sans-serif;">QUY CHẾ HOẠT ĐỘNG CỦA SÀN GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ goreise.com</h1>
                <p class="point-text">(Cập nhật ngày 23.09.2015)</p>
                <p class="point-text">
                    <a href="https://goreise.com"><b>goreise.com</b></a> được thành lập năm 2010, với hơn 4 năm kinh nghiệm trong lĩnh vực cung cấp phòng khách sạn, tour du lịch cho khách hàng trong và ngoài nước và là đại lý của nhiều hãng du lịch lớn trên thế giới.. Hàng năm, goreise.com thực hiện hàng ngàn chuyến du lịch cho hàng ngàn du khách. <br>
                    Website  goreise.com là chuyên bán dịch vụ du lịch và khuyến mại trực tuyến liên quan đến du lịch phục vụ cho nhà cung cấp dịch vụ du lịch như phòng nghỉ, tua du lịch, thuê xe và người mua - khách du lịch.<br>
                    Ngoài ra, khi là thành viên trên website goreise.com, quý vị được tham gia vào chương trình điểm thưởng được quy đổi ra đêm nghỉ miễn phí hoặc các khấu trừ du lịch khác.
                </p>
                <ol>
                    <li><a href="#p_1">Nguyên tắc chung</a></li>
                    <li><a href="#p_2">Quy định chung</a></li>
                    <li><a href="#p_3">Quy trình giao dịch</a></li>
                    <li><a href="#p_4">Bảo vệ thông tin cá nhân khách hàng</a></li>
                    <li><a href="#p_5">Quyền và trách nhiện của NCC</a></li>
                    <li><a href="#p_6">Quyền và trách nhiệm thành viên tham gia Sàn giao dịch Website goreise.com</a></li>
                    <li><a href="#p_7">Điều khoản áp dụng</a></li>
                    <li><a href="#p_8">Điều khoản cam kết</a></li>
                </ol>
                <br>
                <h2 class="point" id="p_1">I. Nguyên tắc chung</h2>
                <p class="point-text">Website khuyến mại trực tuyến goreise.com do Công Ty TNHH Lý Ngô Việt Nam (Công ty) thực hiện sở hữu và vận hành. Thành viên trên website khuyến mại trực tuyến  goreise.com là các thương nhân, tổ chức, cá nhân có hoạt động thương mại hợp pháp được Công ty chấp nhận.</p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_2">II. Quy định chung</h2>
                <h3 class="point-text">1 - Định nghĩa</h3>
                <p class="point-text">
                    Nhà cung cấp (NCC): Là thương nhân, tổ chức, cá nhân cung cấp khuyến mại cho dịch vụ khách sạn và du lịch thông qua hình thức phiếu mua hàng (Voucher).<br>
                    Thành viên (Khách hàng - KH): Là khách hàng có nhu cầu mua phiếu hoặc nhận thông tin về khuyến mại của NCC tiến hành lập tài khoản tại Website  goreise.com
                </p>
                <h3 class="point-text">2 - Quy định chung</h3>
                <p class="point-text">
                    Thành viên tham gia giao dịch tại  website khuyến mại trực tuyến goreise.com  tự do lựa chọn những khuyến mại mà NCC đăng bán thông qua hình thức phiếu mua hàng (voucher), không trái với qui định của pháp luật.<br>
                    Dịch vụ khách sạn và du lịch được NCC khuyến mại trên website khuyến mại trực tuyến  goreise.com phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật.<br>
                    Hoạt động mua bán voucher thông qua  website khuyến mại trực tuyến goreise.com  phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của Thành viên.<br>
                    Các thông tin mà khách hàng đăng ký là thành viên của website khuyến mại trực tuyến  goreise.com phải chính xác, đầy đủ theo quy định của Công ty.<br>
                    Tất cả các nội dung trong Quy định này phải tuân thủ theo hệ thống pháp luật hiện hành của Việt Nam. Thành viên khi tham gia vào website khuyến mại trực tuyến  goreise.com phải tự tìm hiểu trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế của website khuyến mại trực tuyến  goreise.com .
                </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_3">III. Quy trình giao dịch</h2>
                <h3 class="point-text">1 - Quy trình mua hàng trên Website goreise.com</h3>
                <p class="point-text">
                    Khi có nhu cầu mua dịch vụ khuyến mại trên goreise.com thành viên nên thực hiện theo các bước sau đây:<br>
                    Tìm kiếm, tham khảo thông tin dịch vụ và các nhà cung cấp dịch vụ mà thành viên đang quan tâm.<br>
                    Tham khảo thông tin giá khi chưa thực hiện khuyến mại và giá đã thực hiện khuyến mại và chính sách, điều kiện thực hiện khuyến mại của NCC mà thành viên đang có nhu cầu mua.<br>
                    Dựa trên thông tin tham khảo được từ bên NCC đăng tải tại Website  goreise.com , thành viên tiến hành theo các bước sau.<br>
                    Mua voucher trực tiếp trên website  goreise.com , click vào nút “Đặt ngay”; Đăng nhập bằng tài khoản thành viên, facebook (Điền đầy đủ thông tin của khách hàng); Chọn hình thức thanh toán; Xác nhận lại đơn hàng; Gửi đơn đặt hàng.<br>
                    Sau khi nhận được đơn đặt hàng ban quản trị website  goreise.com xác nhận lại đơn hàng với thành viên: Thực hiện việc giao phiếu mã voucher qua emai.<br>
                    Thành viên nhận, sử dụng phiếu voucher, Thành viên thắc mắc, khiếu nại về chất lượng của sản phẩm, dịch vụ (nếu có)
                </p>
                <h3 class="point-text">2 - Quy trình dành cho người NCC</h3>
                <p class="point-text"><strong>Bước 1: </strong>đàm phán và ký hợp đồng với chủ website  goreise.com .</p>
                <p class="point-text"><strong>Bước 2: </strong>Chủ website goreise.com tạo tài khoản cho nhà cung cấp hoặc nhà cung cấp gửi các nội dung dịch vụ cho chủ website  goreise.com để tiến hành đăng tải trên goreise.com .</p>
                <p class="point-text">
                    <strong>Bước 3: </strong>Chủ website goreise.com chuyển các đơn hàng cho nhà cung cấp hoặc trực tiếp nhận đơn hàng và giao hàng.
                </p><h3 class="point-text">3 - Quy trình giải quyết tranh chấp, khiếu nại:</h3>
                <p class="point-text">
                    Website  goreise.com và NCC luôn có trách nhiệm tiếp nhận và xử lý khiếu nại của thành viên liên quan đến giao dịch tại website goreise.com .<br>
                    KH có quyền gửi khiếu nại về việc chất lượng dịch vụ không đúng với mô tả, thông tin thanh toán bị tiết lộ gây thiệt hại cho mình đến Ban quản trị của website khuyến mại trực tuyến  goreise.com . Khi tiếp nhận những phản hồi này, Website  goreise.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, Website  goreise.com sẽ có những biện pháp xử lý kịp thời.
                </p>
                <h4 class="point-text">KH gửi khiếu nại tại địa chỉ :</h4>
                <p class="point-text">
                    Công ty: VINADAY goREISE - Lý Ngô Việt Nam <br>
                </p>
                <p class="point-text">
                    Địa chỉ: 230 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM
                </p>
                <p class="point-text">Email: info@vinaday.com</p>
                <p class="point-text">Điện thoại: 08-38388382</p>
                <p class="point-text">Hotline: 0937388382</p>
                <h3 class="point-text">4 - Các bước giải quyết tranh chấp, khiếu nại</h3>
                <p class="point-text">
                    <strong>Bước 1: </strong>Bộ phận Chăm Sóc Khách Hàng của Công ty sẽ tiếp nhận các khiếu nại của Thành viên hoặc Bộ phận Kinh doanh sẽ tiếp nhận các khiếu nại của NCC. Các Bộ phận này chủ động giải quyết nhanh chóng và trả lời ngay kết quả giải quyết các khiếu nại trên cơ sở các Chính sách mà Công ty đã công bố. <br><strong>Bước 2: </strong>Trong trường hợp phức tạp hoặc không được quy định tại các chính sách mà Công ty đã công bố thì Bộ phận Chăm Sóc Khách Hàng/ Bộ phận Kinh doanh sẽ cam kết thời hạn phản hồi cho Thành viên/NCC không quá 7 ngày.<br>
                    <strong>Bước 3: </strong>Chuyển kết quả giải quyết khiếu nại cho các bộ phận có liên quan để thực hiện (Bộ phận Kế toán – Tài chính…) và gọi điện xác nhận với Thành viên/NCC về kết quả khiếu nại đã được giải quyết.<br>
                    Website  goreise.com tôn trọng và nghiêm tục thực hiện các quy định của pháp luật về bảo vệ quyền lợi của thành viên. Vì vậy, đề nghị các NCC trên  goreise.com cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến dịch vụ khách sạn và du lịch. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.<br>
                    Chúng tôi công khai cơ chế giải quyết các tranh chấp phát sinh trong quá trình giao dịch trên website khuyến mại trực tuyến  goreise.com . Khi người tiêu dùng mua dịch vụ phát sinh mâu thuẫn với NCC hoặc bị tổn hại lợi ích hợp pháp,  goreise.com sẽ cung cấp cho thành viên thông tin đăng ký của NCC ngay sau khi nhận được yêu cầu của thành viên, tích cực hỗ trợ thành viên bảo vệ quyền và lợi ích hợp pháp của bản thân.<br>
                    Website  goreise.com công khai cơ chế và quy trình giải quyết tranh chấp đối với các bên liên quan là: giải quyết tranh chấp theo cơ chế trao đổi thỏa thuận thống nhất, các bên liên quan sẽ thực hiện theo quy trình trao đổi gián tiếp qua điện thoại, xác nhận văn bằng email, nếu vẫn chưa thỏa thuận được thì sẽ giải quyết thông qua gặp trực tiếp để cụ thể hóa vấn đề, giải quyết triệt để vấn đề mâu thuẫn giữa các bên sao cho có lợi nhất.<br>
                    Các bên bao gồm NCC, Thành viên và Website  goreise.com sẽ phải có vai trò trách nhiệm trong việc tích cực giải quyết vấn đề. Đối với NCC cần có trách nhiệm cung cấp văn bản giấy tờ chứng thực thông tin liên quan đến sự việc đang gây mâu thuẫn cho khách hàng. Đối với Website  goreise.com sẽ có trách nhiệm trọng tài tiến hành lắng nghe và tiếp nhận thông tin từ khách hàng (trong trường hợp cụ thể chúng tôi sẽ: yêu cầu khách hàng cần có trách nhiệm cung cấp chính xác các thông tin vô hình và hữu hình về vấn đề mâu thuẫn đang phát sinh cần giải quyết mà khách hàng đã tự thấy mình bị thiệt hại) và NCC, sau đó tiến hành xem xét và nêu rõ, phân tích lỗi thuộc về bên nào. Lấy ý kiến về sự thỏa thuận mức độ bồi hoàn của 2 bên và kết thúc giải quyết tranh chấp một cách thỏa đáng nhất.<br>
                </p><p class="point-text">
                    Trong trường hợp chứng minh được lỗi thuộc về NCC: Website  goreise.com sẽ có biện pháp cảnh cáo, yêu cầu bồi hoàn lại toàn bộ chi phí mà thành viên đã phải bỏ ra để sở hữu voucher đó hoặc phải đổi lại dịch vụ đúng với chất lượng mà NCC thông báo tại Website  goreise.com . Nếu NCC tái phạm goreise.com sẽ chấm dứt và gỡ bỏ toàn bộ nhưng khuyến mại của NCC đó trên Website  goreise.com .<br>
                    Nếu vì một lý do khách quan nào đó mà giao dịch phát sinh tranh chấp mâu thuẫn chưa thể giải quyết được, chưa thể kết luận được lỗi thuộc về bên nào cả, thì  goreise.com sẽ có trách nhiệm đứng ra bồi hoàn cho bên thiệt hại cho khách hàng. Sau đó,  goreise.com sẽ làm việc với bên gây ra thiệt hại nhằm đảm bảo thỏa đáng lợi ích của người bị hại. Và mọi thông tin trách nhiệm liên quan đến pháp lý về sau sẽ do Website  goreise.com tự giải quyết với tư cách là chủ sở hữu  website khuyến mại trực tuyến goreise.com  với cơ quan chức năng có thẩm quyền mà không hề can dự đến khách hàng.<br>
                </p><p class="point-text">
                    Công Ty không chịu trách nhiệm đối với việc thu hồi hoặc hoàn tiền mà KH đã trả trực tiếp cho các NCC.<br>
                    Nếu thông qua hình thức thỏa thuận mà vẫn không thể giải quyết được mâu thuẫn phát sinh từ giao dịch, thì  goreise.com sẽ nhờ đến cơ quan pháp luật có thẩm quyền can thiệp nhằm đảm bảo lợi ích hợp pháp của các bên nhất là cho khách hàng.
                </p>
                <h3 class="point-text">5 - Quy trình và chính sách hủy dịch vụ</h3>
                <p class="point-text">
                    Dịch vụ khách sạn và du lịch sẽ được đổi trả theo chính sách của từng NCC đưa ra. Khi KH mua dịch vụ khách sạn và du lịch thì NCC sẽ gửi thông tin, chính sách về việc hủy chỗ hủy tour đến KH. Đề nghị người mua tìm hiểu kỹ những thông tin về điều kiện, cách thức đổi trả này.<br>
                    Trong trường hợp NCC có chính sách đổi trả nhưng không thực hiện đúng cam kết thành viên mua voucher có thể gửi khiếu nại đến ban quản lý website. Khi nhận được khiếu nại này ban quản trị sẽ liên hệ với bên NCC để giải quyết vấn đề mà thành viên gặp phải khi sử dụng voucher.
                </p>
                <h3 class="point-text">6 - Quy trình thanh toán</h3>
                <p class="point-text"><strong>Thành viên có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp:</strong></p>
                <h6 class="point-text"><strong>Cách 1: Thanh toán trực tiếp tại nhà (nhân viên Công ty sẽ đến tận nhà để thu tiền):</strong></h6>
                <p class="point-text">
                    Bước 1: Thành viên đặt hàng.<br>
                    Bước 2: Chọn hình thức thanh toán tại nhà;<br>
                    Bước 3: Ban quản lý website xác nhận đơn hàng ;<br>
                    Bước 4: Nhân viên Công Ty đến đại chỉ mà KH cung cấp nhận tiền thanh toá;<br>
                    Bước 5: Giao voucher
                </p>
                <h6 class="point-text"><strong>Cách 2: Thanh toán online thông qua cổng thanh toán bằng thẻ tín dụng. Internet banking</strong></h6>
                <p class="point-text">
                    Bước 1: Thành viên đặt hàng;<br>
                    Bước 2: Chọn hình thức thanh toán thanh toán;<br>
                    Bước 3: Ban quản lý website xác nhận đơn hàng (điện thoại, tin nhắn, email);<br>
                    Bước 4: Giao phiếu cho Thành viên.
                </p>
                <h3 class="point-text">7 - Đảm bảo an toàn giao dịch</h3>
                <p class="point-text">
                    Website khuyến mại trực tuyến goreise.com xây dựng cơ chế bảo đảm an toàn giao dịch như sau:<br>
                    Công Ty sử dụng việc thẩm định thông tin NCC và thông tin cá nhân của thành viên. Để bảo đảm rằng giao dịch được thực hiện thành công, và giảm thiểu rủi ro có thể phát sinh, Công ty tuân theo đúng các thủ tục sau đây:<br>
                    - Bảo vệ thành viên: Hệ thống đặt hàng được thiết kế sao cho các thành viên của Công ty không thể đặt hàng cho đến khi thành viên được an toàn khi đặt hàng.<br>
                    - Ngay khi thành viên nhấp chuột vào nút ‘Đặt ngay’ của trình duyệt thì việc đặt hàng sẽ ở chế độ an toàn. Mọi dữ liệu có liên quan đến các đơn hàng của thành viên, bao gồm tất cả các thông tin cá nhân, và chi tiết thanh toán, sẽ đi qua tất cả định dạng được mã hoá của Công ty Saver.<br>
                    - Thành viên không nên cung cấp thông tin chi tiết về các khoản thanh toán cho bất kỳ ai qua thư điện tử hoặc các phương tiện khác. Công ty không chịu trách nhiệm đối với bất kỳ tổn thất nào mà thành viên có thể phải chịu do việc trao đổi thông tin có liên quan đến việc thanh toán bằng bất kỳ phương tiện nào.<br>
                    - Thành viên không được sử dụng bất kỳ chương trình, công cụ, hoặc bất kỳ hình thức can thiệp nào khác vào hệ thống của Công ty hoặc thay đổi các cấu trúc dữ liệu. Tuyệt đối không được phân phát, phát tán, sử dụng bất kỳ hoạt động nào can thiệp vào gây thiệt hại, hoặc xâm phạm nền tảng của các hoạt động kinh doanh giao dịch trên trang web của Công ty. Mọi vi phạm sẽ bị xử lý theo các điều khoản của quy chế này và các quy định của pháp luật có liên quan.<br>
                    - Tất cả các bên tham gia với Công ty phải bảo mật mọi thông tin về giao dịch, trừ trường hợp pháp luật yêu cầu cung cấp thông tin.
                </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_4">IV. Bảo vệ thông tin cá nhân khách hàng</h2>
                <h3 class="point-text">1 - Mục đích và phạm vi thu thập</h3>
                <p class="point-text">
                    Việc thu thập dữ liệu chủ yếu trên website khuyến mại trực tuyến  goreise.com bao gồm: email, điện thoại, tên đăng nhập, mật khẩu đăng nhập, địa chỉ khách hàng (thành viên). Đây là các thông tin mà Website  goreise.com yêu cầu thành viên cung cấp khi đăng ký sử dụng dịch vụ và để goreise.com liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho cho thành viên.<br>
                    Trong quá trình giao dịch thanh toán tại website khuyến mại trực tuyến  goreise.com , chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của thành viên, các thông tin về số tài khoản ngân hàng của thành viên sẽ không được lưu giữ.<br>
                    Chúng tôi cũng sẽ sử dụng cả thông tin nhận diện cá nhân của bạn và một số thông tin nhận diện phi cá nhân (như cookies, địa chỉ IP, loại trình duyệt, ngày tổng số, v.v.) để gia tăng khả năng đáp ứng của chúng tôi về phương diện các Trang và Dịch Vụ, cũng như về phát triển những chức năng, tính năng và các dịch vụ mới theo những xu hướng và sở thích đang diễn tiến.<br>
                    Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste khuyến mại trực tuyến  goreise.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.<br>
                </p>
                <h3 class="point-text">2 - Phạm vi sử dụng thông tin</h3>
                <p class="point-text">
                    Công ty sử dụng thông tin thành viên cung cấp để:<br>
                    Cung cấp các dịch vụ đến thành viên;<br>
                    Gửi các thông báo về các hoạt động trao đổi thông tin giữa thành viên và  website khuyến mại trực tuyến goreise.com  ;<br>
                    Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của thành viên hoặc các hoạt động giả mạo thành viên;<br>
                    Liên lạc và giải quyết với thành viên trong những trường hợp đặc biệt.<br>
                    Không sử dụng thông tin cá nhân của thành viên ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại  goreise.com .
                </p>
                <p class="point-text"><span class="bold underline">Trong trường hợp có yêu cầu của pháp luật:</span>Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên. </p>
                <h3 class="point-text">3 - Thời gian lưu trữ thông tin</h3>
                <p class="point-text">
                    Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của  goreise.com .<br>
                    Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân <strong>
                        Công ty: VINADAY goREISE - Lý Ngô Việt Nam Co.,Ltd <br>
                        Địa chỉ: 230 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
                        Email: cs@vinaday.com<br>
                        Điện thoại: 08-38388382<br>
                        Hotline: 0937388382
                    </strong>
                </p>
                <h3 class="point-text">4 - Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</h3>
                <p class="point-text">
                    Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu Website  goreise.com thực hiện việc này.<br>
                    Thành viên có quyền gửi khiếu nại về người bán đến Ban quản trị của website khuyến mại trực tuyến  goreise.com . Khi tiếp nhận những phản hồi này,  goreise.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ,  goreise.com sẽ có những biện pháp xử lý kịp thời.
                </p>
                <p class="point-text">
                    <strong>
                        Công ty: TNHH Lý Ngô Việt Nam <br>
                        Địa chỉ: 230 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
                        Email: cs@vinaday.com<br>
                        Điện thoại: 08-38388382<br>
                        Hotline: 0937388382
                    </strong>
                </p>
                <h3 class="point-text">5 - Cam kết bảo mật thông tin cá nhân khách hàng</h3>
                <p class="point-text">
                    Thông tin cá nhân của thành viên trên  goreise.com được goreise.com cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Website  goreise.com . Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.<br>
                    - Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên. Trong một vài trường hợp chúng tôi sẽ cung cấp 1 số thông tin cá nhân của thành viên mua cho NCC để giúp NCC xác nhận người mua.<br>
                    - Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, goreise.com sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.<br>
                    - Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Website  goreise.com .<br>
                    - Ban quản lý Website  goreise.com yêu cầu các cá nhân khi đăng ký/mua hàng là Thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý  goreise.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
                </p>
                <h3 class="point-text">6 - Quản lý thông tin về khuyến mại</h3>
                <p class="point-text">
                    Website khuyến mại trực tuyến goreise.com có trách nhiệm kiểm duyệt những thông tin về sản phẩm, dịch vụ mà NCC gửi cho bên quản trị website để đăng bán voucher. Website  goreise.com sẽ từ chối đăng bán những voucher khi thông tin mà NCC đưa cho bên Công ty xét duyệt là không chính xác với loại hình dịch vụ khách sạn và du lịch<br>
                    Thông tin về khuyến mại hiện thị rõ ràng các điều kiện, số lượng, thời gian mà NCC đưa ra cho mỗi voucher được bán trên Website  goreise.com .<br>
                    Tuy theo từng thời điểm khuyến mại của NCC thì Website  goreise.com sẽ điều chỉnh mức khuyến mại cho phù hợp. Đối với KH mua voucher ở thời điểm trước khi điều chỉnh và còn hiệu lực thì KH đó vẫn được hưởng ưu đãi ở thời điểm mua.
                </p>
                <h3 class="point-text">7 - Trách nhiệm trong trường hợp phát sinh lỗi kỹ thuật</h3>
                <p class="point-text">
                    Website khuyến mại trực tuyến goreise.com cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Tuy nhiên, trong trường hợp xảy ra sự cố do lỗi của goreise.com , Website  goreise.com sẽ ngay lập tức áp dụng các biện pháp để đảm bảo quyền lợi cho thành viên.<br>
                    Khi thực hiện các giao dịch trên Website  goreise.com , bắt buộc các thành viên phải thực hiện đúng theo các quy trình hướng dẫn.<br>
                    Ban quản lý website khuyến mại trực tuyến  goreise.com cam kết cung cấp chất lượng dịch vụ tốt nhất cho các thành viên tham gia giao dịch. Trường hợp phát sinh lỗi kỹ thuật, lỗi phần mềm hoặc các lỗi khách quan khác dẫn đến thành viên không thể tham gia giao dịch được thì các thành viên thông báo cho Ban quản lý website khuyến mại trực tuyến tại địa chỉ email: cs@vinaday.com chúng tôi sẽ khắc phục lỗi trong thời gian sớm nhất, tạo điều kiện cho các thành viên tham gia giao dịch tại Website  goreise.com .<br>
                    Tuy nhiên, Ban quản lý  website khuyến mại trực tuyến goreise.com  sẽ không chịu trách nhiệm giải quyết trong trường hợp thông báo của các thành viên không đến được Ban quản lý, phát sinh từ lỗi kỹ thuật, lỗi đường truyền, phần mềm hoặc các lỗi khác không do Ban quản lý gây ra.<br>
                    Quyền và nghĩa vụ của Ban quản lý website khuyến mại trực tuyến  goreise.com Quyền của Ban quản lý  website khuyến mại trực tuyến goreise.com <br>
                    Website khuyến mại trực tuyến goreise.com sẽ tiến hành cung cấp các dịch vụ cho những thành viên tham gia sau khi đã hoàn thành các thủ tục và các điều kiện bắt buộc mà  website khuyến mại trực tuyến goreise.com  nêu ra.<br>
                    Trong trường hợp có cơ sở để chứng minh thành viên cung cấp thông tin cho website khuyến mại trực tuyến  goreise.com không chính xác, sai lệch, không đầy đủ hoặc vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì  goreise.com có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của thành viên.<br>
                    website khuyến mại trực tuyến goreise.com  có thể chấm dứt quyền thành viên và quyền sử dụng một hoặc tất cả các dịch vụ của thành viên và sẽ thông báo cho thành viên trong thời hạn ít nhất là một (01) tháng trong trường hợp thành viên vi phạm các Quy chế này của website khuyến mại trực tuyến goreise.com hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên website khuyến mại trực tuyến  goreise.com .<br>
                    Website khuyến mại trực tuyến  goreise.com sẽ xem xét việc chấm dứt quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu thành viên không tham gia hoạt động giao dịch và trao đổi thông tin trên website khuyến mại trực tuyến  goreise.com liên tục trong ba (03) tháng. Nếu muốn tiếp tục trở thành thành viên và được cấp lại quyền sử dụng dịch vụ thì phải đăng ký lại từ đầu theo mẫu và thủ tục của Website khuyến mại trực tuyến  goreise.com .<br>
                    Website khuyến mại trực tuyến  goreise.com có thể chấm dứt ngay quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu  website khuyến mại trực tuyến goreise.com  phát hiện thành viên đã phá sản, bị kết án hoặc đang trong thời gian thụ án, trong trường hợp thành viên tiếp tục hoạt động có thể gây cho  website khuyến mại trực tuyến goreise.com  trách nhiệm pháp lý, có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các thành viên khác của  website khuyến mại trực tuyến goreise.com  , hoạt động vi phạm pháp luật hiện hành của Việt Nam. Trong trường hợp chấm dứt quyền thành viên và quyền sử dụng dịch vụ thì tất cả các chứng nhận, các quyền của thành viên được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.<br>
                    Website khuyến mại trực tuyến goreise.com  giữ bản quyền sử dụng dịch vụ và các nội dung trên  website khuyến mại trực tuyến goreise.com  theo các quy dịnh pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. Tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của  website khuyến mại trực tuyến goreise.com  . Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.
                </p>
                <h3 class="point-text">8 - Nghĩa vụ và trách nhiệm của Ban quản lý  website khuyến mại trực tuyến goreise.com</h3>
                <p class="point-text">
                    website khuyến mại trực tuyến goreise.com  có trách nhiệm xây dựng, thực hiện cơ chế kiểm tra, giám sát để đảm bảo việc cung cấp thông tin của sản phẩm, dịch vụ và thông tin về NCC trên  website khuyến mại trực tuyến goreise.com  được thực hiện chính xác đầy đủ.<br>
                    website khuyến mại trực tuyến goreise.com  chịu trách nhiệm xây dựng website bao gồm một số công việc chính như: nghiên cứu, thiết kế, mua sắm các thiết bị phần cứng và phần mềm, kết nối Internet, xây dựng chính sách phục vụ cho hoạt động  website khuyến mại trực tuyến goreise.com  trong điều kiện và phạm vi cho phép. <br>
                    website khuyến mại trực tuyến goreise.com  chịu trách nhiệm xây dựng, bổ sung hệ thống các kiến thức, thông tin về: nghiệp vụ ngoại thương, thương mại điện tử, hệ thống văn bản pháp luật thương mại trong nước và quốc tế, thị trường nước ngoài, cũng như các tin tức có liên quan đến hoạt động của  website khuyến mại trực tuyến goreise.com  .<br>
                    website khuyến mại trực tuyến goreise.com  sẽ tiến hành các hoạt động xúc tiến, quảng bá  website khuyến mại trực tuyến goreise.com  ra thị trường nước ngoài trong phạm vi và điều kiện cho phép, góp phần mở rộng, kết nối đáp ứng các nhu cầu tìm kiếm bạn hàng và phát triển thị trường nước ngoài của các NCC tham gia  website khuyến mại trực tuyến goreise.com  .<br>
                    website khuyến mại trực tuyến goreise.com  sẽ cố gắng đến mức cao nhất trong phạm vi và điều kiện có thể để duy trì hoạt động bình thường của  website khuyến mại trực tuyến goreise.com  và khắc phục các sự cố như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Tuy nhiên nếu những sự cố trên xẩy ra nằm ngoài khả năng kiểm soát, là những trường hợp bất khả kháng mà gây thiệt hại cho thành viên thì  website khuyến mại trực tuyến goreise.com  không phải chịu trách nhiệm liên đới.<br>
                    Website  goreise.com có trách nhiệm tiếp nhận phản ánh, khiếu nại của khách hàng khi sử dụng dịch vụ mà NCC bán tại Website  goreise.com .<br>
                    Website  goreise.com phối hợp với NCC để giải quyết tranh chấp sảy ra giữa KH và NCC trong quá trình KH sử dụng dịch vụ do NCC đó khuyến mại bán tại Website  goreise.com .
                </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_t">V. Quyền và trách nhiện của NCC</h2>
                <h3 class="point-text">1 - Quyền của NCC</h3>
                <ul class="point-text">
                    <li>Sau khi ký hợp đồng NCC sẽ được tạo một tài khoản để NCC công bố thông tin giới thiệu về NCC và dịch vụ khách sạn và du lịch được khuyến mại.</li>
                    <li>NCC được hỗ trợ đào tạo những kỹ năng cần thiết để quản lý tài khoản và các đơn hàng trên website Website  goreise.com.</li>
                    <li>NCC được hưởng các chính sách ưu đãi do ban quản lý website Website  goreise.com đề ra trong quá trình hoạt động</li>
                </ul>
                <h3 class="point-text">2 - Trách nhiệm NCC</h3>
                <ul class="point-text">
                    <li>Cung cấp đầy đủ thông tin về dịch vụ khách sạn và du lịch khuyến mại cho ban quản lý  website khuyến mại trực tuyến goreise.com  .</li>
                    <li>NCC có trách nhiệm cung cấp cho  website khuyến mại trực tuyến goreise.com  bản sao giấy đăng ký kinh doanh. Trong trường hợp NCC là chủ sở hữu một thương hiệu dịch vụ hoặc đại lý ủy quyền của một nhãn hàng thì NCC có trách nhiệm cung cấp một (01) bản photo có công chứng giấy đăng ký thương hiệu hoặc giấy Ủy quyền phân phối của nhãn hàng đó.</li>
                    <li>NCC có trách nhiệm niêm yết chính xác về chất lương, số lượng, giá, các thông tin khác liên quan đến dịch vụ.</li>
                    <li>Phối hợp với  website khuyến mại trực tuyến goreise.com  giải quyết những vấn đề tranh chấp giữa thành viên với NCC về chất lượng dịch vụ. NCC có nghĩa vụ phải bồi thường những thiết hại của thành viên khi lỗi được xác định thuộc về NCC.</li>
                </ul>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_6">VI. Quyền và trách nhiệm thành viên tham gia Sàn giao dịch Website  goreise.com</h2>
                <h3 class="point-text">1 - Quyền của Thành viên Sàn giao dịch TMĐT Website  goreise.com </h3>
                <ul class="point-text">
                    <li>Quý Khách phải từ 18 tuổi trở lên mới được phép tham gia đặt phòng trên trang web.</li>
                    <li>Khi đăng ký trở thành thành viên của goreise.com và được Website  goreise.com đồng ý, thành viên sẽ được cấp một tên đăng ký và mật khẩu riêng để được vào sử dụng các dịch vụ, các giao dịch của mình trên  website khuyến mại trực tuyến goreise.com  .</li>
                    <li>Thành viên sẽ được nhân viên của  website khuyến mại trực tuyến goreise.com  hướng dẫn sử dụng được các công cụ, các tính năng phục vụ cho việc giao dịch và sử dụng các dịch vụ tiện ích trên  website khuyến mại trực tuyến goreise.com  .</li>
                    <li>Thành viên có quyền đóng góp ý kiến cho  website khuyến mại trực tuyến goreise.com  trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho  website khuyến mại trực tuyến goreise.com  .</li>
                </ul>
                <h3 class="point-text">2 - Nghĩa vụ của Thành viên Sàn giao dịch TMĐT Website  goreise.com </h3>
                <ul class="point-text">
                    <li>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.</li>
                    <li>Thành viên có trách nhiệm thông báo kịp thời cho  website khuyến mại trực tuyến goreise.com  về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của mình để hai bên cùng hợp tác xử lý.</li>
                    <li>Thành viên cam kết những thông tin cung cấp cho Website  goreise.com và những thông tin cá nhân (tên, địa chi, số điện thoại, email…) dùng để đăng ký tài khoản trên  website khuyến mại trực tuyến goreise.com  là chính xác.</li>
                    <li>Thành viên cam kết, đồng ý không sử dụng dịch vụ của  website khuyến mại trực tuyến goreise.com  vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm rò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của  website khuyến mại trực tuyến goreise.com  hay sử dụng dịch vụ của mình vào mục đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị trường. Trong trường hợp vi phạm thì thành viên phải chịu trách nhiệm về các hành vi của mình trước pháp luật.</li>
                    <li>Thành viên cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do  website khuyến mại trực tuyến goreise.com  cung cấp cho một bên thứ ba nếu không được sự đồng ý của  website khuyến mại trực tuyến goreise.com  trong Quy chế này.</li>
                    <li>Thành viên không được hành động gây mất uy tín của  website khuyến mại trực tuyến goreise.com  dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của  website khuyến mại trực tuyến goreise.com  .</li>
                </ul>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_7">VII. Điều khoản áp dụng</h2>
                <ul class="point-text">
                    <li>Quy chế của  website khuyến mại trực tuyến goreise.com  chính thức có hiệu lực thi hành kể từ ngày ký Quyết định ban hành kèm theo Quy chế này.  website khuyến mại trực tuyến goreise.com  có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên  website khuyến mại trực tuyến goreise.com  cho các NCC và thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc thành viên đã chấp nhận Quy chế sửa đổi này.</li>
                    <li>Quy chế hoạt động sẽ được  website khuyến mại trực tuyến goreise.com  cập nhật bổ sung liên tục mà không cần thông báo trước. Thành viên tham gia  website khuyến mại trực tuyến goreise.com  có trách nhiệm tuân theo quy chế hiện hành khi giao dịch trên website.</li>
                </ul>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
                <h2 class="point" id="p_8">VIII. Điều khoản cam kết</h2>
                <p class="point-text">
                    Mọi thành viên và NCC khi sử dụng  website khuyến mại trực tuyến <a href="https://goreise.com">goreise.com</a> làm giao dịch mua bán trực tuyến thì đồng nghĩa việc các bên có liên quan đã chấp thuận tuân theo quy chế này.<br>
                    Mọi thắc mắc của khách hàng xin vui lòng liên hệ với  website khuyến mại trực tuyến goreise.com  theo thông tin dưới đây để được giải đáp:
                </p>
                <p class="point-text">
                    <strong>Hỗ trợ khách hàng</strong><br>
                </p><p class="point-text">
                    website khuyến mại trực tuyến goreise.com <br>
                </p><p class="point-text">
                    Công ty: VINADAY goREISE - Lý Ngô Việt Nam <br>
                </p><p class="point-text">
                    Địa chỉ: 230 Đề Thám, P. Phạm Ngũ Lão, Q. 1, TP HCM<br>
                </p><p class="point-text">
                    Email: <a href="mailto://cs@vinaday.com">cs@vinaday.com</a><br>
                </p><p class="point-text">
                    Điện thoại: <strong>08-38388382</strong><br>
                </p><p class="point-text">
                    Hotline: <strong>0937388382</strong><br>
                </p>
                <p class="back-to-top"><a href="#privacyHeader">Back to top</a></p>
            </div>
            <div class="tab-pane" id="panel-764797">
                <h1 id="privacyHeader2" style="font-weight: bold; color: #F58220;font-family: &quot;Open Sans&quot;,&quot;lucida grande&quot;,&quot;Segoe UI&quot;,arial,verdana,&quot;lucida sans unicode&quot;,tahoma,sans-serif;">AGREEMENT BETWEEN CUSTOMER AND goreise.com (VINADAY TRAVEL)</h1>
                <p class="point-text">(Update 07.08.2015)</p>
                <p class="point-text">
                    Welcome to the goreise.com website (the "Website"). This Website is provided to you for the sole purpose of assisting you in gathering travel information concerning the availability of travel-related goods and services, making legitimate reservations or transacting business with travel suppliers, and for no other purposes. The terms "we", "us", "our", “goreise.com” and "Vinaday Travel" refer to goreise.com, a Vietnamese corporation, and its subsidiaries and corporate affiliates, including Ly Ngo Vut Nam CO.LTD, Club30, ClubRich, Dinning Club and Suite Backpackers Inn (collectively, the "Vinaday Companies"). The term "you" refers to the customer using the Website to make a booking or a reservation through use of this Website, or through our customer service agents.
                    This Website is at your service on the condition that you accept all the terms, conditions and notices (collectively, the "Terms of Use” or "Agreement") included without any kind of modification.<br>
                    <strong>We advise you to read these Terms of Use thoroughly, as they contain important information about limitations of liability and resolution of disputes through arbitration rather than in court.&nbsp;</strong>
                </p>
                <p class="point-text">
                    We also recommend you to read our Privacy Policy, which also governs your use of the Website. By accessing and/or using this Website in any way, including booking and making reservations for travel products or services on this Website, or contacting our call center agents, you agree to the Terms of Use and that they in full force shall apply. If you do not agree to the Terms of Use, you should leave this Website immediately and we ask you to not book or make any reservations through this Website or our call center agents.
                </p>
                <ol>
                    <li><a href="#p_9">Use of the Website</a></li>
                    <li><a href="#p_10">Supplier Rules and Restrictions</a></li>
                    <li><a href="#p_11">Reviews, Comments, Photos and other Submissions</a></li>
                    <li><a href="#p_12">Photo Submission Guidelines</a></li>
                    <li><a href="#p_13">Prepaid Hotel Reservations</a></li>
                    <li><a href="#p_14">International Travel</a></li>
                    <li><a href="#p_15">Liability Disclaimer</a></li>
                </ol>
                <h2 class="point" id="p_9">USE OF THE WEBSITE</h2>
                <p class="point-text"> As a condition of your use of this Website, you guarantee that:</p>
                <ol>
                    <li>you are at least 18 years of age;</li>
                    <li>you will use this Website in understanding and agreement to these Terms of Use;</li>
                    <li>you have the legal authority to create a binding legal obligation;</li>
                    <li>you will use this Website only to make legitimate reservations for you or for another person that you are legally authorized to act for;</li>
                    <li>you will inform such other persons of the Terms of Use that apply to the reservations you have made on their behalf, including all rules and restrictions applicable thereto;</li>
                    <li>all information you have provided to this Website is true, accurate, up to date and complete; and</li>
                    <li>if you own a Vinaday Travel account, you will protect and supervise your account information and therefore be completely responsible for any use of your account by you and anyone other than you.</li>
                </ol>
                <p class="point-text">
                    We reserve the right at our sole discretion to deny anyone access to this Website and the services we offer, at any time and for any reason, including, but not limited to, for violation of these Terms of Use<br>
                </p>
                <h5 class="point-text">DISPUTES</h5>
                <p class="point-text">
                    goreise.com is committed to customer service and we always aim to satisfy your needs. With this said, if you have any problem or dispute to bring to our attention, we will try to resolve these concerns for you. These problems or disputes must be brought to our attention no later than two weeks after the final day of your booking or reservation. If we however, are unsuccessful in resolving your concerns, you may pursue claims as explained in this section.
                    <br>
                </p>
                <p class="point-text">
                    You agree to giving us the chance to resolve any disputes or claims you might have, relating to the Website in any way, any dealings with our customer service agents, any services or products provided, any representations made by us, or our Privacy Policy (“Claims”) by contacting&nbsp;Vinaday Travel Customer Support&nbsp;or (84-28) -38 388 382. If we are unable to resolve your Claims within two weeks after contacting our Customer Support, you may seek relief through arbitration or in small claims court, as set forth below.
                </p>
                <p class="point-text">
                    <strong>Any and all Claims made, will be resolved by binding arbitration, rather than in court</strong>, except you may assert Claims on an individual basis in small claims court if they qualify. This includes any Claims you assert against us, our subsidiaries, travel suppliers or any companies offering products or services through us (which are beneficiaries of this arbitration agreement). This also includes any Claims that arose before you accepted these Terms of Use, regardless of whether prior versions of the Terms of Use required arbitration.
                </p>
                <p class="point-text">
                    <strong>There is no judge or jury in arbitration, and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the same damages and relief as a court (including statutory damages, attorneys’ fees and costs), and must follow and enforce these Terms of Use as a court would.</strong>
                    <br>
                </p>
                <p class="point-text">
                    Arbitrations will be conducted by the Peoples Court, Ho Chi Minh City, under its rules. Their rules are available at <a href="http://www.tand.hochiminhcity.gov.vn/web/guest/home">http://www.tand.hochiminhcity.gov.vn/web/guest/home</a> or by calling (84-8)8.292.448. You may choose to have an arbitration conducted by telephone.

                    To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your Claims to <a href="mailto:cs@vinaday.com">cs@vinaday.com</a>. You must also contact The Peoples Court, Ho Chi Minh City at (84-8)8.292.448 or tandhcm@gmail.com to file your arbitration. If we request arbitration against you, we will give you notice at the email address or street address you have provided.
                </p>
                <h5>PROHIBITED ACTIVITIES</h5>
                <p class="point-text">
                    The information and content on this Website (including, but not limited to, price and availability of travel services) as well as the infrastructure used to provide such content and information, is exclusive to us or our suppliers and providers. While we allow you to make limited copies of your travel itinerary (and related documents) for travel or service reservations booked through this Website, you comply to not otherwise copy, modify, display, reproduce, distribute, transmit, perform, publish, license, create derivative works from, transfer, or sell or re-sell any software, products, information or services acquired from or through the use of this Website. Furthermore, you agree not to:
                </p>
                <ol>
                    <li>use this Website or its contents for any commercial means;</li>
                    <li>make any false, speculative, fraudulent reservation or any reservation in the expectancy of demand;</li>
                    <li>access, copy or monitor any information or content of this Website with the help of any automated means or any manual method for any reason without our final written approval;</li>
                    <li>disregard the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures put in place to prevent or limit access to this Website;</li>
                    <li>conduct any activity that causes, or may cause, in our discretion, an unreasonable or disproportionately large load on our infrastructure;</li>
                    <li>deep—link to any part of this Website (including, without limitation, the purchase path for any travel services) for any reason without our final written approval; or</li>
                    <li>"mirror" or otherwise copy any part of this Websites content into any other website without our prior written authorization.</li>
                </ol>
                <p class="point-text">
                    If we detect any signs of fraud, abuse or suspicious activity deriving from your booking or account, goreise.com may cancel any travel or service reservations associated with your name, email address or account, and close any related Vinaday Travel account. If we are able to confirm that you have been involved in any fraudulent activity, Vinaday Travel reserves the right to take any required legal action and you may be liable for monetary losses to Vinaday Travel, including litigation costs and damages. If you wish to object to the cancellation of a certain booking or freezing or closure of an account, please contact Vinaday Travel Customer Support.
                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_10">SUPPLIER RULES AND RESTRICTIONS</h2>
                <br>
                <p class="point-text">
                    <strong>Additional terms and conditions will apply to your reservation and purchase of travel-related goods and services that you select.&nbsp;</strong>We kindly ask you to read these additional terms and conditions carefully. Especially, if you have purchased an airfare, please make sure you read the full terms and conditions of carriage issued by the Supplier, which can be found on the Supplier’s website. You comply to abide by the terms and conditions of purchase imposed by any supplier with whom you choose to deal, including, but not limited to, payment of all amounts when due and compliance with the supplier's rules and restrictions regarding availability and use of fares, products, or services. Airfare is only guaranteed once the purchase has been completed and the tickets have been issued. Airlines and other travel suppliers may change their prices without notice. We retain the right to cancel your booking if full payment is not received in a timely fashion.
                    <br>
                </p>
                <p class="point-text">
                    Certain hotel suppliers may ask you to present a credit card or cash deposit upon check-in to cover any extra expenses incurred during your stay. These deposits are unrelated to any payment received by goreise.com, for your hotel booking.
                    <br>
                </p>
                <p class="point-text">
                    Vinaday Travel is not accountable for any costs sustained due to relocation.
                </p>
                <p class="point-text">
                    You recognize that some third-party providers offering certain services and/or activities may ask you to sign their liability waiver before participating in the service and/or activity they offer. You acknowledge that any violation of any such supplier's rules and restrictions may result in cancellation of your reservation(s), in your being denied access to the relevant travel product or services, in your forfeiting any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur as a result of such violation.
                </p>
                <p class="point-text">
                    Vinaday Travel can offer Customers the opportunity to book a reservation for a combination of two one—way tickets instead of a roundtrip ticket. These Combined one-way tickets can provide you with a greater choice of flights, are generally cheaper and can be combined on the same airline or on different airlines. Unlike roundtrip tickets, each one-way ticket is subject to its own rules, restrictions, and fees. If one of these flights is affected by an airline change (e.g. cancellation or rescheduling) that causes a Customer to make changes to the other flight, the Customer will be responsible for any fees sustained for making changes to the unaffected flight.
                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_11">REVIEWS, COMMENTS, PHOTOS AND OTHER SUBMISSIONS</h2>
                <p class="point-text">
                    Vinaday Travel is grateful for all feedback and enjoys hearing from our customers. We wish to inform you that by submitting content to this Website by electronic mail, postings on this Website or otherwise, including any hotel reviews, photos, videos, questions, comments, suggestions, ideas or the like contained in any submissions (collectively, "Submissions"), you give Vinaday Travel and the affiliated, co-branded and/or linked website partners through whom we provide service (collectively, the "Vinaday Travel affiliates"), a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sub-licensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Submissions throughout the world in any media, existing or hereafter created; and (b) use the name that you submit in connection with such Submission. You accept that the Vinaday Companies may choose to provide attribution of your comments or reviews (for example, listing your name and hometown on a hotel review that you submit) at our discretion, and that such submissions can be shared with our supplier partners. You also give the Vinaday Companies the right to pursue at law any person or entity that violates your or the Vinaday Companies rights in the Submissions by a violation of these Terms of Use. You acknowledge and agree that Submissions are non-confidential and non-proprietary. You expressly relinquish any and all ‘moral rights’ (including rights of attribution or integrity) that may subsist in your Submissions and agree that you have no objection to the publication, use, modification, deletion or exploitation of your Submissions by us, the Vinaday Affiliates or any of our partners or licensees. We take no responsibility and assume no liability for any Submissions posted or submitted by you. We have no obligation to post your comments; we retain the right in our complete discretion to choose which comments are published on the Website. If you do not agree to these Terms of Use, please do not provide us with any Submissions.
                </p>
                <p class="point-text">
                    You are liable for the content of your Submissions, (specifically including, but not limited to, reviews posted to this Website). You are not allowed to post or transmit to or from this Website: (i) any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material or content that would violate rights of publicity and/or privacy or that would break any law; (ii) any commercial material or content (including, but not limited to, solicitation of funds, advertising, or marketing of any good or services); and (iii) any material or content that infringes, misappropriates or violates any copyright, trademark, patent right or other proprietary right of any third party. You will be solely responsible for any damages resulting from the breach of any of the foregoing restrictions, or any other harm resulting from your posting of content to this Website. You acknowledge that goreise.com may exercise its rights (e.g. use, publish, delete) to any content you submit without notice to you. If you submit more than one review for the same hotel, only your most recent submission is eligible for use.
                </p>
                <p class="point-text">
                    All photos submitted are subject to our Photo Submission Guidelines below.
                </p>
                <p class="point-text">
                    goreise.com claims no ownership, affiliation with, or endorsement of any photos that are submitted by end users through our sites.
                </p>
                <p class="point-text">
                    Vinaday Travels policies with respect to claims by third parties that the content of the Website, including the content of any Submissions, infringes the copyrights owned by said third party can be found in the Claims of Copyright Infringement<u>&nbsp;</u>section below.

                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_12">PHOTO SUBMISSION GUIDELINES</h2>
                <p class="point-text">
                    If you decide to submit a photo, it must be:
                </p>
                <ul>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">
                        <strong>On topic</strong> All photos must be relevant to accommodation, restaurant, location, or general travel experiences.
                        •&nbsp;<strong>Community/family friendly</strong>
                    </li>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit any photographic material or other materials that are illegal, obscene, pornographic, profane, vulgar, offensive or insulting.</li>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit photographic material or materials that invade the privacy or violate any personal right of any person or entity.</li>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit photos or information about children or any third parties without their consent (or their parent’s consent in the case of a child under the age of 13 years).</li>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Children under 13 years of age are not allowed to submit photos or other materials.</li>
                    <li style="font-size: 14px; font-family: Arial; line-height: 150%;">
                        <strong>Original</strong> You are only allowed to submit your own photos. Do not submit photos from any other source (personal or commercial). Do not submit photos that infringe the copyright, trademark, or other property right of any third party.
                        •&nbsp;<strong>Non-commercial&nbsp;</strong>—Do not submit photos that include logos, branding, promotional material, or any other content intended for commercial purposes.
                        •&nbsp;<strong>No harmful files&nbsp;</strong>—Do not submit photos that contain viruses or other harmful code that is either intended or may result in damage to the computers and systems of goreise.com and/or those using it.
                    </li>
                </ul>

                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_13">PREPAID HOTEL RESERVATIONS</h2>
                <p class="point-text">
                    You acknowledge that the Vinaday Companies pre-negotiate certain room rates with hotel suppliers to facilitate the booking of reservations. You also acknowledge that the Vinaday Companies provide you services to facilitate such booking of reservations for a consideration (the "facilitation fee"). The room rate displayed on the Website is a combination of the pre-negotiated room rate for rooms reserved on your behalf by the Vinaday Companies and the facilitation fee retained by the Vinaday Companies for their services. You permit the Vinaday Companies to book reservations for the total reservation price, which includes the room rate displayed on the Website, plus tax recovery charges, service fees, and where applicable, taxes on the Vinaday Companies' services. You comply that your credit card will be charged by the Vinaday Companies for the total reservation price. Upon submitting your reservation request you give the Vinaday Companies permission to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.
                </p>
                <p class="point-text">
                    You acknowledge that except as provided below with respect to tax obligations on the amounts we retain for our services, the Vinaday Companies do not collect taxes for remittance to applicable taxing authorities. The tax recovery charges on prepaid hotel transactions are a recovery of the estimated taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that the Vinaday Companies pay to the hotel supplier for taxes due on the hotel's rental rate for the room. The hotel suppliers invoice the Vinaday Companies for certain charges, including tax amounts. The hotel suppliers are responsible for remitting applicable taxes to the applicable taxing jurisdictions. None of the Vinaday Companies act as co-vendors with the supplier with whom we book or reserve our customer's travel arrangements. Taxability and the appropriate tax rate vary greatly by location. The actual tax amounts paid by the Vinaday Companies to the hotel suppliers may vary from the tax recovery charge amounts, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel by our customers. We retain service fees as additional compensation in servicing your travel reservation. Service fees retained by the Vinaday Companies for their services vary based on the amount and type of hotel reservation.
                </p>
                <p class="point-text">
                    You can always cancel or change your prepaid hotel reservation, but you will be charged the cancellation or change fee indicated in the rules and restrictions for the hotel reservation. If you do not cancel or change your reservation before the cancellation policy period applicable to the hotel you reserved, which varies by hotel (usually 24 to 72 hours) prior to your date of arrival, you will be subject to a charge equal to applicable nightly rates, tax recovery charges and service fees. In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with us no later than the date of the first night of the reservation to prevent cancellation of your reservation.
                </p>
                <p class="point-text">
                    You agree to pay any cancellation or change fees that you incur. In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made, as indicated in the rules and restrictions for the hotel reservation. You agree to abide by the Terms of Use imposed with respect to your prepaid hotel reservations.
                </p>
                <p class="point-text">
                    Sales, use and/or local hotel occupancy taxes are imposed on the amounts that we charge for our services (facilitation fee and/or service fee) in certain jurisdictions. The actual tax amounts on our services may vary depending on the rates in effect at the time of your hotel stay.
                </p>
                <p class="point-text">
                    You may not book reservations for more than 8 rooms online for the same hotel/stay dates. If we determine that you have booked reservations for more than 8 rooms in total in separate reservations, we may cancel your reservations, and charge you a cancellation fee, if applicable. If you paid a non-refundable deposit, your deposit will be forfeited. If you wish to book reservations for 9 or more rooms, you have to contact Vinaday Travels’ staff by phone at (84-8)-38 388 382 or by submitting your request to info@vinaday.com. One of our group travel specialists will research your request and contact you to complete your reservation. You may be asked to sign a written contract and/or pay a nonrefundable deposit.
                </p>
                <h4>PAY NOW OR PAY LATER DETAILS</h4>
                <p class="point-text">
                    With certain hotels, you may be presented with the option to pay online now or pay later at the hotel. If you select the “Pay Online Now” option, goreise.com will charge the amount to your credit card in US dollars immediately. If you select “Pay Later at the Hotel”, you will be asked to provide your credit card details and you will be charged a deposit fee. Furthermore, if you do not cancel your reservation before the cut-off date, goreise.com will automatically charge your credit card for the full amount of the booking/reservation made. Please note that taxes and fees vary between the two payment options. Tax rates and foreign exchange rates could change in the time between booking and stay.
                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_14">INTERNATIONAL TRAVEL</h2>
                <p class="point-text">
                    You are responsible for making sure that you meet the foreign entry requirements and that your travel documents, such as passports and visas (transit, business, tourist, and otherwise), are in order and any other foreign entry requirements are met. Vinaday Travel has no special knowledge regarding foreign entry requirements or travel documents. We advise our customers to review travel prohibitions, warnings, announcements, and advisories issued by the relevant gover<br>nments prior to booking travel to international destinations.
                </p>
                <p class="point-text">
                    Passport and Visa: You must consult the relevant Embassy or Consulate for this information. Requirements may change and you should check for up-to-date information before booking and departure. We take no responsibility if you are denied entry onto a flight or into any country due to your failure to carry the correct and adequate passport, visa, or other travel documents required by any airline, authority, or country, including countries you may just be transiting through. This includes all stops made by the aircraft, even if you do not leave the aircraft or airport.
                </p>
                <p class="point-text">
                    Health: Recommended inoculations for travel may change and you should consult your doctor for current recommendations before you depart. It is your responsibility to ensure that you meet all health entry requirements, obtain the recommended inoculations, take all recommended medication, and follow all medical advice in relation to your trip.
                </p>
                <p class="point-text">
                    Disinfection: Although not common, most countries reserve the right to disinfect aircraft if there is a perceived threat to public health, agriculture or environment. The World Health Organization and the International Civil Aviation Organization have approved the following disinfection procedures: (1) spray the aircraft cabin with an aerosolized insecticide while passengers are on board or (2) treat the aircraft's interior surfaces with a residual insecticide while passengers are not on board.
                </p>
                <p class="point-text">
                    BY OFFERING RESERVATIONS FOR TRAVEL PRODUCTS IN PARTICULAR INTERNATIONAL DESTINATIONS, VINADAY TRAVEL DOES NOT REPRESENT OR GUARANTEE THAT TRAVEL TO SUCH AREAS IS ADVISABLE OR WITHOUT RISK, AND IS NOT RESPONSIBLE FOR DAMAGES OR LOSSES THAT MAY RESULT FROM TRAVEL TO SUCH DESTINATIONS.
                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                <h2 class="point" id="p_15">LIABILITY DISCLAIMER</h2>
                <p class="point-text">
                    The Information, Software, Products and Services published on this Website may include inaccuracies or errors, including pricing errors. In particular, the Vinaday Companies and Vinaday Affiliates do not guarantee the accuracy of, and disclaim all responsibility for any errors or other inaccuracies relating to the information and description of the hotel, air, cruise, car and other travel products and services displayed on this Website (including, without limitation, the pricing, photographs, list of hotel amenities, general product descriptions, etc.). In addition, Vinaday Travel expressly retains the right to correct any pricing errors on our Website and/or pending reservations made under an incorrect price. In such a case, if available, we will offer you the opportunity to keep your pending reservation at the correct price or we will cancel your reservation without penalty.
                </p>
                <p class="point-text">
                    Hotel ratings displayed on this Website are intended as only general guidelines, and the Vinaday Companies and Vinaday Affiliates do not guarantee the accuracy of the ratings. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers make no guarantees about the availability of specific products and services. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers may make improvements and/or changes on the Website at any time.&nbsp;
                </p>
                <p class="point-text">
                    The Vinaday Companies, the Vinaday Affiliates and their respective suppliers make no representations about the suitability of the information, software, products and services contained on this Website for any purpose, and the inclusion or offering of any products or services on this Website does not constitute any endorsement or recommendation of such products or services by the Vinaday Companies or the Vinaday Affiliates. All such information, software products, and services are provided “as is” without warranty of any kind. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers disclaim all guarantees and conditions that this Website, its servers or any email sent from the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers are free of viruses or other harmful components. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers hereby disclaim all warranties and conditions with regard to this information, software, products and services, including all implied warranties and conditions of merchantability, fitness for a particular response, title and non-infringement.&nbsp;
                </p>
                <p class="point-text">
                    The Vinaday Companies and the Vinaday Affiliates have no responsibility and will make no refund in the event of any delay, cancellation, overbooking, strike, force majeure or other causes beyond their direct control, and they have no responsibility for any additional expenses, omissions, delays, re-routing or acts of any government or authority.&nbsp;
                </p>
                <p class="point-text">
                    In no event shall the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of, or in any way connected with, your access to, display of or use of this Website or with the delay or inability to access, display or use this Website (including, but not limited to, your reliance upon opinions appearing on this Website; any computer viruses, information, software, linked sites, products and services obtaining through this Website; or otherwise arising out of the access to, display of or use of this Website) whether based on a theory of negligence, contract, tort, strict liability, consumer protection statutes, or otherwise, and even if the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers have been advised of the possibility of such damages.&nbsp;
                </p>
                <p class="point-text">
                    The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these Terms of Use is found to have failed of its essential purpose. The limitations of liability provided in these Terms of Use inure to the benefit of the Vinaday Companies, the Vinaday Affiliates, and/or their respective suppliers.
                </p>
                <h5>INDEMNIFICATION</h5>
                <p class="point-text">
                    You comply to defend and indemnify the Vinaday Companies, the Vinaday Affiliates, and/or their respective suppliers and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:
                </p>
                <ol>
                    <li>your breach of these Terms of Use or the documents referenced herein;</li>
                    <li>your violation of any law or the rights of a third party; or</li>
                    <li>your use of this Website.</li>
                </ol>
                <h5>LINKS TO THIRD-PARTY SITES</h5>
                <p class="point-text">
                    This Website might contain hyperlinks to websites run by parties other than goreise.com. These hyperlinks are provided for your reference only. We do not control such websites and are not responsible for their contents or the privacy or other practices of such websites. Furthermore, it is your responsibility to take precautions to make sure that whatever links you select or software you download (whether from this Website or other websites) is free of such items as viruses, worms, trojan horses, defects and other items of a destructive nature. Our inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators.
                </p>
                <h5>CURRENCY CONVERTER</h5>
                <p class="point-text">
                    If a currency convertor is available on the Website, the following terms and conditions apply: Currency rates are based on various publicly available sources and should only be used as guidelines. Rates are not verified as accurate, and actual rates may vary. Currency quotes might not be updated every day. Check the date on the currency converter feature for the day that currency was last updated. The information supplied by this application is believed to be accurate, but the Vinaday Companies, the Vinaday Affiliates, and/or our respective suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorize the use of this information for any purpose other than your personal use and you are expressly prohibited from the resale, redistribution, and use of this information for commercial purposes.
                    <strong>BANK AND CREDIT CARD FEES</strong><br>
                </p>
                <p class="point-text">
                    Certain banks and credit card companies charge additional fees for international transactions. If you are making a booking from outside of the United States on a US credit card, your bank may convert the payment amount to your local currency and charge you a conversion fee. This means the amount listed on your credit or bank card statement may be in your local currency and therefore a different figure than the figure shown on the billing summary page for a reservation booked on the Website. In addition, a foreign transaction fee may be assessed if the bank that issued your credit card is located outside of the United States. Booking international travel may be considered to be an international transaction by the bank or card company. If you have any questions about these fees or the exchange rate applied to your booking, please contact your bank
                </p>
                <h4 class="point-text"><strong>COPYRIGHT AND TRADEMARK NOTICES</strong></h4>
                <p class="point-text">
                    All contents of this Website are ©2015 Vinaday Travel. All rights reserved. Vinaday, goreise.com, Vinaday logo.
                </p>
                <h4><strong>ACCOUNT TERMINATION</strong></h4>
                <p class="point-text">
                    In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, goreise.com has adopted a policy of terminating, in appropriate circumstances and at Vinaday Travel’s sole discretion, subscribers or account holders who are deemed to be repeat infringers. Vinaday Travel may also at its sole discretion limit access to the Website and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. If you believe that an account holder or subscriber is a repeat infringer, please provide information sufficient for us to verify that the account holder or subscriber is a repeat infringer when filing your notice.
                </p>
                <p class="point-text">
                    If you believe in good faith that content and/or material hosted by us infringe your copyright, you (or your agent) may send us a written notice that includes the following information. Please note that we will not process your complaint if it is not properly filled out or is incomplete. Any misrepresentations in your notice regarding whether content or activity is infringing may expose you to liability for damages.
                </p>
                <ol>
                    <li>A clear identification of the copyrighted work you claim was infringed.</li>
                    <li>A clear identification of the material you claim is infringing on the Website, such as a link to the infringing material.</li>
                    <li>Your address, email address and telephone number.</li>
                    <li>A statement that you have a "good faith belief that the material that is claimed as copyright infringement is not authorized by the copyright owner, its agent, or the law."</li>
                    <li>A statement that "the information in the notification is accurate, and under penalty of perjury, the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</li>
                    <li>A signature by the person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                </ol>
                <br>
                <h4>PATENT NOTICES</h4>
                <br>
                <p class="point-text">
                    One or more patents owned by the Vinaday Companies may apply to this Website and to the features and services accessible via the Website. Portions of this Website operate under license of one or more patents. Other patents pending.

                    &nbsp;
                    <br>
                </p><h4>SERVICE HELP</h4>
                <br>
                <p class="point-text">
                    For quick answers to your questions, contact us on (84-28) -38 388 382, <a href="mailto:info@vinaday.com">info@vinaday.com</a> or you can write to us at:
                </p>
                <p class="point-text">
                    Vinaday Travel<br>
                </p>
                <p class="point-text">
                    230, De Tham Street<br>
                </p>
                <p class="point-text">
                    Ho Chi Minh City<br>
                </p>
                <p class="point-text">
                    Vietnam
                </p>
                <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
            </div>
        </div>
    </article>
</div>