@{
    ViewBag.Title = "Website Policy - VINADAY GORIESE VIETNAM CO., LTD - Tours - Day Trips - Hotels";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Goreise.com
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Websites Rules
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 left-col ">
                <div class="left-col-wrap">
                    <ul>
                        <li><a href="about-us">About us</a></li>
                        <li><a class="active" href="/websites-rules">Websites Rules</a></li>
                        <li><a href="/refund-policy">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 right-col">
                <div class="right-col-wrap " id="panel-509969">
                    <div>
                        <h1>AGREEMENT BETWEEN CUSTOMER AND VINADAY GOREISE</h1>
                        <p class="point-text">(Update 17.03.2018)</p>
                        <p class="point-text">
                            Welcome to the goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn  website (the "Website") managed by VINADAY GOREISE CO., LTD (the "VINADAY GOREISE"). This Website is provided to you for the sole purpose of assisting you in gathering travel information concerning the availability of travel-related goods and services, making legitimate reservations or transacting business with travel suppliers, and for no other purposes. The terms "we", "us", "our", “goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn ” and "VINADAY GOREISE" refer to goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn , a Vietnamese corporation, and its subsidiaries and corporate affiliates, including VINADAY GOREISE VIETNAM CO., LTD and Suite Backpackers Inn (collectively, the "Vinaday Companies"). The term "you" refers to the customer using the Website to make a booking or a reservation through use of this Website, or through our customer service agents.
                            This Website is at your service on the condition that you accept all the terms, conditions and notices (collectively, the "Terms of Use” or "Agreement") included without any kind of modification.<br>
                            <strong>We advise you to read these Terms of Use thoroughly, as they contain important information about limitations of liability and resolution of disputes through arbitration rather than in court.&nbsp;</strong>
                        </p>
                        <p class="point-text">
                            We also recommend you to read our Privacy Policy, which also governs your use of the Website. By accessing and/or using this Website in any way, including booking and making reservations for travel products or services on this Website, or contacting our call center agents, you agree to the Terms of Use and that they in full force shall apply. If you do not agree to the Terms of Use, you should leave this Website immediately and we ask you to not book or make any reservations through this Website or our call center agents.
                        </p>
                        <ol>
                            <li><a href="#p_9">Use of the Website</a></li>
                            <li><a href="#p_10">Supplier Rules and Restrictions</a></li>
                            <li><a href="#p_11">Reviews, Comments, Photos and other Submissions</a></li>
                            <li><a href="#p_12">Photo Submission Guidelines</a></li>
                            <li><a href="#p_13">Prepaid Hotel Reservations</a></li>
                            <li><a href="#p_14">International Travel</a></li>
                            <li><a href="#p_15">Liability Disclaimer</a></li>
                        </ol>
                        <h2 class="point" id="p_9">USE OF THE WEBSITE</h2>
                        <p class="point-text"> As a condition of your use of this Website, you guarantee that:</p>
                        <ol>
                            <li>you are at least 18 years of age;</li>
                            <li>you will use this Website in understanding and agreement to these Terms of Use;</li>
                            <li>you have the legal authority to create a binding legal obligation;</li>
                            <li>you will use this Website only to make legitimate reservations for you or for another person that you are legally authorized to act for;</li>
                            <li>you will inform such other persons of the Terms of Use that apply to the reservations you have made on their behalf, including all rules and restrictions applicable thereto;</li>
                            <li>all information you have provided to this Website is true, accurate, up to date and complete; and</li>
                            <li>if you own a VINADAY GOREISE account, you will protect and supervise your account information and therefore be completely responsible for any use of your account by you and anyone other than you.</li>
                        </ol>
                        <p class="point-text">
                            We reserve the right at our sole discretion to deny anyone access to this Website and the services we offer, at any time and for any reason, including, but not limited to, for violation of these Terms of Use<br>
                        </p>
                        <h5 class="point-text">DISPUTES</h5>
                        <p class="point-text">
                            goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn  is committed to customer service and we always aim to satisfy your needs. With this said, if you have any problem or dispute to bring to our attention, we will try to resolve these concerns for you. These problems or disputes must be brought to our attention no later than two weeks after the final day of your booking or reservation. If we however, are unsuccessful in resolving your concerns, you may pursue claims as explained in this section.
                            <br>
                        </p>
                        <p class="point-text">
                            You agree to giving us the chance to resolve any disputes or claims you might have, relating to the Website in any way, any dealings with our customer service agents, any services or products provided, any representations made by us, or our Privacy Policy (“Claims”) by contacting&nbsp;VINADAY GOREISE Customer Support&nbsp;or +84 916388382. If we are unable to resolve your Claims within two weeks after contacting our Customer Support, you may seek relief through arbitration or in small claims court, as set forth below.
                        </p>
                        <p class="point-text">
                            <strong>Any and all Claims made, will be resolved by binding arbitration, rather than in court</strong>, except you may assert Claims on an individual basis in small claims court if they qualify. This includes any Claims you assert against us, our subsidiaries, travel suppliers or any companies offering products or services through us (which are beneficiaries of this arbitration agreement). This also includes any Claims that arose before you accepted these Terms of Use, regardless of whether prior versions of the Terms of Use required arbitration.
                        </p>
                        <p class="point-text">
                            <strong>There is no judge or jury in arbitration, and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the same damages and relief as a court (including statutory damages, attorneys’ fees and costs), and must follow and enforce these Terms of Use as a court would.</strong>
                            <br>
                        </p>
                        <p class="point-text">
                            Arbitrations will be conducted by the Peoples Court, Ho Chi Minh City, under its rules. Their rules are available at <a href="http://www.tand.hochiminhcity.gov.vn/web/guest/home">http://www.tand.hochiminhcity.gov.vn/web/guest/home</a> or by calling (84-8)8.292.448. You may choose to have an arbitration conducted by telephone.

                            To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your Claims to <a href="mailto:cs@vinaday.com">cs@vinaday.com</a>. You must also contact The Peoples Court, Ho Chi Minh City at (84-8)8.292.448 or tandhcm@gmail.com to file your arbitration. If we request arbitration against you, we will give you notice at the email address or street address you have provided.
                        </p>
                        <h5>PROHIBITED ACTIVITIES</h5>
                        <p class="point-text">
                            The information and content on this Website (including, but not limited to, price and availability of travel services) as well as the infrastructure used to provide such content and information, is exclusive to us or our suppliers and providers. While we allow you to make limited copies of your travel itinerary (and related documents) for travel or service reservations booked through this Website, you comply to not otherwise copy, modify, display, reproduce, distribute, transmit, perform, publish, license, create derivative works from, transfer, or sell or re-sell any software, products, information or services acquired from or through the use of this Website. Furthermore, you agree not to:
                        </p>
                        <ol>
                            <li>use this Website or its contents for any commercial means;</li>
                            <li>make any false, speculative, fraudulent reservation or any reservation in the expectancy of demand;</li>
                            <li>access, copy or monitor any information or content of this Website with the help of any automated means or any manual method for any reason without our final written approval;</li>
                            <li>disregard the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures put in place to prevent or limit access to this Website;</li>
                            <li>conduct any activity that causes, or may cause, in our discretion, an unreasonable or disproportionately large load on our infrastructure;</li>
                            <li>deep—link to any part of this Website (including, without limitation, the purchase path for any travel services) for any reason without our final written approval; or</li>
                            <li>"mirror" or otherwise copy any part of this Websites content into any other website without our prior written authorization.</li>
                        </ol>
                        <p class="point-text">
                            If we detect any signs of fraud, abuse or suspicious activity deriving from your booking or account, Website may cancel any travel or service reservations associated with your name, email address or account, and close any related VINADAY GOREISE account. If we are able to confirm that you have been involved in any fraudulent activity, VINADAY GOREISE reserves the right to take any required legal action and you may be liable for monetary losses to VINADAY GOREISE, including litigation costs and damages. If you wish to object to the cancellation of a certain booking or freezing or closure of an account, please contact VINADAY GOREISE Customer Support.
                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_10">SUPPLIER RULES AND RESTRICTIONS</h2>
                        <br>
                        <p class="point-text">
                            <strong>Additional terms and conditions will apply to your reservation and purchase of travel-related goods and services that you select.&nbsp;</strong>We kindly ask you to read these additional terms and conditions carefully. Especially, if you have purchased an airfare, please make sure you read the full terms and conditions of carriage issued by the Supplier, which can be found on the Supplier’s website. You comply to abide by the terms and conditions of purchase imposed by any supplier with whom you choose to deal, including, but not limited to, payment of all amounts when due and compliance with the supplier's rules and restrictions regarding availability and use of fares, products, or services. Airfare is only guaranteed once the purchase has been completed and the tickets have been issued. Airlines and other travel suppliers may change their prices without notice. We retain the right to cancel your booking if full payment is not received in a timely fashion.
                            <br>
                        </p>
                        <p class="point-text">
                            Certain hotel suppliers may ask you to present a credit card or cash deposit upon check-in to cover any extra expenses incurred during your stay. These deposits are unrelated to any payment received by Website, for your hotel booking.
                            <br>
                        </p>
                        <p class="point-text">
                            VINADAY GOREISE is not accountable for any costs sustained due to relocation.
                        </p>
                        <p class="point-text">
                            You recognize that some third-party providers offering certain services and/or activities may ask you to sign their liability waiver before participating in the service and/or activity they offer. You acknowledge that any violation of any such supplier's rules and restrictions may result in cancellation of your reservation(s), in your being denied access to the relevant travel product or services, in your forfeiting any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur as a result of such violation.
                        </p>
                        <p class="point-text">
                            VINADAY GOREISE can offer Customers the opportunity to book a reservation for a combination of two one—way tickets instead of a roundtrip ticket. These Combined one-way tickets can provide you with a greater choice of flights, are generally cheaper and can be combined on the same airline or on different airlines. Unlike roundtrip tickets, each one-way ticket is subject to its own rules, restrictions, and fees. If one of these flights is affected by an airline change (e.g. cancellation or rescheduling) that causes a Customer to make changes to the other flight, the Customer will be responsible for any fees sustained for making changes to the unaffected flight.
                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_11">REVIEWS, COMMENTS, PHOTOS AND OTHER SUBMISSIONS</h2>
                        <p class="point-text">
                            VINADAY GOREISE is grateful for all feedback and enjoys hearing from our customers. We wish to inform you that by submitting content to this Website by electronic mail, postings on this Website or otherwise, including any hotel reviews, photos, videos, questions, comments, suggestions, ideas or the like contained in any submissions (collectively, "Submissions"), you give VINADAY GOREISE and the affiliated, co-branded and/or linked website partners through whom we provide service (collectively, the "VINADAY GOREISE affiliates"), a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sub-licensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Submissions throughout the world in any media, existing or hereafter created; and (b) use the name that you submit in connection with such Submission. You accept that the Vinaday Companies may choose to provide attribution of your comments or reviews (for example, listing your name and hometown on a hotel review that you submit) at our discretion, and that such submissions can be shared with our supplier partners. You also give the Vinaday Companies the right to pursue at law any person or entity that violates your or the Vinaday Companies rights in the Submissions by a violation of these Terms of Use. You acknowledge and agree that Submissions are non-confidential and non-proprietary. You expressly relinquish any and all ‘moral rights’ (including rights of attribution or integrity) that may subsist in your Submissions and agree that you have no objection to the publication, use, modification, deletion or exploitation of your Submissions by us, the Vinaday Affiliates or any of our partners or licensees. We take no responsibility and assume no liability for any Submissions posted or submitted by you. We have no obligation to post your comments; we retain the right in our complete discretion to choose which comments are published on the Website. If you do not agree to these Terms of Use, please do not provide us with any Submissions.
                        </p>
                        <p class="point-text">
                            You are liable for the content of your Submissions, (specifically including, but not limited to, reviews posted to this Website). You are not allowed to post or transmit to or from this Website: (i) any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material or content that would violate rights of publicity and/or privacy or that would break any law; (ii) any commercial material or content (including, but not limited to, solicitation of funds, advertising, or marketing of any good or services); and (iii) any material or content that infringes, misappropriates or violates any copyright, trademark, patent right or other proprietary right of any third party. You will be solely responsible for any damages resulting from the breach of any of the foregoing restrictions, or any other harm resulting from your posting of content to this Website. You acknowledge that Website may exercise its rights (e.g. use, publish, delete) to any content you submit without notice to you. If you submit more than one review for the same hotel, only your most recent submission is eligible for use.
                        </p>
                        <p class="point-text">
                            All photos submitted are subject to our Photo Submission Guidelines below.
                        </p>
                        <p class="point-text">
                            Website claims no ownership, affiliation with, or endorsement of any photos that are submitted by end users through our sites.
                        </p>
                        <p class="point-text">
                            VINADAY GOREISEs policies with respect to claims by third parties that the content of the Website, including the content of any Submissions, infringes the copyrights owned by said third party can be found in the Claims of Copyright Infringement<u>&nbsp;</u>section below.

                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_12">PHOTO SUBMISSION GUIDELINES</h2>
                        <p class="point-text">
                            If you decide to submit a photo, it must be:
                        </p>
                        <ul>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">
                                <strong>On topic</strong> All photos must be relevant to accommodation, restaurant, location, or general travel experiences.
                                •&nbsp;<strong>Community/family friendly</strong>
                            </li>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit any photographic material or other materials that are illegal, obscene, pornographic, profane, vulgar, offensive or insulting.</li>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit photographic material or materials that invade the privacy or violate any personal right of any person or entity.</li>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Do not submit photos or information about children or any third parties without their consent (or their parent’s consent in the case of a child under the age of 13 years).</li>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">Children under 13 years of age are not allowed to submit photos or other materials.</li>
                            <li style="font-size: 14px; font-family: Arial; line-height: 150%;">
                                <strong>Original</strong> You are only allowed to submit your own photos. Do not submit photos from any other source (personal or commercial). Do not submit photos that infringe the copyright, trademark, or other property right of any third party.
                                •&nbsp;<strong>Non-commercial&nbsp;</strong>—Do not submit photos that include logos, branding, promotional material, or any other content intended for commercial purposes.
                                •&nbsp;<strong>No harmful files&nbsp;</strong>—Do not submit photos that contain viruses or other harmful code that is either intended or may result in damage to the computers and systems of Website and/or those using it.
                            </li>
                        </ul>

                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_13">PREPAID HOTEL RESERVATIONS</h2>
                        <p class="point-text">
                            You acknowledge that the Vinaday Companies pre-negotiate certain room rates with hotel suppliers to facilitate the booking of reservations. You also acknowledge that the Vinaday Companies provide you services to facilitate such booking of reservations for a consideration (the "facilitation fee"). The room rate displayed on the Website is a combination of the pre-negotiated room rate for rooms reserved on your behalf by the Vinaday Companies and the facilitation fee retained by the Vinaday Companies for their services. You permit the Vinaday Companies to book reservations for the total reservation price, which includes the room rate displayed on the Website, plus tax recovery charges, service fees, and where applicable, taxes on the Vinaday Companies' services. You comply that your credit card will be charged by the Vinaday Companies for the total reservation price. Upon submitting your reservation request you give the Vinaday Companies permission to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.
                        </p>
                        <p class="point-text">
                            You acknowledge that except as provided below with respect to tax obligations on the amounts we retain for our services, the Vinaday Companies do not collect taxes for remittance to applicable taxing authorities. The tax recovery charges on prepaid hotel transactions are a recovery of the estimated taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that the Vinaday Companies pay to the hotel supplier for taxes due on the hotel's rental rate for the room. The hotel suppliers invoice the Vinaday Companies for certain charges, including tax amounts. The hotel suppliers are responsible for remitting applicable taxes to the applicable taxing jurisdictions. None of the Vinaday Companies act as co-vendors with the supplier with whom we book or reserve our customer's travel arrangements. Taxability and the appropriate tax rate vary greatly by location. The actual tax amounts paid by the Vinaday Companies to the hotel suppliers may vary from the tax recovery charge amounts, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel by our customers. We retain service fees as additional compensation in servicing your travel reservation. Service fees retained by the Vinaday Companies for their services vary based on the amount and type of hotel reservation.
                        </p>
                        <p class="point-text">
                            You can always cancel or change your prepaid hotel reservation, but you will be charged the cancellation or change fee indicated in the rules and restrictions for the hotel reservation. If you do not cancel or change your reservation before the cancellation policy period applicable to the hotel you reserved, which varies by hotel (usually 24 to 72 hours) prior to your date of arrival, you will be subject to a charge equal to applicable nightly rates, tax recovery charges and service fees. In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with us no later than the date of the first night of the reservation to prevent cancellation of your reservation.
                        </p>
                        <p class="point-text">
                            You agree to pay any cancellation or change fees that you incur. In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made, as indicated in the rules and restrictions for the hotel reservation. You agree to abide by the Terms of Use imposed with respect to your prepaid hotel reservations.
                        </p>
                        <p class="point-text">
                            Sales, use and/or local hotel occupancy taxes are imposed on the amounts that we charge for our services (facilitation fee and/or service fee) in certain jurisdictions. The actual tax amounts on our services may vary depending on the rates in effect at the time of your hotel stay.
                        </p>
                        <p class="point-text">
                            You may not book reservations for more than 8 rooms online for the same hotel/stay dates. If we determine that you have booked reservations for more than 8 rooms in total in separate reservations, we may cancel your reservations, and charge you a cancellation fee, if applicable. If you paid a non-refundable deposit, your deposit will be forfeited. If you wish to book reservations for 9 or more rooms, you have to contact VINADAY GOREISEs’ staff by phone at (84-8)-38 388 382 or by submitting your request to info@vinaday.com. One of our group travel specialists will research your request and contact you to complete your reservation. You may be asked to sign a written contract and/or pay a nonrefundable deposit.
                        </p>
                        <h4>PAY NOW OR PAY LATER DETAILS</h4>
                        <p class="point-text">
                            With certain hotels, you may be presented with the option to pay online now or pay later at the hotel. If you select the “Pay Online Now” option, goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn  will charge the amount to your credit card in US dollars immediately. If you select “Pay Later at the Hotel”, you will be asked to provide your credit card details and you will be charged a deposit fee. Furthermore, if you do not cancel your reservation before the cut-off date, goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn  will automatically charge your credit card for the full amount of the booking/reservation made. Please note that taxes and fees vary between the two payment options. Tax rates and foreign exchange rates could change in the time between booking and stay.
                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_14">INTERNATIONAL TRAVEL</h2>
                        <p class="point-text">
                            You are responsible for making sure that you meet the foreign entry requirements and that your travel documents, such as passports and visas (transit, business, tourist, and otherwise), are in order and any other foreign entry requirements are met. VINADAY GOREISE has no special knowledge regarding foreign entry requirements or travel documents. We advise our customers to review travel prohibitions, warnings, announcements, and advisories issued by the relevant gover<br>nments prior to booking travel to international destinations.
                        </p>
                        <p class="point-text">
                            Passport and Visa: You must consult the relevant Embassy or Consulate for this information. Requirements may change and you should check for up-to-date information before booking and departure. We take no responsibility if you are denied entry onto a flight or into any country due to your failure to carry the correct and adequate passport, visa, or other travel documents required by any airline, authority, or country, including countries you may just be transiting through. This includes all stops made by the aircraft, even if you do not leave the aircraft or airport.
                        </p>
                        <p class="point-text">
                            Health: Recommended inoculations for travel may change and you should consult your doctor for current recommendations before you depart. It is your responsibility to ensure that you meet all health entry requirements, obtain the recommended inoculations, take all recommended medication, and follow all medical advice in relation to your trip.
                        </p>
                        <p class="point-text">
                            Disinfection: Although not common, most countries reserve the right to disinfect aircraft if there is a perceived threat to public health, agriculture or environment. The World Health Organization and the International Civil Aviation Organization have approved the following disinfection procedures: (1) spray the aircraft cabin with an aerosolized insecticide while passengers are on board or (2) treat the aircraft's interior surfaces with a residual insecticide while passengers are not on board.
                        </p>
                        <p class="point-text">
                            BY OFFERING RESERVATIONS FOR TRAVEL PRODUCTS IN PARTICULAR INTERNATIONAL DESTINATIONS, VINADAY GOREISE DOES NOT REPRESENT OR GUARANTEE THAT TRAVEL TO SUCH AREAS IS ADVISABLE OR WITHOUT RISK, AND IS NOT RESPONSIBLE FOR DAMAGES OR LOSSES THAT MAY RESULT FROM TRAVEL TO SUCH DESTINATIONS.
                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                        <h2 class="point" id="p_15">LIABILITY DISCLAIMER</h2>
                        <p class="point-text">
                            The Information, Software, Products and Services published on this Website may include inaccuracies or errors, including pricing errors. In particular, the Vinaday Companies and Vinaday Affiliates do not guarantee the accuracy of, and disclaim all responsibility for any errors or other inaccuracies relating to the information and description of the hotel, air, cruise, car and other travel products and services displayed on this Website (including, without limitation, the pricing, photographs, list of hotel amenities, general product descriptions, etc.). In addition, VINADAY GOREISE expressly retains the right to correct any pricing errors on our Website and/or pending reservations made under an incorrect price. In such a case, if available, we will offer you the opportunity to keep your pending reservation at the correct price or we will cancel your reservation without penalty.
                        </p>
                        <p class="point-text">
                            Hotel ratings displayed on this Website are intended as only general guidelines, and the Vinaday Companies and Vinaday Affiliates do not guarantee the accuracy of the ratings. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers make no guarantees about the availability of specific products and services. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers may make improvements and/or changes on the Website at any time.&nbsp;
                        </p>
                        <p class="point-text">
                            The Vinaday Companies, the Vinaday Affiliates and their respective suppliers make no representations about the suitability of the information, software, products and services contained on this Website for any purpose, and the inclusion or offering of any products or services on this Website does not constitute any endorsement or recommendation of such products or services by the Vinaday Companies or the Vinaday Affiliates. All such information, software products, and services are provided “as is” without warranty of any kind. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers disclaim all guarantees and conditions that this Website, its servers or any email sent from the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers are free of viruses or other harmful components. The Vinaday Companies, the Vinaday Affiliates and their respective suppliers hereby disclaim all warranties and conditions with regard to this information, software, products and services, including all implied warranties and conditions of merchantability, fitness for a particular response, title and non-infringement.&nbsp;
                        </p>
                        <p class="point-text">
                            The Vinaday Companies and the Vinaday Affiliates have no responsibility and will make no refund in the event of any delay, cancellation, overbooking, strike, force majeure or other causes beyond their direct control, and they have no responsibility for any additional expenses, omissions, delays, re-routing or acts of any government or authority.&nbsp;
                        </p>
                        <p class="point-text">
                            In no event shall the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of, or in any way connected with, your access to, display of or use of this Website or with the delay or inability to access, display or use this Website (including, but not limited to, your reliance upon opinions appearing on this Website; any computer viruses, information, software, linked sites, products and services obtaining through this Website; or otherwise arising out of the access to, display of or use of this Website) whether based on a theory of negligence, contract, tort, strict liability, consumer protection statutes, or otherwise, and even if the Vinaday Companies, the Vinaday Affiliates and/or their respective suppliers have been advised of the possibility of such damages.&nbsp;
                        </p>
                        <p class="point-text">
                            The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these Terms of Use is found to have failed of its essential purpose. The limitations of liability provided in these Terms of Use inure to the benefit of the Vinaday Companies, the Vinaday Affiliates, and/or their respective suppliers.
                        </p>
                        <h5>INDEMNIFICATION</h5>
                        <p class="point-text">
                            You comply to defend and indemnify the Vinaday Companies, the Vinaday Affiliates, and/or their respective suppliers and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:
                        </p>
                        <ol>
                            <li>your breach of these Terms of Use or the documents referenced herein;</li>
                            <li>your violation of any law or the rights of a third party; or</li>
                            <li>your use of this Website.</li>
                        </ol>
                        <h5>LINKS TO THIRD-PARTY SITES</h5>
                        <p class="point-text">
                            This Website might contain hyperlinks to websites run by parties other than goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn . These hyperlinks are provided for your reference only. We do not control such websites and are not responsible for their contents or the privacy or other practices of such websites. Furthermore, it is your responsibility to take precautions to make sure that whatever links you select or software you download (whether from this Website or other websites) is free of such items as viruses, worms, trojan horses, defects and other items of a destructive nature. Our inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators.
                        </p>
                        <h5>CURRENCY CONVERTER</h5>
                        <p class="point-text">
                            If a currency convertor is available on the Website, the following terms and conditions apply: Currency rates are based on various publicly available sources and should only be used as guidelines. Rates are not verified as accurate, and actual rates may vary. Currency quotes might not be updated every day. Check the date on the currency converter feature for the day that currency was last updated. The information supplied by this application is believed to be accurate, but the Vinaday Companies, the Vinaday Affiliates, and/or our respective suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorize the use of this information for any purpose other than your personal use and you are expressly prohibited from the resale, redistribution, and use of this information for commercial purposes.
                            <strong>BANK AND CREDIT CARD FEES</strong><br>
                        </p>
                        <p class="point-text">
                            Certain banks and credit card companies charge additional fees for international transactions. If you are making a booking from outside of the United States on a US credit card, your bank may convert the payment amount to your local currency and charge you a conversion fee. This means the amount listed on your credit or bank card statement may be in your local currency and therefore a different figure than the figure shown on the billing summary page for a reservation booked on the Website. In addition, a foreign transaction fee may be assessed if the bank that issued your credit card is located outside of the United States. Booking international travel may be considered to be an international transaction by the bank or card company. If you have any questions about these fees or the exchange rate applied to your booking, please contact your bank
                        </p>
                        <h4 class="point-text"><strong>COPYRIGHT AND TRADEMARK NOTICES</strong></h4>
                        <p class="point-text">
                            All contents of this Website are ©2018 VINADAY GOREISE. All rights reserved.  goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn , Vinaday logo.
                        </p>
                        <h4><strong>ACCOUNT TERMINATION</strong></h4>
                        <p class="point-text">
                            In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, goreise.com, vinadaytravel.com, vn.goreise.com, vinaday.vn  has adopted a policy of terminating, in appropriate circumstances and at VINADAY GOREISE’s sole discretion, subscribers or account holders who are deemed to be repeat infringers. VINADAY GOREISE may also at its sole discretion limit access to the Website and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. If you believe that an account holder or subscriber is a repeat infringer, please provide information sufficient for us to verify that the account holder or subscriber is a repeat infringer when filing your notice.
                        </p>
                        <p class="point-text">
                            If you believe in good faith that content and/or material hosted by us infringe your copyright, you (or your agent) may send us a written notice that includes the following information. Please note that we will not process your complaint if it is not properly filled out or is incomplete. Any misrepresentations in your notice regarding whether content or activity is infringing may expose you to liability for damages.
                        </p>
                        <ol>
                            <li>A clear identification of the copyrighted work you claim was infringed.</li>
                            <li>A clear identification of the material you claim is infringing on the Website, such as a link to the infringing material.</li>
                            <li>Your address, email address and telephone number.</li>
                            <li>A statement that you have a "good faith belief that the material that is claimed as copyright infringement is not authorized by the copyright owner, its agent, or the law."</li>
                            <li>A statement that "the information in the notification is accurate, and under penalty of perjury, the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</li>
                            <li>A signature by the person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                        </ol>
                        <br>
                        <h4>PATENT NOTICES</h4>
                        <br>
                        <p class="point-text">
                            One or more patents owned by the VINADAY GOREISE Companies may apply to this Website and to the features and services accessible via the Website. Portions of this Website operate under license of one or more patents. Other patents pending.

                            &nbsp;
                            <br>
                        </p><h4>SERVICE HELP</h4>
                        <br>
                        <p class="point-text">
                            For quick answers to your questions, contact us on +84 916388382, <a href="mailto:cs@vinaday.com">cs@vinaday.com</a> or you can write to us at:
                        </p>
                        <p class="point-text">
                            VINADAY GOREISE VIETNAM VIETNAM CO., LTD<br>
                        </p>
                        <p class="point-text">
                            230, De Tham Street, District 1<br>
                        </p>
                        <p class="point-text">
                            Ho Chi Minh City<br>
                        </p>
                        <p class="point-text">
                            Vietnam
                        </p>
                        <p class="back-to-top"><a href="#privacyHeader2">Back to top</a></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
