@{
    ViewBag.Title = "Thim Ut Kitchen Delivery - Đồ ăn Bangkok và Hội An";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Goreise.com
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Thim Ut Comming Soon
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        

    </div>
</div>
@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/app/ThimUtController.js")