@{
    ViewBag.Title = "Thim Ut Kitchen Delivery - Đồ ăn Bangkok và Hội An";
}
<div class="container gtour">
    <div class="home-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
            <a property="v:title" rel="v:url" href="https://goreise.com">
                Goreise.com
            </a>&nbsp;››&nbsp;
        </span>
        <span typeof="v:Breadcrumb">
            Thim Ut Comming Soon
        </span>
    </div>
    <div class="main-content" style="margin-top:30px;">
        <div class="row static-content">
            <div class="col-lg-3 right-col">
                <div data-v-02ec8735="" uk-sticky="offset: 90; bottom: #stop-uk-sticky; media: (min-width: 824px);" class="uk-card uk-card-default uk-card-small uk-card-body uk-visible@m uk-sticky" style="z-index: 0;">
                    <ul data-v-02ec8735="" uk-scrollspy-nav="closest: li; scroll: true; cls: tch-active; offset: 70;" class="uk-nav uk-nav-default tch-margin-small-bottom" style="margin-left: 0px; margin-right: 0px;">
                        <li data-v-02ec8735="" class="tch-active"><a data-v-02ec8735="" href="#cate9">Món được yêu thích</a></li>
                        <li data-v-02ec8735="" class=""><a data-v-02ec8735="" href="#cate1">Cà phê</a></li><!---->
                        <li data-v-02ec8735="" class=""><a data-v-02ec8735="" href="#cate2">Thức uống đá xay</a></li><!---->
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate5">Trà trái cây</a></li>
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate6">Thức uống trái cây</a></li>
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate4">Macchiato</a></li>
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate7">Thức ăn nhẹ</a></li><!----><!----><!----><!---->
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate15">Choco-Matcha</a></li><!----><!---->
                        <li data-v-02ec8735=""><a data-v-02ec8735="" href="#cate18">Cà phê gói</a></li><!---->
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div data-v-300db8a7="" class="uk-width-2-3@l uk-width-2-3@m tch-fix-margin-search">
                    <div data-v-300db8a7="" uk-grid="" class="uk-grid-small uk-grid uk-grid-stack"><div data-v-300db8a7="" class="uk-width-1-1 uk-first-column"><div data-v-300db8a7="" class="uk-search uk-search-default uk-width-1-1 uk-visible@m"><a data-v-300db8a7="" href="# " uk-icon="icon: search " class="uk-form-icon uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle> <path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></a> <input data-v-300db8a7="" id="seach " placeholder="Tìm kiếm sản phẩm " type="text " class="uk-input "></div></div></div>
                    <div data-v-300db8a7="" id="cate9" class="menu">
                        <div data-v-300db8a7="" class="uk-width-1-1">
                            <ul data-v-300db8a7="" class="uk-list">
                                <li>
                                    <label>Món được yêu thích</label> <article class="uk-comment uk-visible-toggle product-menu" style="background-color: white; padding: 12px;">
                                        <header class="uk-position-relative">
                                            <div uk-grid="" class="uk-grid-medium uk-flex-top uk-grid">
                                                <div class="uk-width-auto uk-first-column"><img src="https://tchmobileapp.s3.ap-southeast-1.amazonaws.com/menufrontend/5ee86c4891ab1a0012829000_photo_2020-06-18_15-53-18.jpg" width="80" height="80" alt="" class="uk-comment-avatar"></div> <div class="uk-width-expand" style="padding-left: 10px;">
                                                    <p class="uk-margin-remove"><a class="uk-link-reset"><b>Cà Phê Phin Đắk Nông TCH (200gr) - Nguyên Hạt</b></a></p> <p class="uk-margin-remove uk-text-meta">
                                                        Sự nhẹ nhàng trong trẻo của Cầu Đất kết hợp cùng cái nồng nàn, mạnh mẽ từ Đăk Nông tạo nên một hương vị cân bằng hòa hợp đặc trưng không thể hòa lẫn. Chút đượm và chua thanh cao, chút ngọt đắng đậm màu cao nguyên.
                                                        Sản phẩm là cafe rang xay nguyên hạt
                                                    </p> <a class="uk-link-reset">70.000&nbsp;₫</a>
                                                </div>
                                            </div> <div class="uk-position-bottom-right"><span uk-icon="icon: plus-circle; ratio: 1.5" class="uk-text-primary uk-icon"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9.5" cy="9.5" r="9"></circle> <line fill="none" stroke="#000" x1="9.5" y1="5" x2="9.5" y2="14"></line> <line fill="none" stroke="#000" x1="5" y1="9.5" x2="14" y2="9.5"></line></svg></span></div>
                                        </header>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-v-300db8a7="" id="cate1" class="menu">
                        <div data-v-300db8a7="" class="uk-width-1-1">
                            <ul data-v-300db8a7="" class="uk-list">
                                <li>
                                    <label>Cà phê</label> <article class="uk-comment uk-visible-toggle product-menu" style="background-color: white; padding: 12px;">
                                        <header class="uk-position-relative">
                                            <div uk-grid="" class="uk-grid-medium uk-flex-top uk-grid">
                                                <div class="uk-width-auto uk-first-column"><img src="https://tchmobileapp.s3.ap-southeast-1.amazonaws.com/menufrontend/5ef00e2c91ab1a0012840427_espresso-tonic-2206.jpg" width="80" height="80" alt="" class="uk-comment-avatar"></div> <div class="uk-width-expand" style="padding-left: 10px;">
                                                    <p class="uk-margin-remove"><a class="uk-link-reset"><b>Espresso Tonic</b></a></p> <p class="uk-margin-remove uk-text-meta">
                                                        Đậm đà, tươi mới
                                                        Sự kết hợp mới lạ hiện đại với 2 shot Espresso và lớp Tonic dưới cùng - Cho từng ngụm đậm đà, chua thanh, đắng dịu, hậu vị tươi mới đầy tươi tỉnh.
                                                    </p> <a class="uk-link-reset">50.000&nbsp;₫</a>
                                                </div>
                                            </div> <div class="uk-position-bottom-right"><span uk-icon="icon: plus-circle; ratio: 1.5" class="uk-text-primary uk-icon"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9.5" cy="9.5" r="9"></circle> <line fill="none" stroke="#000" x1="9.5" y1="5" x2="9.5" y2="14"></line> <line fill="none" stroke="#000" x1="5" y1="9.5" x2="14" y2="9.5"></line></svg></span></div>
                                        </header>
                                    </article>
                                </li>
                                <li>
                                    <!----> <article class="uk-comment uk-visible-toggle product-menu" style="background-color: white; padding: 12px;">
                                        <header class="uk-position-relative">
                                            <div uk-grid="" class="uk-grid-medium uk-flex-top uk-grid">
                                                <div class="uk-width-auto uk-first-column"><img src="https://tchmobileapp.s3.ap-southeast-1.amazonaws.com/menufrontend/5ef00e2c91ab1a0012840426_yuzu-espresso-tonic-2206.jpg" width="80" height="80" alt="" class="uk-comment-avatar"></div> <div class="uk-width-expand" style="padding-left: 10px;">
                                                    <p class="uk-margin-remove"><a class="uk-link-reset"><b>Yuzu Espresso Tonic</b></a></p> <p class="uk-margin-remove uk-text-meta">
                                                        Khác biệt - Tươi tỉnh - Giải nhiệt
                                                        Sự kết hợp lần đầu tiên của Espresso, Tonic cùng nước ép Yuzu (quýt Nhật) - Cho bạn 1 tách Espresso khác biệt chưa từng có, đậm vị tươi tỉnh, giải nhiệt khoan khoái không thể hoà lẫn.
                                                    </p> <a class="uk-link-reset">50.000&nbsp;₫</a>
                                                </div>
                                            </div> <div class="uk-position-bottom-right"><span uk-icon="icon: plus-circle; ratio: 1.5" class="uk-text-primary uk-icon"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9.5" cy="9.5" r="9"></circle> <line fill="none" stroke="#000" x1="9.5" y1="5" x2="9.5" y2="14"></line> <line fill="none" stroke="#000" x1="5" y1="9.5" x2="14" y2="9.5"></line></svg></span></div>
                                        </header>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div data-v-300db8a7="" uk-grid="" class="uk-grid-small uk-flex uk-flex-center uk-text-center uk-grid uk-grid-stack" style="display: none;">
                        <div data-v-300db8a7="" class="uk-width-1-2">
                            <img data-v-300db8a7="" src="/img/search.png" alt="" uk-img=""> <h3 data-v-300db8a7="" style="margin-top: 0px;">
                                <span data-v-300db8a7="" class="uk-text-primary uk-text-bold">
                                    Rất tiếc chúng tôi không tìm
                                    thấy sản phẩm!
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div data-v-2c4ae852="" id="container_sticky" class="uk-card uk-card-default uk-card-body uk-card-small uk-padding-remove uk-sticky" style="z-index: 0;">
                    <div data-v-2c4ae852="" class="uk-card-header uk-visible@l">
                        <button data-v-2c4ae852="" type="button" disabled="disabled" class="tch-text-bold uk-button uk-button-primary uk-width-1-1 uk-padding-remove-left uk-padding-remove-right">
                            XEM GIỎ HÀNG
                            <!---->
                        </button>
                    </div> <div data-v-2c4ae852="" class="cart-sticky">
                        <div data-v-2c4ae852="" class="uk-card-footer">
                            <div data-v-2c4ae852="" uk-grid="" class="uk-grid-small uk-padding-remove-bottom uk-grid"><div data-v-2c4ae852="" class="uk-width-expand uk-first-column">Cộng (0 món)</div> <div data-v-2c4ae852="" class="uk-width-auto"></div></div> <div data-v-2c4ae852="" uk-grid="" class="uk-grid-small uk-padding-remove-bottom uk-grid">
                                <div data-v-2c4ae852="" class="uk-width-expand uk-first-column">Vận chuyển</div> <div data-v-2c4ae852="" class="uk-width-auto">
                                    0&nbsp;₫
                                </div>
                            </div> <!----> <!----> <div data-v-2c4ae852="" uk-grid="" class="uk-grid-collapse uk-padding-remove-bottom uk-margin-top uk-grid"><div data-v-2c4ae852="" class="uk-width-expand uk-first-column"><input data-v-2c4ae852="" placeholder="Nhập mã ưu đãi tại đây" uk-form-width-medium="" type="text" class="uk-input"></div> <div data-v-2c4ae852="" class="uk-width-auto"><button data-v-2c4ae852="" class="uk-button uk-button-default tch-text-white tch-text-bold uk-button-primary">ÁP DỤNG</button></div></div> <!---->
                        </div> <div data-v-2c4ae852="" class="uk-card-footer"><div data-v-2c4ae852="" uk-grid="" class="uk-grid-small uk-grid"><div data-v-2c4ae852="" class="uk-width-expand uk-first-column" style="margin-top: 5px;">Tổng cộng</div> <div data-v-2c4ae852="" class="uk-width-auto uk-text-large tch-text-bold">0&nbsp;₫</div></div></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/app/ThimUtController.js")