@{
    ViewBag.Title = "Vietnam Tours & Holidays | VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels";
    ViewBag.Description = "Vietnam is a hit with everyone who visits with the bustling streets of Hanoi or the villages of Sapa, there&#039;s something for everyone here. Book your tour today.";
    ViewBag.Keywords = "mekong delta tours, mekong tours, cu chi tunnel tour, cu chi tour, tunnels of cu chi";
    @*@ViewBag.hrefLang = "vietnamguide";*@
}

<link href="~/Content/vietnam-guide.css" rel="stylesheet" />
<div class="container-fluid" style="background-color:#F6F9FC;">
    <div class="container container-pad" id="vietnam-guide">
        <div class="row hidden-xs">
            <div class="col-md-12">
                <h2>
                    <small>Low-cost Day tours</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h1>VIET NAM HOLIDAY</h1>
                <h2>How to get a Visa-on-Arrival (VOA)?</h2>
                <p>All you need to do is to simply fill in an online application form (service fee required). Within 3-5 working days you’ll receive a visa approval letter, which means your visa will be ready at your appointed airport</p>
                <p>Copies of the approval letter will then be forwarded to Vietnam immigration checkpoints only at International Airports (Noi Bai/Tan Son Nhat/Da Nang). Upon your arrival, find the visa-on-arrival counter, where all documents are ready to quickly issue your entry visa.</p>
                <h2 id="vietnam">When to go ?</h2>
                <p>There are noticeable regional variations among the North, Centre and South of Vietnam.</p>
                <p style="margin-top: -8px;">In general, the North tends to have distinct seasons with cooler climate than the rest of the country during winter (November – February), while its summer (June – August) offers hot and humid weather with both sunshine and rain. Central Vietnam experiences warmer weather between July - October and wet, colder weather during November - April. Since its temperature remains constantly high of averagely 28-35 degrees Celsius all year round, the South simply has two seasons: wet (May – November) and dry (December – April). Avoid visiting this area from June to August, when it features the highest rainfall of the year if you don’t plan to get wet.</p>
                <h2>
                    <i>Sights & Places</i>
                </h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/saigon.jpg">
                    </div>
                    <div class="col-md-8 pull-right" id="detail-saigon">
                        <h4>Ho Chi Minh City (Saigon)</h4>
                        <p>Sai Gon, also commonly known as Ho Chi Minh City, was once the capital of the French colony and currently a metropolitan area covering most parts of Vietnam’s south-east region. The city is well-known for its diversified cuisines and bustling nightlife.</p>
                        <p>Suggested places to see: The Notre-Dame Cathedral Basilica and The Central Post Office, of which designs are in European architectural style, are some must-visit destinations when you stay in Sai Gon. Moreover, you can learn about the history of war by visiting The Reunification Palace, The War Museum or Cu Chi Tunnels. Don’t forget to take a boat trip around Mekong Delta for some adventures.</p>
                        <p>Peak season: Lunar New Year Festival (Tet Festival) often falls between late January and mid February, which is among the most important holidays in Vietnam. Officially, the festival includes the 1st, 2nd and 3rd day in Lunar Calendar; however, Vietnamese people often spend about nearly a month to celebrate this special event. </p>
                        <p>Low season: Both domestic and international tourism volumes fall during the period from mid February to mid March.</p>
                        <p>Suggested places to see: The Notre-Dame Cathedral Basilica and The Central Post Office, of which designs are in European architectural style, are some must-visit destinations when you stay in Sai Gon. Moreover, you can learn about the history of war by visiting The Reunification Palace, The War Museum or Cu Chi Tunnels. Don’t forget to take a boat trip around Mekong Delta for some adventures.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/nhatrang.jpg">
                    </div>
                    <div class="col-md-8" id="detail-nhatrang">
                        <h4>Nha Trang</h4>
                        <p>Added to its splendour, Nha Trang’s shorelines has recently been renovated, with lovely parks and sculpture gardens stretching along impressive pavements. Another way to spend your leisure time besides exploring its legendary clear blue seas and crystal white sands is to laze at a gorgeous classy beachfront resort.</p>
                        <p>Suggested places to visit: Doc Let beach. After unwinding yourself by the beach, you may wish to visit Nha Trang Cathedral, an elegant French Gothic styled building constructed in the 1930s, overlooking a train station. The Vinpearl Land, Vinpearl Golf, Po Nagar Tower or the Panduranga (Thap Cham – Phan Rang) in the central area and the Museum of National Oceanography further to the South Coast area are also worth considering.</p>
                        <p>Peak season: March – October.</p>
                        <p>Low season: November – February.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/phanthiet.jpg">
                    </div>
                    <div class="col-md-8" id="detail-phanthiet">
                        <h4>Phan Thiet</h4>
                        <p>About 200km north of Sai Gon, Phan Thiet together with its fishing villages has become a popular leisure destination. Resort-style developments are everywhere along the coastline while recreational sports on and under the water such as paragliding, sailing, surfing, jet-skiing, snorkelling or scuba-diving, are available daily.</p>
                        <p>Suggested places to visit: Red and White Sand Dunes, White Lake and Fairy Stream.</p>
                        <p>Peak season: Usually summer holidays (May – July), Vietnam Reunification Day April 30 and International Workers’ Day May 1 particularly.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/condao.jpg">
                    </div>
                    <div class="col-md-8" id="detail-condao">
                        <h4>Con Dao</h4>
                        <p>Among top attractions in Vietnam, Con Dao comprises 15 magnificent islands and islets with stunning beaches, glittering coral reefs and scenic bays off the southern coast and isolated from the mainland. Hiking, diving, wildlife-observing and exploring deserted coastal roads and beaches are some recommended activities for tourists visiting this lonely planet.</p>
                        <p>Peak season: May – July.</p>
                        <p>Low season: January – March.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/hoian.jpg">
                    </div>
                    <div class="col-md-8" id="detail-hoian">
                        <h4>Hoi An</h4>
                        <p>Hoi An owns an exceptionally well-preserved Ancient Town on Vietnam’s central coast. The town’s history is reflected in its multicultural architecture from its Japanese Covered Bridge, wooden Chinese temples to the colourful French colonial buildings.</p>
                        <p>Highly recommended places to visit includes: Phuoc Kieu Bronze Casting Village, Tra Que Herb Village and Cam Thanh Ecological Village. The UNESCO world cultural heritage site My Son Sanctuary - the abandoned and partially ruined Indian Hinduism temples during Champa reign - is a little further.</p>
                        <p>Peak season: April – September.</p>
                        <p>Low season: November – March.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/dalat.jpg">
                    </div>
                    <div class="col-md-8" id="detail-dalat">
                        <h4>Da Lat</h4>
                        <p>Regarded as the city of eternal spring, Dalat has a daily average temperature of 15°C minimum to 24°C maximum all year round.</p>
                        <p>This city’s most famous for its farming products including vegetables and flowers, especially the colourful hydrangeas. Conquering the majestic Lang Biang Mountain (or Lam Vien Mountain) is among top things to do in Dalat according to travel review sites.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/danang.jpg">
                    </div>
                    <div class="col-md-8" id="detail-danang">
                        <h4>Da Nang</h4>
                        <p>Da Nang is a coastal city of central Vietnam known for its sandy beaches and history as a French colonial port. With the most modern newly built resort, hotel and restaurant system, Da Nang has recently emerged as a spectacular destination for world-wide travellers.</p>
                        <p>For those who’re interested in arts and galleries, we recommend Museum Of Cham Sculpture, where you’ll find the world’s largest collection of Cham artefacts founded in 1915. We suggest Phap Lam Pagoda or Cao Dai Temple as well, in case you’re more into religious sites.</p>
                        <p>Other attractions to visit: From Da Nang travellers can easily get access to Hoi An ancient town, Son Tra Peninsula’s Pristine Forest, the Ba Na hills and Hai Van pass, where you can contemplate the peaceful Da Nang Bay and the majestic Marble Mountains.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/phuquoc.jpg">
                    </div>
                    <div class="col-md-8" id="detail-phuquoc">
                        <h4>Phu Quoc</h4>
                        <p>An hour flight from Saigon, Phu Quoc lies by the Gulf of Thailand, best known for its stunning beaches, fresh air, cool wind and intact natural environment. It’s about time you savoured exquisite local seafood while indulging yourself in high-class services provided by the most luxurious hotels and resorts in this world-renowned quintessential island. Especially, do not miss the chance to go squid fishing!</p>
                        <p>Heavenly beaches to visit includes: Bai Truong, Ganh Dau, Bai Sao, Cua Can, Vung Bau, Bai Dai, Bai Thom, and Bai Vong. Besides white sands and clear blue water, each also has some distinct features for your consideration.</p>
                        <p>Peak season: During the period between November and March, Phu Quoc islands’ sub-equatorial climate with its consistent temperature of around 25-28 degrees Celsius plus lower humidity makes it the best time for tourists to come.</p>
                        <p>Low season: July – September can be wet and muddy due to the monsoon.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/hue.jpg">
                    </div>
                    <div class="col-md-8" id="detail-hue">
                        <h4>Hue</h4>
                        <p>Known as a UNESCO World Heritage site of history, culture and cuisines, Hue ancient city perfectly lies alongside the picturesque Huong River. The city biannually hosts the Festival of Hue, an art festival featuring local and international artists and performers. Hue’s also famous for its tranquility, where you are completely free from your bustling life.</p>
                        <p>Places to visit: It is advisable either to spend your precious time at the Imperial Citadel (Forbidden City), or to enjoy a dragon boat trip to Hue’s oldest pagoda Thien Mu before entering some of the Vietnam’s latest Emperors like Khai Dinh and Minh Mang’s Tombs. Additionally, Trang Tien Bridge, Dong Ba Market, Hue Royal Antiques Museum and the conical hat village are also recommended.</p>
                        <p>Peak season: October – March.</p>
                        <p>Low season: While the city is usually flooded in September – November, try to avoid July – August also if you’re not into the scorching heat.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/images/travelguide/img/hanoi.jpg">
                    </div>
                    <div class="col-md-8" id="detail-hanoi">
                        <h4>Ha Noi</h4>
                        <p>Like no other Asian capitals as Bangkok filled with shopping malls, Singapore with high-rise towers or the modern metro-frenzy Tokyo, Hanoi remains a traditional developing capital with its renowned Old Quarter. Not only is it an economic centre, but it also includes many outstanding historic sites and other tourist attractions. Ha Noi Old Quarter specifically, is a unique character of this city.</p>
                        <p>Suggested places to visit includes: Duong Lam Ancient village, Ha Long Bay (Quang Binh), Sa Pa (Lao Cai), Tam Coc – Bich Dong (Ninh Binh). Furthermore, taking a bike tour to the majestic mountainous Mai Chau of northwestern Vietnam, which’s not yet a tourism hotspot, cycling through its rice fields and hiking to remote towns, or simply spending time enjoying your pleasant stay in Ha Noi with luxurious accommodation and excellent services, are all highly recommended.</p>
                        <p>Best time to visit Hanoi: November – mid February, when you can enjoy both the cold winds and the cosy atmosphere of western Christmas and traditional Tet.</p>
                        <p>Low season: March and May – mid June.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix pull-right">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#vietnam">When to go ?</a></li>
                        <li><a href="#detail-saigon">Saigon</a></li>
                        <li><a href="#detail-nhatrang">Nha Trang</a></li>
                        <li><a href="#detail-phanthiet">Phan Thiet</a></li>
                        <li><a href="#detail-condao">Con Dao</a></li>
                        <li><a href="#detail-dalat">Da lat</a></li>
                        <li><a href="#detail-phuquoc">Phu Quoc</a></li>
                        <li><a href="#detail-hue">Hue</a></li>
                        <li><a href="#detail-hanoi">Ha Noi</a></li>
                        <li><a href="#vietnam">Top</a></li>
                    </ul>
                </nav>
            </div>
            <div clearfix></div>
        </div>
    </div>
</div>
    <!-- Custom Theme JavaScript -->
    @*<script>


    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>*@
