@{
    Layout = "~/Views/Shared/_LayoutSlidebar.cshtml";
}
<div class="row" style="padding: 0px 10px 0px 30px">
    <div class="col-md-9 mx-auto" style="margin:20px;">

        <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="/">
                    Home
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                How to make a new Visa
            </span>
        </article>
        <h1 class="heading-section">How to make a new Visa</h1>
        <p>
            A Vietnamese visa, which is a kind of travel document granted by Vietnamese competent authorities, is a permission to travel to Vietnam.<br />
            At the moment, there are up to 3 ways to get a Vietnam visa:<br />
            <ul>
                <li>On-arrival BUT a visa approval letter must be gained before arrival.</li>
                <li>At the Embassy or consulate;</li>
                <li>and e-visa (available for 1-month single entry, and granted for 80 countries).</li>
            </ul>
            The types of Vietnam visa consists of Tourist visa (DL):<br />
            <ul>
                <li>Business visa (DN1, DN2)</li>
                <li>Investor Visa (DT1, DT2, DT3, DT4)</li>
                <li>Working visa (LD1 – LD2, LV1 - LV2) working with Vietnam authorities/parties</li>
                <li>TT visa Dependents of LV1, LV2, LS, DT1, DT2, DT3, NN1, NN2, DH, PV1, LD1-LD2 visa holders, or foreigners that are parents, spouse, children of Vietnamese citizens. Maximum of 12 months</li>
                <li>EVisa(EV) Electronic visa  Maximum 30 days</li>
                <li>VR  Family visits, other purposes  Maximum of 6 months</li>
                <li>Diplomatic visa (NG)</li>
                <li>Student/internship visa (DH)</li>
            </ul>
        </p>
        <div>
            <div class="border_solid">
                <h2>Visa Extension/ VOA letter/ WP/ TRC Services</h2>
                <ul>
                    <li>Expert Consultation</li>
                    <li>Support 24/7</li>
                    <li>Lowest Price Guarantee</li>
                </ul>
                <h4>
                    WhatsApp: +840909450430
                </h4>
            </div>
        </div>
        <p>
            <h2>Visa extension/Renewal </h2>
        <p>
            <h3>1 - Visa extension</h3>
            Visa extension is applied for foreigners wanting to prolong their current stay in Vietnam without leaving the country. The Immigration department is to grant an extension stamp for 1month or 3months.<br />
            <i>Note:</i>Visa extension is good for a single entry only and visa-holders must stay in Vietnam for under a year.
        </p>
        <p>
            <h3>2 - Visa renewal</h3>
            The visa renewal is almost similar to the visa extension.  However, a new visa sticker is granted on your passport and is required to pay extra sticker fees.
        </p>
        <div>
            <div class="border_solid">
                <h2>Visa Extension/ VOA letter/ WP/ TRC Services</h2>
                <ul>
                    <li>Expert Consultation</li>
                    <li>Support 24/7</li>
                    <li>Lowest Price Guarantee</li>
                </ul>
                <h4>
                    WhatsApp: +840909450430
                </h4>
            </div>
        </div>
        <p>
            <h3>3 - Visa Extension/Renewal Requirements</h3>
            The original passport must: <br />
            <ul>
                <li>Valid for at least 04 months and  at least 02 blank pages. </li>
                <li>Some paperworks signed and stamped by your company such as NA5,...</li>
            </ul>

            Why should you choose a visa extension?  <br />
            <ul>
                <li>Save your time. The only choice to remain staying in Vietnam legally after your visa expiry date without leaving the country as a visa run is not available during COVID 19. </li>
                <li>Save your cost because you have to pay a visa approval letter, stamp fees, transport….</li>
            </ul>
            <h3>4 - Where to Extend Visa in Vietnam</h3> <br />
            The following Immigration offices are in charge of extending visas in Vietnam. <br />
            <ul>
                <li>Hanoi immigration office: 44-46 Tran Phu, Ba Dinh District, Hanoi</li>
                <li>Immigration office in Ho Chi Minh City: 196 Nguyen Thi Minh Khai, Ward 6, District 3, Ho Chi Minh city </li>
                <li>Immigration department in Ho Chi Minh City: 333 Nguyen Trai, Ward 6, District 1, Ho Chi Minh city</li>
                <li>Working hours: Monday-Friday (Morning: 7am – 11h30am; Afternoon: 1h30pm – 5pm) and Saturday (Morning time only)</li>
            </ul>
            <h3>4 - How to extend a Vietnam visa</h3><br />
            You can choose a visa extension applied at the Vietnam Immigration Department either by yourself or via visa extension service agents. The agents do it simply and easily but cost more. Here is steps of the visa extension via the agents<br />
            <ul>
                <li>Step 1: Send us  details such as a soft copy of the passport, the latest arrival stamp, and extension stamps in order to check if it can be extended?</li>
                <li>Step 2: Send your original passport & required paperworks to our office and pay the extension fee</li>
                <li>Step 3: Process 5-10 working days normally or 3 working days for express services upon request.</li>
            </ul>
        </p>
        </p>

    </div>
    <div class="col-md-3 mx-auto third-colum">
        <div class="border_dashed" style="margin-top:100px;">
            <h4 style="text-align:center; ">Contact Us</h4>
            <div style="text-align:center">
                Online  WhatsApp Support  <br />
                +84916388382<br />
                <span style="text-align:center;width:100%;">(Business Setup)</span><br />
                +84919185990 <br />
                <span style="text-align: center; width: 100%;">(Tours)</span><br />
                @*+84909450430 <br />
                <span style="text-align: center; width: 100%;">(Visa,TRC)</span><br />*@
            </div>
            <div style="vertical-align:middle;text-align:center;width:100%;"><img src="@Url.Content("~/images/background/support icon.png")" style="width:140px; text-align:center" /></div>

        </div>
    </div>
</div>
