@{
    Layout = "~/Views/Shared/_LayoutSlidebar.cshtml";
}
<div class="row" style="padding: 0px 10px 0px 30px">
    <div class="col-md-9 mx-auto" style="margin:20px;">

        <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a property="v:title" rel="v:url" href="/">
                    Home
                </a>&nbsp;››&nbsp;
            </span>
            <span typeof="v:Breadcrumb">
                Working in Vietnam
            </span>
        </article>
        <h1 class="heading-section" >Working in Vietnam</h1>
        <div>
            Vietnam is a small and S-shaped country in the world map. The Vietnam economy is rapidly growing in the Asian area. The local labor force are learning and adapting the international work speed and style as well. For the expats who are coming to Vietnam for work for the first time, …. you may have an idea of what to expect though, can help you to better acclimate and handle your new work environment and colleagues. On other hands,  the expats need to know the procedure to work and reside in Vietnam legally.
            <h2>Jobs and Working culture</h2>
            Expats working in Vietnam generally relocate to take up high-level managerial positions or are young people moving to Vietnam on a short-term job as English teacher or volunteer… <br />
            The Vietnam work environment is similar to Asian countries such as China, South Korea and Japan. The company in Vietnam has  a very hierarchical structure and expats are expected to show the necessary respect towards their seniors in the workplace. Time is money,  so punctuality is very important at work. The office is a formal environment and workers are expected to dress and behave appropriately. The Vietnamese have a healthy work ethic and are generally hardworking and industrious.<br />
            Many companies in Vietnam have moved from 6 days to 5 days per week schedule. This is especially true for Multinational Corporations and companies engaged in white collar work. Normal working hours are 40-45 hours per week. Normally there is a one-hour to one half-hour lunch break. Over-time is not applicable to most of the professional and managerial jobs. Salary level in Vietnam is generally lower than in other large expat locations, but the "Cost of Living in Vietnam"  is much lower than other locations. Networking is incredibly important in Vietnam and expats will soon find that a broad social group is important. The social occasion also provides good opportunities for expats to network and interact with their Vietnamese counterparts.<br />

            <h3>How to apply for a Vietnam work permit?</h3>
            <p>
                <b>What is the Work Permit </b><br />
                A Vietnam work permit is an official certificate issued by the Department of Labor, Invalid and Social Affairs to allow its holder to work in Vietnam legally. In order to be eligible for a Vietnam work permit application, the foreigners have employment in a company/entity registered and recognized in Vietnam. And Vietnam work permit is an important paper to apply for a temporary residence card or a working visa for Vietnam. It is currently well governed by the Labor Code No. 45/2019/QH14 and the Decree No. 52/2020/ND-CP.<br />
                <i>The work permit requirements are as follows:</i><br />
                <ul>
                    <li>Notarized copy of valid passport (Note: Applicants over the age of 18)</li>
                    <li>Original health check issued in Vietnam. The health check should be issued within the last 6 months.</li>
                    <li>Original Vietnam Police Check or legalized police check if issued abroad attached with its certified Vietnamese translation. The police check should be issued within the last 6 months.</li>
                    <li>Two (02) Photos-  4*6cm</li>
                    <li>Legalized copy documents proving the foreigner’s eligibility for applying position attached with their certified Vietnamese translation;</li>
                </ul>
                Meet the requirements for the job positions for Vietnam work permit as follows: <br />
                <ul>
                    <li>
                        Foreign experts must have either:<br />
                        - Having a bachelor’s degree or higher or equivalent and a certificate of at least 3 years of experience working in the trained field relevant to the job position. <br />
                        - Having a certificate of at least 5 years of experience working in the trained field relevant to the job position the foreign worker is expected to work for in Vietnam.
                    </li>
                    <li>
                        Technical workers: <br />
                        - Having been trained in technical or other fields for at least 01 year and having worked for at least 03 years in that field, or <br />
                        - Having a certificate of at least 05 years of working experience in a job suitable for the position.
                    </li>
                    <li>
                        Directors, CEOs … <br />
                        - Decision on the appointment, and <br />
                        - Having a certificate of at least 03 years of working experience in the relevant position.
                    </li>
                </ul>

                <b>Important notes:</b> Documents such as degree, working experience, birth certificate…. issued in foreign countries legalized. And a working experience must be certified in abroad<br />
                <h3>Work Permit Procedure</h3>
                <i>Step 1:</i> Apply for Approval of Demand on recruiting foreign workers<br />
                At least 30 days before the expected date when the foreign worker starts his/her work at the company, the employer shall submit the application for approval of demand on hiring foreign workers. <br />
                <i>Step 2:</i> Prepare documents for the work permit and get the work permit<br />
                At least 15 days before the expected date when the foreign worker starts his/her work at the company, the employer shall submit the documents prepared to the Ministry of Labor, War Invalids and Social Affairs or the Department of Labor, Invalids and Social Affairs of the province where the foreigner is expected to work.
            </p>
            <div>
                <div class="border_solid">
                    <h2>Vietnam Company Registration Service 399$US </h2>
                    <ul>
                        <li>100% foreign-owned company or The joint venture company</li>
                        <li>100% successful rate</li>
                        <li>Fast, easy & highest confidential via secured systems</li>
                        <li>Dedicated support (24/7)</li>
                    </ul>
                    <h4>
                        WhatsApp: (+84)916388382
                    </h4>
                </div>
            </div>
            <h2>The Vietnam Temporary Residence Card (TRC)</h2>
            <p>
                <h3>What is the TRC?</h3>
                According to the Law on Entry, Exit, Transit, and Residence of Foreigners in Vietnam 2014, the temporary residence card is a document issued by an immigration authority or a competent authority of the Ministry of Foreign Affairs, granted to foreigners who are allowed to reside for a certain period of time in Vietnam. <br />
                <h3>Why should you get TRC in Vietnam?</h3> <br />
                There are below benefits that holders of a TRC:<br />
                <ul>
                    <li>Foreigners who are granted temporary residence cards can buy apartments and in the near future may buy houses. At present, the Ministry of Construction is proposing that foreigners buy houses in Vietnam to resolve real estate issues.</li>
                    <li>Foreigners who are permitted to stay in Vietnam during the temporary residence card validity are not required to exit Vietnam as other visa type</li>
                    <li>Foreigners save money and are not concerned about the visa extension policy suspension</li>
                    <li>Foreigners can carry out business procedures, get married… very conveniently.</li>
                </ul>
                Who can apply for a temporary residence card in Vietnam?<br />
                <ul>
                    <li>Foreigners have a Vietnam work permit and their spouse</li>
                    <li>Foreigners are members of diplomatic missions, consular offices, representative offices of international organizations affiliated to the United Nations, intergovernmental organizations in Vietnam and their spouses, children under 18 years of age</li>
                    <li>Foreigners are granted LV1, LV2, ĐT, NN1, NN2, DH, PV1, LD, TT visas (note: the Vietnam temporary residence cards with symbols similar to the visa symbols. The Law on Entry, Exit, Transit, and Residence of Foreigners in Vietnam 2014 has defined new types of symbols and duration of each type of visa symbols for foreigners in Vietnam.</li>
                </ul><br />
                <div>
                    <div class="border_solid">
                        <h2>Vietnam Company Registration Service 399$US </h2>
                        <ul>
                            <li>100% foreign-owned company or The joint venture company</li>
                            <li>100% successful rate</li>
                            <li>Fast, easy & highest confidential via secured systems</li>
                            <li>Dedicated support (24/7)</li>
                        </ul>
                        <h4>
                            WhatsApp: (+84)916388382
                        </h4>
                    </div>
                </div>
                <br />
                Requirements and conditions for a temporary residence card: <br />
                <ul>
                    <li>The passport is valid for at least 13 months.</li>
                    <li>Two (02) 3*4cm photos</li>
                    <li>Application forms NA8 and NA6</li>
                    <li>One (01) notarized copy of Business Registration Certificate</li>
                    <li>Work permit or work permit exemption certificate;</li>
                </ul>
                If applying for a temporary residence card in Vietnam without work permit: <br />
                <ul>
                    <li>Investment certificate</li>
                    <li>License for establishment of representative office, branch of the company</li>
                    <li>Certificate of a member of the Board of Directors</li>
                    <li>Birth certificate, marriage certificate, … if applying for temporary residence card for spouse, children… </li>
                    <li>Proof of temporary residence declaration or Certification of temporary residence in the locality with the seal of the Commune Police.</li>
                </ul><br />
                <i><b>Note:</b> Vietnam consular legalization and notarized translation into Vietnamese are necessary for all documents in a foreign language.</i>
            </p>
        </div>

    </div>
    <div class="col-md-3 mx-auto third-colum">
        <div class="border_dashed" style="margin-top:100px;">
            <h4 style="text-align:center; ">Contact Us</h4>
            <div style="text-align:center">
                Online  WhatsApp Support  <br />
                +84916388382<br />
                <span style="text-align:center;width:100%;">(Business Setup)</span><br />
                +84919185990 <br />
                <span style="text-align: center; width: 100%;">(Tours)</span><br />
                @*+84909450430 <br />
                <span style="text-align: center; width: 100%;">(Visa,TRC)</span><br />*@
            </div>
            <div style="vertical-align:middle;text-align:center;width:100%;"><img src="@Url.Content("~/images/background/support icon.png")" style="width:140px; text-align:center" /></div>

        </div>
    </div>
</div>
