<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Vinaday Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="~/Content/css/lib/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/lib/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/css/boo-extension.css" rel="stylesheet">
    <link href="~/Content/css/boo.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/boo-coloring.css" rel="stylesheet">
    <link href="~/Content/css/boo-utility.css" rel="stylesheet">
    <link href="~/Content/css/loading.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png">

</head>
<body class="sidebar-left">
    <div class="page-container">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/lib/jquery.js"></script>
    <script src="~/Content/js/lib/jquery-ui.js"></script>
    <script src="~/Content/js/lib/jquery.cookie.js"></script>
    <script src="~/Content/js/lib/jquery.mousewheel.js"></script>
    <script src="~/Content/js/lib/jquery.load-image.min.js"></script>
    <script src="~/Content/js/lib/bootstrap/bootstrap.js"></script>

    <!-- Plugins Bootstrap -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
    <script src="~/Content/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>
    <script src="~/Content/plugins/bootstrap-fuelux/js/all-fuelux.min.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Content/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js"></script>
    <script src="~/Content/plugins/bootstrap-toggle-button/js/bootstrap-toggle-button.js"></script>
    <script src="~/Content/plugins/bootstrap-fileupload/js/bootstrap-fileupload.js"></script>
    <script src="~/Content/plugins/bootstrap-rowlink/js/bootstrap-rowlink.js"></script>
    <script src="~/Content/plugins/bootstrap-progressbar/js/bootstrap-progressbar.js"></script>
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/Content/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/Content/plugins/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="~/Content/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="~/Content/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="~/Content/plugins/bootstrap-wizard/js/bootstrap-wizard.min.js"></script>
    <script src="~/Content/plugins/bootstrap-wizard-2/js/bwizard-only.min.js"></script>
    <script src="~/Content/plugins/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>


    <!-- Plugins Custom - Only example -->
    <script src="~/Content/plugins/pl-extension/google-code-prettify/prettify.js"></script>

    <!-- Plugins Custom - System -->
    <script src="~/Content/plugins/pl-system/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/plugins/pl-system/xbreadcrumbs/xbreadcrumbs.js"></script>

    <!-- Plugins Custom - System info -->
    <script src="~/Content/plugins/pl-system-info/qtip2/dist/jquery.qtip.min.js"></script>
    <script src="~/Content/plugins/pl-system-info/gritter/js/jquery.gritter.min.js"></script>
    <script src="~/Content/plugins/pl-system-info/notyfy/jquery.notyfy.js"></script>

    <!-- Plugins Custom - Content -->
    <script src="~/Content/plugins/pl-content/list/js/list.min.js"></script>
    <script src="~/Content/plugins/pl-content/list/plugins/list.paging.min.js"></script>
    <script src="~/Content/plugins/pl-content/jpages/js/jPages.js"></script>

    <!-- Plugins Custom - Component -->
    <script src="~/Content/plugins/pl-component/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Content/plugins/pl-component/rangeslider/jqallrangesliders.min.js"></script>

    <!-- Plugins Custom - Form -->
    <script src="~/Content/plugins/pl-form/uniform/jquery.uniform.min.js"></script>
    <script src="~/Content/plugins/pl-form/select2/select2.min.js"></script>
    <script src="~/Content/plugins/pl-form/counter/jquery.counter.js"></script>
    <script src="~/Content/plugins/pl-form/elastic/jquery.elastic.js"></script>
    <script src="~/Content/plugins/pl-form/inputmask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/pl-form/inputmask/jquery.inputmask.extensions.js"></script>
    <script src="~/Content/plugins/pl-form/validate/js/jquery.validate.min.js"></script>
    <script src="~/Content/plugins/pl-form/duallistbox/jquery.duallistbox.min.js"></script>

    <!-- Plugins Custom - Gallery -->
    <script src="~/Content/plugins/pl-gallery/nailthumb/jquery.nailthumb.1.1.min.js"></script>
    <script src="~/Content/plugins/pl-gallery/nailthumb/showLoading/js/jquery.showLoading.min.js"></script>
    <script src="~/Content/plugins/pl-gallery/wookmark/jquery.imagesloaded.js"></script>
    <script src="~/Content/plugins/pl-gallery/wookmark/jquery.wookmark.min.js"></script>

    <!-- Plugins Tables -->
    @*<script src="~/Content/plugins/pl-table/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/pl-table/datatables/plugin/jquery.dataTables.plugins.js"></script>
    <script src="~/Content/plugins/pl-table/datatables/plugin/jquery.dataTables.columnFilter.js"></script>*@

    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">
    </script>

    <!-- Plugins data visualization -->
    <script src="~/Content/plugins/pl-visualization/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/plugins/pl-visualization/easy-pie-chart/easy-pie-chart.js"></script>
    <script src="~/Content/plugins/pl-visualization/percentageloader/percentageloader.min.js"></script>
    <script src="~/Content/plugins/pl-visualization/knob/knob.js"></script>
    <script src="~/Content/plugins/tinymce/js/tinymce/tinymce.min.js"></script>
    
    <!-- main js -->
    <script src="~/Content/js/core.js"></script>
    <script src="~/Content/js/application.js"></script>

    <!-- Only This Demo Page -->
    <script src="~/Content/js/vinaday.js"></script>
</body>
</html>
