<div class="span4 grider">
    <div class="widget widget-simple widget-notes">
        <div class="widget-header">
            <h4><i class="fontello-icon-edit"></i> Notes</h4>
            <div class="widget-tool"><a class="btn btn-green btn-small btn-glyph" href="javascript:void(0);"> show all</a></div>
        </div>
        <div class="widget-content">
            <div class="widget-body">
                <form id="formNotes">
                    <fieldset>
                        <label for="accountTaxVat" class="control-label"> Title</label>
                        <input id="accountTaxVat" class="input-block-level" type="text">
                        <label for="accountNotes">Note Text:</label>
                        <textarea id="accountNotes" class="input-block-level" rows="4"></textarea>
                    </fieldset>
                    <!-- // fieldset Input -->

                    <button class="btn btn-yellow btn-block">Add a note</button>
                </form>
            </div>
        </div>
        <div class="widget-header">
            <h4><i class="fontello-icon-list-alt"></i> Last Note for Account </h4>
        </div>
        <div class="widget-content">
            <div class="widget-body">
                <ol class="widget-list list-dotted">
                    <li class="media">
                        <span class="pull-left"><span class="item-icon fontello-icon-pin-1"></span></span>
                        <div class="media-body">
                            <span class="date">10:30 AM</span> <span class="quick-menu-icon pull-right"> <a class="edit fontello-icon-edit"></a> <a class="state fontello-icon-archive"></a> <a class="state fontello-icon-trash-1"></a> </span>
                            <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                        </div>
                    </li>
                    <li class="media">
                        <span class="pull-left"><span class="item-icon fontello-icon-pin-1"></span></span>
                        <div class="media-body">
                            <span class="date">09-09-2012 02:30 PM</span> <span class="quick-menu-icon pull-right"> <a class="edit fontello-icon-edit"></a> <a class="state fontello-icon-archive"></a> <a class="state fontello-icon-trash-1"></a> </span>
                            <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                        </div>
                    </li>
                    <li class="media">
                        <span class="pull-left"><span class="item-icon fontello-icon-pin-1"></span></span>
                        <div class="media-body">
                            <span class="date">08-15-2012 11:50 AM</span> <span class="quick-menu-icon pull-right"> <a class="edit fontello-icon-edit"></a> <a class="state fontello-icon-archive"></a> <a class="state fontello-icon-trash-1"></a> </span>
                            <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>