<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                    _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?4OC2gL4fBb9JwAqMRtNnIgJ772KM69RL"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->
<!-- Google Tag Manager (noscript) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-245004625-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-245004625-1');
</script>

<footer id="footer" style="padding-bottom: 0px;">
    <div class="container">
        <!-- container fluid -->
        <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-6 socialMedia">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6">
                        <div id="TA_cdsratingsonlynarrow599" class="TA_cdsratingsonlynarrow">
                            <ul id="kcwN4rkdspyR" class="TA_links PYvHEdalU"><li id="4XynII" class="z89yPDQ1H3"><a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor" /></a></li></ul>
                        </div>
                        <script async src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=599&amp;locationId=2608200&amp;lang=en_US&amp;border=false&amp;display_version=2"></script>
                        <!-- TrustBox widget - Micro Review Count -->
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5d50ebbdf3ce940001356e96" data-style-height="36px" data-style-width="100%" data-theme="light"> <a href="https://www.trustpilot.com/review/goreise.com" target="_blank" rel="noopener">Trustpilot</a> </div>
                        <!-- End TrustBox widget -->
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6">

                        <p style="font-size: 15px; padding-top: 24px;">
                            Book online or call: <br>
                            <b style="color: #f58220;"><a href="tel:+84 916388382">+84 916388382</a></b><br />
                            <b style="color: #f58220;"><a href="mailto:cs@vinaday.com">cs@vinaday.com</a></b>
                        </p>

                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 vinaday_about ">
                <h4>Company</h4>
                <div class="row">
                    <div class="col-md-6 col-sm-xs-12">
                        <span class="first-xs"><a title="" href="https://goreise.com/about-us">About Us</a></span>
                        <span class="second-xs"><a title="" href="https://goreise.com/websites-rules">Website's Rules</a></span>
                        <span class="first-xs"><a title="" href="https://goreise.com/refund-policy">Refund Policy</a></span>
                    </div>
                    <div class="col-md-6 col-sm-xs-12">
                        <span class="second-xs"><a title="" href="https://goreise.com/payment-information">Payment</a></span>
                        <span class="first-xs"><a target="_blank" title="" href="https://goreise.com/careers">Careers</a></span>
                        <span class="second-xs"><a target="_blank" title="" href="https://goreise.com/chinh-sach-chung">Chính sách chung</a></span>
                    </div>

                </div>

            </div>


            <div style="margin-top: 50px;" class="hidden-xs col-sm-1 col-md-1">
                <a href="https://www.dmca.com/compliance/goreise.com" title="DMCA Compliance information for goreise.com"><img style="height:25px" src="https://www.dmca.com/img/dmca-compliant-grayscale.png" /></a><br />
                <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=42294" title="Goreise.com"><img style="width:100px;" src="http://online.gov.vn/Images/dathongbao.png" alt="Goreise.com" /></a>
                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>

            </div>

        </div>

    </div>

</footer>

<div class="brand-color-bkg " style="background-color: #f4d220; margin-bottom: 10px; padding-bottom: 10px; margin-top: 0; ">
    <p style="font-weight: bold"><small class="footer-copyrightText">&copy; @DateTime.Now.Year VINADAY goREISE. All rights reserved. Most hotels are independently owned and operated.</small></p>
</div>