<!DOCTYPE html>
<html lang="en" dir="ltr" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="msvalidate.01" content="4EE2B38A81436FC84FFF359AB3071B0E" />
    <link href="https://fonts.googleapis.com/css?family=IBM Plex Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/main_vinaday_package.css")" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="@Url.Content("~/Scripts/vinadayCommon.js")"></script>


    <title>Holiday& Vacation Packages Deals in Vietnam, Cambodia, Myanmar, Thailand, Laos </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68154187-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-68154187-9');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1678764492335447');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1678764492335447&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <div id="app">
        <div class="App sc-EHOje dbjbYR" data-reactroot="">
            <header class="sc-kjoXOD bbKleJ">
                <div class="Header root-Pf6aw">
                    <div role="banner" class="inner-25HhJ large-31OiW">
                        <img style="height: 40px" src="/Content/Images/logo.png" alt="Beautiful places to visit">
                        <a href="tel:+842838388382" aria-label="Need Help? Call our Travel Experts" rel="nofollow" class="phone-mobile-3IqQu button-b7zqi link-upey1 sm-1mY_u with-gradient-191wD"><i class="sc-jAaTju hFFADz wrapper-3yYRC first-2Ykir"><svg height="16" width="16" fill="currentColor" viewBox="0 0 15.02 14.98"><title>phone</title><path d="M2.37 0a.51.51 0 0 0-.31 0C.94.47.23 2.07.06 3.17-.46 6.75 2.37 9.84 5 11.88c2.31 1.81 6.73 4.78 9.35 1.91A2.15 2.15 0 0 0 15 12.4c-.06-.87-.87-1.5-1.5-2S12 9.09 11.43 9.11s-.91.6-1.27 1l-.62.62c-.1.1-1.43-.77-1.58-.87a10.6 10.6 0 0 1-1.52-1.22 9.78 9.78 0 0 1-1.23-1.42 7.2 7.2 0 0 1-.87-1.52s.73-.79.93-1.1c.44-.66.77-1.18.27-2a4.64 4.64 0 0 0-.66-.77A12.61 12.61 0 0 0 3.51.66 2.91 2.91 0 0 0 2.37 0z"></path></svg></i></a>
                        <button class="T-side-menu-toggle nav-toggle-3ZEte button-b7zqi link-upey1 with-gradient-191wD" aria-expanded="false" aria-haspopup="true" aria-controls="MainMenu" type="button"><span class="toggle-nav-icon-2dzNp"><span class="sc-eHgmQL fpCYru"> </span></span></button>
                    </div>
                    <div class="menu-bar-2lpi_ in-hamburger-21J1b sc-ifAKCX jakHHU" id="MainMenu">
                        <nav role="menu" class="root-3-puB root-2_mxe in-hamburger-1iyTK">
                            <a class="button-b7zqi no-ui-3u24q sm-1mY_u with-gradient-191wD" aria-current="false" role="menuitem" href="https://goreise.com/best-holiday-tour-package"><span class="sc-jWBwVP dSvHXC text-39IgX">Tours Packages</span></a>
                            <a class="button-b7zqi no-ui-3u24q sm-1mY_u with-gradient-191wD" aria-current="false" role="menuitem" href="https://goreise.com/best-luxury-escapes-weekend-getaways"><span class="sc-jWBwVP dSvHXC text-39IgX">Hotel Packages</span></a>

                        </nav>
                        <nav class="root-2_mxe in-hamburger-1iyTK">
                            <div aria-label="Need Help? Call our Travel Experts" class="nav-element-17vYm in-hamburger-voLbw">
                                <button class="toggle-2U1sM button-b7zqi no-ui-3u24q with-gradient-191wD" aria-controls="dropdown-Need-Help?-Call-our-Travel-Experts" aria-haspopup="true" aria-expanded="false" type="button"><span><i class="sc-jDwBTQ giLIXr wrapper-3yYRC first-2Ykir"></i><div class="sc-gipzik jrILhE sc-jlyJG kcVUuD text-39IgX strong-2B3zn">++84 916388382</div></span></button>

                            </div>
                        </nav>
                        <nav role="menu" class="sc-dVhcbM dzZmll root-2_mxe in-hamburger-1iyTK">
                            <div class="sc-ifAKCX khdmoD">
                                <div class="sc-hzDkRC dSJlSM"></div>
                                <div></div>
                            </div>
                        </nav>
                    </div>

                </div>
            </header>

            @RenderBody()
            <footer class="PageFooter site-footer-1FeUw">
                <div class="SmallCopyright" style="text-align: center; font-size: 10px">
                    <h4 style="font-size: 9px;">
                        <br /><br />
                        Operated by VINADAY GOREISE VN CO., LTD <br />
                        Tax Code: 0310071681 issued by DPI Ho Chi Minh City, VN <br />
                        Add: 230 De Tham Street, Dist. 1, HCM city, VN 711228 <br /><br />
                    </h4>


                </div>
            </footer>
        </div>

    </div>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?4OC2gL4fBb9JwAqMRtNnIgJ772KM69RL"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
</body>

</html>
