@{
    var userName = ViewBag.User;
}

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MDGR7L');</script>
<!-- End Google Tag Manager -->
<style>
    .topmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="offcanvas" style="border-top: none">
    <div class="container">
        <header id="top" role="banner" style="margin: 0 auto;">
            <div class="block" style="margin: 0 auto;">
                <div class="topmenu">
                    <a href="/" class="logo" style="position: relative; margin: 0 auto; padding:0px 20px 0px 0px;">
                        <img src="/Content/images/logo.png" alt="logo vinaday" style="width: 178px; margin-top: 0px;" />
                    </a>
                </div>
                <div id="navmobi" class="hidden-sm hidden-md hidden-lg">
                    <ul>
                        <li>
                            <a title="vinaday tour" target="_blank" href="https://goreise.com/hotel">
                                <span class="fa fa-bed"></span>
                                <span class="menu-text">Hotel</span>
                            </a>
                        </li>
                        <li>
                            <a title="vinaday tour" target="_blank" href="https://goreise.com/tour">
                                <span class="fa fa-ship"></span>
                                <span class="menu-text">Tours</span>
                            </a>
                        </li>
                        <li>
                            <a title="" target="_blank" href="https://goreise.com/inquiry">
                                <span class="fa fa-users"></span>
                                <span class="menu-text">Customized Tours</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://goreise.vn" target="_blank" title="Tiếng Việt"><i class="flag flag-18 flag-18-vn"></i></a>
                        </li>
                    </ul>
                    <a class="close-btn" id="nav-close-btn" href="#top" style="display: none;">Return to Content</a>
                    <div class="nav-footer">
                    </div>
                </div>
            </div>
        </header>
        <nav id="nav" role="navigation">
            <div class="block">
                <ul>
                    <li>
                        <a title="vinaday tour" target="_blank" href="https://goreise.com/hotel">
                            <span class="fa fa-bed"></span>
                            <span class="menu-text">Hotel</span>
                        </a>
                    </li>
                    <li>
                        <a title="vinaday tour" target="_blank" href="https://goreise.com/tour">
                            <span class="fa fa-ship"></span>
                            <span class="menu-text">Tours</span>
                        </a>
                    </li>
                    <li>
                        <a title="" target="_blank" href="https://goreise.com/inquiry">
                            <span class="fa fa-users"></span>
                            <span class="menu-text">Customized Tours</span>
                        </a>
                    </li>
                    <li>
                        <a title="" target="_blank" href="https://goreise.com/concept">
                            <span class="fa fa-flash"></span>
                            <span class="menu-text">Concept</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://goreise.vn" target="_blank" title="Tiếng Việt"><i class="flag flag-18 flag-18-vn"></i></a>
                    </li>
                </ul>
                <a class="close-btn" id="nav-close-btn" href="#top" style="display: none;">Return to Content</a>
                <div class="nav-footer">
                </div>
            </div>
        </nav>
    </div>
    <div class="search-field">
        <div class="container">
            <form method="get" role="search">
                <input type="text" name="s" placeholder="Type then press enter..." />
                <button type="submit" class="hidden btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>